[2016-07-31 23:46] wake-up-neo commented on #6525
btw I can reproduce this error

[2016-07-31 23:52] wake-up-neo commented on #7076
I'm re-openning this issue again since the pull request is [stuck in discussion](https://reviews.facebook.net/D60339) with no progress.

[2016-08-01 00:08] creativeprogramming commented on #2675
i've to use ramfs for logging to avoid disk burning due to tons of notices due to this issue

[2016-08-01 15:13] edwinsmith commented on #3661
-vEval.EnableGC=1 on the commandline enables automatic backup mark/sweep collection, as well as enabling gc_collect_cycles() to actually run an on-demand collection. Unlike PHP7,  HHVM's implementation of gc_collect_cycles() does not count the number of cycles.

[2016-08-01 16:10] aorenste commented on #7255
Looks like Zend fixed this in 5.6.21 and 7.  I would say that we should probably fix this.

[2016-08-01 17:22] Orvid commented on #2675
Actually, could you file a separate issue for this? The base issue from this should already have been solved.

[2016-08-01 17:22] #2675 closed

[2016-08-01 18:14] #4511 closed, assigned to nobody

[2016-08-01 19:56] Sazpaimon opened #7261 "Yield expression from within if statement throws syntax error"
When using a yield statement inside of an `if` statement, a syntax error is thrown. Yields done like this is useful for coroutines in promise libraries.
### HHVM Version

3.10.0 - 3.12.0
### Standalone code, or other way to reproduce the problem

https://3v4l.org/8tkt2
### Expected result

string(4) "true"
### Actual result

Fatal error: syntax error, unexpected T_YIELD

[2016-08-01 20:11] Orvid commented on #7261
HHVM currently supports the yield statement, but doesn't quite support the yield expression. What you're trying to do here is using the yield expression, not the yield statement.

[2016-08-01 23:48] Orvid commented on #7260
I've cherry-picked the fix for this into the 3.14.4 release. See https://github.com/facebook/hhvm/commit/c1559a07632ee44c9dfb77e27a7c86524396ffae.

[2016-08-01 23:48] #7260 closed

[2016-08-02 00:04] concept47 commented on #3730
Just curious Was this ever resolved?

[2016-08-02 01:00] #7236 closed

[2016-08-02 08:42] xJakub opened #7262 "hphp fails when a constant refers to a duplicated class"
### HHVM Version

3.12.4
### Standalone code, or other way to reproduce the problem

Just have one of your classes' constant refer to a duplicated class and have hphp build your code.
- Alfa.php:

[code]
- Alfa2.php:

[code]
- Beta.php:

[code]
### Expected result

Code is compiled without errors.
### Actual result

[code]

However, the code is built correctly if optimizations are disabled.

[2016-08-02 12:46] alcohol opened #7263 "hhvm (osx) segfaults on json_decode() of large/particular json file"
### HHVM Version

HHVM 3.14.3 on Darwin / 14.5.0
### Standalone code, or other way to reproduce the problem

[code]
### Expected result

json decoded to array gets printed on screen
### Actual result

segfault
### Related

[composer/composer#5566](https://github.com/composer/composer/issues/5566#issuecomment-236880148)

[2016-08-02 15:50] plstand commented on #7198
From the [Scalar Type Declarations RFC](https://wiki.php.net/rfc/scalar_type_hints_v5) (emphasis added):

So if HHVM does apply the PHP7 weak type checking rules to built-in functions, for PHP7 compatibility, each and every parameter of a built-in function having a scalar type hint (to match zend_parse_parameters()) must accept NULL (unlike user-defined functions), **EXCEPT** in `strict_types` mod

[2016-08-02 16:25] plstand commented on #7198
This is not merely a warning that PHP7 does not generate, yet HHVM does. Rather, the function call fails because of the type error:
[code]

In PHP7, I get the same result in both cases:
[code]

[2016-08-02 16:27] fcorriga commented on #7152
... or monit.

[2016-08-02 17:10] plstand commented on #7253
I have updated the description and simplified the test case slightly, as it wasn't testing exactly what I thought it was.

[2016-08-02 18:29] Orvid commented on #7198
HHVM enables `strict_types` by default.

[2016-08-02 20:04] apeabody commented on #7198
Thanks - so it sounds like this is by design.  If that's the case and desired, then I would suggest documenting (or at least point to) that HHVM's PHP7 is always/really PHP7 strict_types and isn't targeting default compatibility with PHP7's default “coercive mode”.  That would hopefully assist with putting issues to rest about 3rd party code that consider HHVM's PHP7 as "broken" because the code d

[2016-08-02 20:05] plstand commented on #7198
Is that true? If so, I would expect line 4 of the following test case to generate an uncaught TypeError, at which point the script should terminate. Instead, only line 5 generates an error. (In PHP7, no error is generated.)

[code]

Also, changing line 2 (the blank line) to read `declare(strict_types=0);` makes no difference, and changing it to read `declare(strict_types=1);` causes line 4 to gene

[2016-08-02 20:13] apeabody commented on #7198
I don't know about str_pad in particular, but feel free to test my example of using rtrim(null) above for the behavior I'm seeing.

[2016-08-02 21:13] dustindoiron opened #7265 "Memcached::getVersion PHP incompatibility"
A PHP API inconsistency was discovered in HHVM 3.12.1 surrounding the `Memcached::getVersion` command.

### HHVM Version
HipHop VM 3.12.1 (rel)
Compiler: 1456975633_498207370
Repo schema: c0420568dcd107e78ab04e13142e17663b4804c2

### Standalone code, or other way to reproduce the problem
[code]
### Expected result
[code]
### Actual result
[code]

[2016-08-02 21:18] plstand commented on #7198
rtrim is the same:
[code]

----

Actual result in PHP7:
[code]

Changing line 2 to `declare(strict_types=0);` makes no difference.

Actual result in HHVM, with `hhvm.php7.all` on:
[code]

Changing line 2 to `declare(strict_types=0);` makes no difference.

----

Actual result in PHP7, with line 2 changed to `declare(strict_types=1);`:
[code]

Actual result in HHVM, with `hhvm.php7.all` on, and with

[2016-08-02 21:28] apeabody commented on #7198
OK, got it.

So guess the guess the question is in HHVM's PHP7 mode with declare(strict_types=0), is the *absence* of the special case for built-in's (str_pad, rtrim, etc) to accept NULL for a strings and integers by design or accident?

[2016-08-03 01:23] mpu commented on #6502
This is fixed now, this issue can be closed.

[2016-08-03 18:49] #6502 closed

[2016-08-03 18:57] paulbiss commented on #7198
So the current behavior is definitely wrong. There are a number of issues with the way that we handle types on builtins. Right now for builtins HHVM will follow the correct PHP7 behavior for declare(strict_types=1), but falls back to PHP5 behavior for declare(strict_types=0) (hence the warning rather than a fatal).

The fix for this shouldn't be overly complicated, should just require some updates

[2016-08-04 00:10] paulbiss commented on #7262
Hmm, this isn't all that surprising. We run repo mode internally against our Hack codebase, and Hack doesn't allow duplicate class names. It's probably worth fixing this, but I'm not certain there won't be other problems with hhbbc's optimizations given duplicate class names.

[2016-08-04 00:17] paulbiss commented on #6525
Hmm, if the system is having trouble finding the file under highload I'm not sure there's an easy solution on the HHVM side. Right now we need to be able to load the repo to extract information that isn't cached in memory such as line number<->bytecode maps. Adding an option to cache everything in memory may be one option but the right answer here is probably going to be to investigate why your fi

[2016-08-04 09:38] wake-up-neo commented on #6525
Thanks @paulbiss, agree regarding file system, this should be investigated and fixed.

btw, this would be great, since not every system have SSD and tuned OS. In this case in-memory repo would improve overall speed and stability of the virtual machine, it needs less kernel and doesn't rely on a filesystem.

[2016-08-04 10:33] craigcarnell commented on #4277
Doesn't work for me in latest either

[2016-08-04 10:45] GrahamCampbell commented on #6795
Any news here?

[2016-08-04 20:25] escapestring opened #7266 "Wrong Tax calculation on Magento"
I'm running Magento 1.9.1.0 at HHVM 3.14.4

I added `hhvm.enable_zend_sorting = 1` to /etc/hhvm/php.ini file and  /etc/hhvm/server.ini, but the tax calculation is actually wrong.
![bildschirmfoto 2016-08-04 um 22 17 59](https://cloud.githubusercontent.com/assets/8549484/17417117/fc55c2b2-5a91-11e6-9fd7-1152281daa2e.png)
34,90*0,07 = 2,429 and not 2,28 like Magento show it.

Has anyone an idea how

[2016-08-05 01:47] apeabody commented on #7265
This actually turned out to be two issues:
1. HHVM didn't handle key based arrays for addServers()
2. The above mentioned bool(false) instead of always an array for getVersion()

[2016-08-05 22:46] karek314 opened #7270 "Unknown or bad timezone (GMT+1)"
It's not possible to use "GMT+1/2/3" or "+1" - Fatal error with "Unknown or bad timezone"
`$gmt0 = new DateTime( 'now', new DateTimeZone('GMT+0'));
  $gmt1 = new DateTime( 'now', new DateTimeZone('GMT+1'));
  $gmt2 = new DateTime( 'now', new DateTimeZone('GMT+2'));`

Those examples works correctly on any php version i was able to test, but result in error on hhvm.

Simple workaround for this would

[2016-08-06 12:07] ycliu912 commented on #1005
mark:
same situation

[2016-08-07 05:08] acrylic-origami opened #7271 "Variance rules for static methods permit type violation"
### HHVM Version

[code]
### Standalone code, or other way to reproduce the problem

Static methods take no heed of the variance of type parameters. We can take advantage of overriding rules to break the type system by calling an overridden method with the expectation of a concrete type through the signature of the original method:

[code]

— performing the violation with the following:

[code]
##

[2016-08-08 01:23] HRMsimon opened #7272 "Support is_a for providing class checks to Hack"
### HHVM Version

3.14
### Standalone code, or other way to reproduce the problem

[code]
### Expected result

Hack reports no errors.
### Actual result

[code]

I can't use `instanceof` here as `$class` is a `classname` and `instanceof` always returns false if the object variable is a string.

[2016-08-08 03:05] HRMsimon opened #7273 "Add support for renaming a type"
`hh_client --refactor` lets you rename classes, functions and methods. It'd be nice if it could also rename types.

[2016-08-08 08:33] xJakub commented on #7262
Well, even if it is not going to be fixed, I think hhvm should at least output a better error message than "hphp failed", since it gives no hints about what caused the failure.

[2016-08-08 12:26] Bazman commented on #5893
I'm no expert on the source code, but the issue seems to be in the way HHVM serialises the DateTime object.

During serialisation, the DateTime __sleep method is called. It sets the "date" field in the object. This in turn seems to call the __set method on the Carbon object (which inherits from DateTime) but "date" isn't a valid option for Carbon's __set method, and so the exception is thrown.

ht

[2016-08-08 18:43] paulbiss commented on #7262
Agreed, I think this whole experience needs to be cleaned up. Building/optimizing a repo should be a lot easier.

[2016-08-08 18:44] paulbiss commented on #7273
@dlreeves @andrewjkennedy: is anyone on the Hack team working on the refactor tool these days?

[2016-08-08 18:45] paulbiss commented on #7272
cc @andrewjkennedy @dlreeves

[2016-08-08 18:48] paulbiss commented on #7271
cc @andrewjkennedy this looks like something you might be interested in.

[2016-08-08 23:33] andrewjkennedy commented on #7271
Another good catch! My hunch is that statics should have the same restrictions applied as for ordinary members, because classname can be used to vary the type through which they are accessed in the same way as subtyping can be used to vary the type of the object through which a  non-static member can be invoked.

[2016-08-09 16:12] andrewjkennedy commented on #7271
Further to my above comment, I believe it is sound to permit arbitrary use of variant parameters in static *final* methods or static methods in final classes. Happy to be proved wrong on this!

[2016-08-09 18:29] apeabody commented on #7270
Hmm, I was briefly looking into this (thinking it might be a fairly straightforward issue), however during my initial testing I noted that PHP 6.5.16 bundled with my CentOS 7 system doesn't appear to work with GMT+1 either (however PHP 7.0.8 in Xenial does accept it).

That lead me to remember that GMT+/- are actually categorized in "Etc" - short story "Etc/GMT+1" should/does work.  GMT0, GTM+0, a

[2016-08-09 21:58] kmaslack opened #7276 "json_decode refuses cr/lf in "-delimited strings"
### HHVM Version

master

### Standalone code, or other way to reproduce the problem

This short program: https://gist.github.com/kmaslack/e528fc3bf2b77e1be51693415a55cdf3 successfully decodes the JSON object under most versions of Zend. It fails, returning NULL and setting json_last_error() to a syntax error, under HHVM as built by default. Configured with -DUSE_JSONC, HHVM's behavior matches tha

[2016-08-09 22:28] nikic commented on #7276
To clarify, the program will *not* successfully decode the JSON object under *any* version of PHP. Decoding only works if you use the non-standard jsonc extension, which is well-known to be non-conforming in many respects.

[2016-08-09 22:31] Orvid commented on #7276
https://3v4l.org/hV1hW

As said above, PHP doesn't, by default allow this.

[2016-08-09 22:39] kmaslack commented on #7276
_Any_ seems a little aggressive. The version of PHP we've been using in production _does_ allow this out of the box, producing the output:

[code]

I remember being fuzzy on this when I used to work at FB, but I assure you this "ubuntu" thing is popular! A lot of the audience of people considering migrating to HHVM are doing so from it.

Taking a step back, if you choose not to allow this, potenti

[2016-08-09 22:40] kmaslack commented on #7276
By the way, I'm perfectly happy to continue building against json-c if that's the preferred story here, assuming patches to actually fix that build remain welcome.

[2016-08-10 00:52] simonwelsh commented on #7276
JSON.parse also won't parse the string as javascript strings can't contain literal newlines. This seems more like jsonc being incompatible with JSON rather than an HHVM issue.

[2016-08-10 01:01] paulbiss commented on #7276
If the json-c build is broken we should definitely fix that. It sounds to me as though the ubuntu packages behave this way because they're also built against json-c.

[2016-08-10 16:49] #7276 closed

[2016-08-10 17:05] dlreeves commented on #7273
We have plans to revamp some of the tooling Hack provides and refactoring is definitely one of the areas we want to improve. With that said no one is working on the current version of the tool, but I don't think it would be too difficult to try and make this work for type aliases. @dabek do you have any thoughts?

[2016-08-10 17:11] dlreeves commented on #7272
This has been requested before. The team recently has been focusing less on adding special case analysis like this, and more on improvements to the core type checking algorithm with a focus on eliminating type holes.

@andrewjkennedy what are your thoughts about supporting this?

[2016-08-10 21:34] Orvid commented on #6795
The fix is easy, and the diff does do so, I just didn't have time to go through our internal codebase to make sure we weren't relying on HHVM's current behavior.

@paulbiss @aorenste Maybe worth looking at again?

[2016-08-11 08:31] escapestring commented on #7266
Has nobody an idea? I'm really desperate

[2016-08-11 10:44] firodj commented on #7034
can you give the admin /memory.json output ?

[2016-08-11 17:29] Orvid commented on #7266
I don't know enough about the calculation code in Magento to know where the issue is.

[2016-08-11 20:54] paulbiss commented on #7266
Hmm, the last time I saw this the problem was zend sorting, if you've already enabled that I'm not sure where else to look. It would help if you could boil it down to a small script we could execute to demonstrate the problem without needing to install magento.

[2016-08-11 21:06] paulbiss commented on #7034
Getting HHVM under 4GB might be a tall order. It looks like you're already adjusting the TC size (jit_a_size etc). You could try reducing `hhvm.server_thread_count` and `hhvm.jit_target_cache_size ` but I doubt either of those will be more than a couple hundred MB. For most workloads HHVM will definitely run fine on a 16GB server.

[2016-08-12 02:26] photodude opened #7277 "Modifying an array with square bracket syntax results in Fatal error"
I am getting the following error `Fatal error: [] operator not supported for strings in /libraries/joomla/cache/storage/memcache.php on line 194`

This is happening when Modifying an array with square bracket syntax array by omitting the key value with an empty pair of brackets ([]).

See this reference on [Creating/modifying with square bracket syntax](http://php.net/manual/en/language.types.arra

[2016-08-12 08:11] paulbiss commented on #7277
Hmm, my best guess is that something else must be happening. If array append was broken it's unlikely anything at all would work on hhvm.

Based on the error message `$index` is actually a string when the error gets triggered. I don't know anything about joomla but it doesn't sound like an hhvm bug.

See: https://3v4l.org/Fj6tK

[2016-08-12 13:09] photodude commented on #7277
From what I can tell from our code... MEMCACHE in HHVM is returning a string rather than an array or false from the following line.

[code]

[2016-08-12 23:09] paulbiss commented on #7277
That sounds like the correct behavior. Memcache::get returns a string unless it was passed an array of keys.

http://php.net/manual/en/memcache.get.php

[2016-08-13 17:56] dlreeves commented on #7042
@andrewjkennedy may want to take a look at this

[2016-08-14 18:48] Lobster3 opened #7278 "[Feature request][php7 compability] session.lazy_write INI variable"
Feature request:
I think it is a good idea to implement 'session.lazy_write' INI option and related functional which is part of php7, but missed in HHVM even with hhvm.php7.all=true . RFC: https://wiki.php.net/rfc/session-read_only-lazy_write
This is not a breaking change and should be probably working without hhvm.php7.all=true mode.

### HHVM Version
3.14.4
### Standalone code, or other way to r

[2016-08-15 02:12] photodude opened #7279 "language ini confused with configuration directive"
I am seeing an issue where a [language ini](https://github.com/joomla/joomla-cms/blob/staging/tests/unit/suites/libraries/joomla/language/data/bad.ini) is being confused with a configuration directive by HHVM during PHP unit tests
### HHVM Version 3.14.4, 3.15.2, nightly 3.16.0-dev
### Standalone code, or other way to reproduce the problem

Joomla CMS unit tests [`JLanguageTest::testParse`(https:/

[2016-08-15 05:12] paulbiss commented on #7278
It doesn't look like the RFC you linked received any votes. Did this make it into 7, and if so is there a more recent RFC?

[2016-08-15 12:14] Lobster3 commented on #7278
Sorry for inconvenience. Votes was on original RFC:
https://wiki.php.net/rfc/session-lock-ini

Related pull request (php): https://github.com/php/php-src/pull/1016
Related tests:
https://github.com/php/php-src/blob/1c295d4a9ac78fcc2f77d6695987598bb7abcb83/ext/session/tests/session_basic1.phpt
https://github.com/php/php-src/blob/1c295d4a9ac78fcc2f77d6695987598bb7abcb83/ext/session/tests/session_bas

[2016-08-15 22:37] paulbiss commented on #7278
Thanks!

[2016-08-16 18:40] 2ps commented on #4428
Yes!  You can fix this problem by using a line from the new Zend2 XmlRpc director.  Add this to the top of the `lib/Zend/XmlRpc/Value.php` file’s `_extractTypeAndValue` function:

[code]

[2016-08-16 21:53] fredemmott commented on #6754
Did you see the comments on https://reviews.facebook.net/D54993 ?

[2016-08-17 01:43] sibest commented on #7144
I'm running HHVM to run the game server of my games, Mitos.is: The Game, Worm.is: The Game and Strike.is. The game server is a standalone codebase. I can confirm that HHVM 3.14, using repo.authoritative=true runs 4x slower than hhvm 3.10. hhvm 3.10 is about 30% faster than hhvm 3.11. No speed difference between 3.11, 3.12 and 3.13.

[2016-08-17 01:45] sibest commented on #7144
The test i've made is much more complex than an empty loop, i've loaded 1000 entities in the battle field and measured the frame time.

[2016-08-17 08:50] #3181 closed

[2016-08-17 08:51] GrahamCampbell commented on #3181
I've lost interest in supporting HHVM, and Laravel 5.3 is dropping support for it.

[2016-08-17 17:13] Orvid commented on #3181
Where was it announced that Laravel 5.3 is dropping support for it?

Also, I *think* this particular issue was a result of an issue with how we were handling some htmlentities() calls, which I believe are fixed on master, @aorenste does this behavior look familiar or am I mis-remembering one of the fixes?

[2016-08-17 17:15] Orvid commented on #7144
@sibest Is it a private or public codebase? If you're on IRC we might be able to help track down the cause.

[2016-08-17 17:18] fredemmott opened #7280 "Hack feature request: ShapeKey<T>"
Basically an enum:

[code]

[2016-08-17 17:30] sibest commented on #7144
Ok, and i've a question, could you provide me a compiled version of HHVM 3.10 with this patch applied https://github.com/facebook/hhvm/issues/6502 ? For Ubuntu 14.04 trusty. Thank you

[2016-08-17 17:49] kmaslack commented on #6676
This hurt us somewhat badly in production. To reproduce, create a server-side file containing _nothing_ but `var_dump($_POST);`, name it post-test.php, then hit a server with a curl command like:

curl -d '{"yep": "gonna=heckyes"}' -H 'Content-Type: application/x-json' localhost:9000/post-test.php

In HHVM, you will see a misparsed `$_POST`: ```array(1) {
  ["{"yep":_"gonna"]=>
  string(9) "heckye

[2016-08-17 18:02] aorenste commented on #3181
There are some htmlentities() pending (not yet in master) - But I think it was just how we were handling &quote; and &#34;

[2016-08-17 18:05] Orvid commented on #7144
If you're on the IRC, we can probably manage that.

[2016-08-17 18:32] Orvid commented on #7144
Looking at that specific change, it doesn't look like it will apply readily to 3.10, there are simply too many changes to the JIT between when 3.10 was released and when that commit was pushed.

[2016-08-17 18:51] GrahamCampbell commented on #3181
Yeh, it's documented in the upgrading guide, and we've deleted it from the travis matrix. I personally deleted all our HHVM work arounds too.

[2016-08-17 18:52] GrahamCampbell commented on #3181
The attitude is Laravel is PHP framework, not an HHVM framework. It HHVM doesn't behave in the same way, it's not Laravel's fault.

[2016-08-17 23:43] kmaslack commented on #6676
To get the behavior above, without recompiling, you can also set:

[code]

in your server.ini. It might be nice to default this to false, since it is the least surprising setting relative to typical Zend setups.

[2016-08-18 02:45] photodude commented on #7277
I think there maybe a documentation error in the [php `Memcache::get()` manual](http://php.net/manual/en/memcache.get.php)

In testing, I think it should say something like the following

Return Values
Returns the value associated with the key, or an array of found key-value pairs when key is an array. Returns FALSE on failure, key is not found or key is an empty array.

in other words

`Memcache:

[2016-08-18 09:11] ggottwald opened #7281 "Opening empty directory with RecursiveDirectoryIterator"
### HHVM Version
3.12.7 - PHP 5.6.20 is ok

### Standalone code, or other way to reproduce the problem
https://gist.github.com/ggottwald/93c0b5412fd0371220f644c93c9aaa30

### Expected result
realPath: false, dir: true
### Actual result
realPath: _current script directory_, dir: false

[2016-08-18 12:20] sunil-sk opened #7282 "Assert failures when running OSS wordpress benchmark on ARM64"
### HHVM Version
All
### Standalone code, or other way to reproduce the problem
OSS wordpress on ARM64 consitently fails assert due to corrupted FreeStubList.
Does not show up on X64 but seems to be a potential bug.
### Expected result
Successful run of wordpress benchmark.
### Actual result
Assert failure in MCGenerator::getFreeStub()

### Potential Problem
In hphp/runtime/vm/jit/service-requests

[2016-08-19 15:23] alex-mashin commented on #7152
I use `etc/cron.d/restart-hhvm`:
[code]
and `/var/www/restart_hhvm`:
[code]
under Ubuntu 16.04 to poke HHVM with a stick. You may need to adjust the regex according to `sudo service hhvm status` output when HHVM is gead and cold.

Unfortunately, sometimes HHVM has the appearance of being alive, but is dead (Rev. 3:1), utilising about 0% or 100% of CPU but effectively being hung. To deal with such

[2016-08-19 19:49] aorenste commented on #7270
It looks like PHP is converting the timezone string by calling timelib_parse_zone() (which has special case handling for 'GMT+#').  HHVM is converting the timezone string by calling timelib_parse_tzfile() (which does not).

[2016-08-19 21:06] apeabody commented on #7270
OK, during my initial testing I noted that PHP 5.4.16 bundled with my CentOS 7 system doesn't appear to work with GMT+1 either, upon closer inspection it appears that behavior difference noted above occurred in PHP 5.6.0.

[2016-08-19 22:56] apeabody commented on #7270
I don't have enough time to tackle it today, but I might in early September.  If someone wants to take a stab here are some more starting points:

- HHVM handles timezones centrally using timelib_tzinfo as the return type in hphp/runtime/base/timezone.cpp rather than just setting the timezone in ext/date.
- https://github.com/facebook/hhvm/blob/master/hphp/runtime/base/timezone.cpp
- https://githu

[2016-08-20 22:27] kevin25 commented on #3876
i got the same issue. And HHVM was crashed.

[2016-08-21 04:09] photodude commented on #7277
Closing as correct behavior.

There is a very specific set of circumstances in our unit test that resulted in the failure. Basically, some data was being truncated and left floating in the cache, This junk data and was getting picked up and passed as valid data from the specific key checking the cache.

We have corrected that situation and believe no further action is needed.

[2016-08-21 04:09] #7277 closed

[2016-08-22 05:34] rich2016 opened #7287 "centos7 cmake3 error"
...................................
-- Building the shmop extension.
-- Building the simplexml extension.
-- Building the soap extension.
-- Building the sockets extension.
-- Building the spl extension.
-- Building the sqlite3 extension.
-- Building the std extension.
-- Building the stream extension.
-- Building the string extension.
-- Building the thread extension.
-- Building the thrift exten

[2016-08-22 16:39] Orvid commented on #7287
As it says, that's a warning, not an error. Ignore it.

[2016-08-22 16:39] #7287 closed

[2016-08-23 00:14] silasfn commented on #2163
This is still an issue on: HHVM-3.14.5-0-gc6bf714e6468213eed377527b431e9cd4cec1432

See below for the test code. On HHVM it seems to fail on:
`$cookie = $client->_cookies['whatever'];`
and
`$client->__setCookie("TAG",$value);`

Test script works on PHP7 (PHP 7.0.9-1+deb.sury.org~xenial+1),
but fails on HHVM with no error message logged in
`$err->detail->ListFault->exceptionMessage`
[code]

[code]

[2016-08-23 11:52] derickr opened #7288 "HHVM exports "TRACE" as an un-prefixed global symbol (define)"
### HHVM Version
3.13.1

### Standalone code, or other way to reproduce the problem

Extension compilation of "mongodb/mongo-hhvm-driver"

### Expected result

It compiles.

### Actual result

HHVM defines "TRACE", without prefixing it with a library specific prefix. This causes issues with mongodb/mongo-c-driver, as it does the same.

I am now getting the following compile errors:

[code]

HHVM s

[2016-08-23 21:39] paulbiss commented on #7288
Hmm, it's not a symbol, it's just a `define`, and unfortunately there's not a very pretty way to namespace those. I'm not thrilled about littering the code with `HPHP_TRACE`. It's also worth noting we have a lot of other non-namespaced defines, e.g. `ITRACE`, `FTRACE`, `OPCODES`. As these aren't actually symbols they don't present a binary compatibility problem, and I would argue if you're includi

[2016-08-24 15:45] #2245 closed

[2016-08-24 15:45] #7223 closed

[2016-08-24 17:12] derickr commented on #7288
I realise it is annoying to change them to have prefixes if you think they're internal, but then I also think you shouldn't leak un-prefixed defines through "public" header files. It might not be a binary symbol, it still causes compatibility issues.

[2016-08-24 22:25] paulbiss commented on #7288
They are internal but the way that the project is organized right now there isn't a clear set of "public" interfaces, instead the policy has generally been everything in a header is fair game.

Finding all of our assorted defines and adding extra prefixes isn't going to happen but I think distilling the mess that is our extension layer into something with a clearly defined public API for extension

[2016-08-25 02:51] Sohorev commented on #4115
+1

[2016-08-26 01:30] HRMsimon commented on #5133
We've run into this with shapes as well.

[2016-08-26 08:30] craigcarnell opened #7290 "Ubuntu 16.04 HHVM core dumped Magento"
### HHVM Version

HipHop VM 3.14.5 (rel)
Compiler: tags/HHVM-3.14.5-0-gc6bf714e6468213eed377527b431e9cd4cec1432
Repo schema: 9ab3fe4281c731189b558d921eb7317b0eb2b2e6
### Standalone code, or other way to reproduce the problem

Magento 1.14.2.1
### Expected result

Not to core dump :)
### Actual result

[Fri Aug 26 08:26:32 2016] [hphp] [10214:7f55737ff700:393:000001] [] Core dumped: Aborted
[Fri Au

[2016-08-26 11:26] JohnGW05 opened #7291 "aarch64-centos7 error"
### HHVM Version

3.15
### Standalone code, or other way to reproduce the problem

./configure
### Expected result

produce makefile
### Actual result

I’m working on run hhvm in aarch64-centos7, and now when I run ./configure ,the terminal prints information as follows:
-- Building the xmlwriter extension.
-- Building the xsl extension.
-- Building the zip extension.
-- Building the zlib extensio

[2016-08-26 16:10] paulbiss commented on #7291
Hmm, I've not seen that failure before, but that src file is supposed to fail to build. I'm not sure why it stopped the cmake from continuing.

https://github.com/facebook/hhvm/blob/c3876687e1ec21280441ece448c5f45eeb91713e/CMake/HPHPSetup.cmake#L9

[2016-08-26 17:36] aorenste commented on #5035
this has been fixed

[2016-08-26 17:36] #5035 closed

[2016-08-26 21:50] swarnat opened #7292 "stream_get_transports() missing return values"
### HHVM Version

3.14.5
### Standalone code, or other way to reproduce the problem

$possibleTransportProtocols = stream_get_transports();
var_dump($possibleTransportProtocols);
### Expected result

array(7) {
[0]=> string(3) "tcp"
[1]=> string(3) "udp"
[2]=> string(4) "unix"
[3]=> string(3) "udg"
[4]=> string(3) "ssl"
[5]=> string(3) "tls"
}
### Actual result

array(7) {
[0]=> string(3) "tcp"
[1

[2016-08-27 16:37] beatscode commented on #7232
While Debugging I started looking for other instances where hhvm might be gathering global variables. Besides get_global_variables() i see php_globals_as_array() is called from
hphp/runtime/server/upload.cpp and hphp/runtime/ext/xdebug/xdebug_command.cpp.

I included
`#include "hphp/runtime/vm/globals-array.h"`
and replaced
[code]

Info locals yields the following

`globals = {m_arr = {m_px = 0x7f

[2016-08-28 04:18] photodude commented on #7200
Item 1 should be done now with the closure of #6849

As for PHP incompatibilities, (differences from the Zend module) there are about [24 missing functions when compared to the Zend pgsql module](https://github.com/PocketRent/hhvm-pgsql/tree/master#differences-from-zend) and 2 new functions that are not in the Zend module.

Personally, I would hope that `pg_set_client_encoding()` and pg_set_error_

[2016-08-28 05:26] simonwelsh commented on #7238
Have managed to fix that error (set `Relative_path.Root` and `.Hhi` to `dir`), but am now getting:
[code]

This is beyond my ability to fix. It looks like this has also broken `hh_match` when run on a directory. My suspicion is that the jobs they're trying to run on workers were never designed to run on a server worker.

[2016-08-28 11:15] mcsharma1990 opened #7293 "AsyncMysqlConnection::query executes the INSERT statement twice"
I am trying to use AsyncMysqlConnection's query/queryf functions to perform write queries into mysql. But it seems that these functions run the query twice, causing two rows get inserted into the table. Is there anything I am missing here? I have ensured that the function is being run only once.
Thank you in advance.
PS: I am running hhvm on mac, below are the details.

### HHVM Version
HipHop VM

[2016-08-29 04:12] jimyaghi opened #7294 "Redis hScan does not return a hash"
### HHVM Version
3.15.0-dev

### Standalone code, or other way to reproduce the problem
while( ($paths = $this->redis->hScan("paths", $cursor, $pattern)) !== false ){
            print_r($paths);
}

### Expected result
Array
(
   [/1/568128/] => 3
)
### Actual result
Array
(
    [0] => /1/568128/
    [1] => 3
)

The problem is that redis returns a multi-line response for hScan, with odd numbered l

[2016-08-29 06:42] netroby opened #7295 "Please add release notes for each version."
What's the different with 3.12 lts branch and 3.14 branch.
What's changed. and what's not changed.

There no details . no release logs. please add more details about each released version.

Thanks

[2016-08-29 10:47] zodiac opened #7296 "Build fails with undefined `MEMBARRIER_CMD_QUERY`"
### HHVM Version

master (2618ad50b027a06d06ddb20288afdd769a18e06d)

building on 64-bit ubuntu 16.04

[code]

looks like it might just not be defining/including the right things here https://github.com/facebook/folly/blob/0137d629ca981aac0186bf63bea82c2d5b9d7832/folly/portability/SysMembarrier.cpp#L25-L34

[2016-08-29 12:29] jails opened #7297 "Segmentation fault with `declare` statement."
### HHVM Version
3.14.5
(But works fine with version <= 3.10)

### Standalone code, or other way to reproduce the problem

[code]

### Expected result
None

### Actual result
Core dumped: Segmentation fault
Stack trace in /tmp/stacktrace.XXXX.log

[2016-08-29 17:33] paulbiss commented on #7296
cc @Orvid

[2016-08-29 17:40] paulbiss commented on #7295
There were 1119 commits which touched 4525 files between those two versions (https://github.com/facebook/hhvm/compare/HHVM-3.12...HHVM-3.14). It's safe to say there were a great many changes. We gave up trying to summarize all of the changes sometime ago. @simonwelsh has made some attempt to track changes on a week to week basis [here](https://coding.simon.geek.nz/).

[2016-08-29 17:40] #7295 closed

[2016-08-29 18:57] Orvid commented on #7296
Blargh..... I blame whoever thought it was a good idea to mess with memory barriers....

[2016-08-29 20:18] netroby commented on #7295
Every open source project should have release notes. I am not saying let you compare two large version.
but what about 3.12.1- 3.12.2

[2016-08-29 20:19] #7265 closed

[2016-08-29 20:19] netroby commented on #7295
I like VisualStudio code . It has a good release notes.

http://code.visualstudio.com/Updates

[2016-08-29 21:11] paulbiss commented on #7295
We're going to resume posting updates about major versions, which should provide some of that detail. Nearly all point releases are only a handful of predominantly security related commits, the log should be more than sufficient to figure out what happened there.

There's a lot of churn in this repo though as the project is quite active, so I wouldn't expect to find comprehensive notes anywhere ot

[2016-08-29 21:26] aorenste commented on #7297
I can repro:
hhvm: buck-out/gen/hphp/runtime/headers#default,headers/hphp/runtime/vm/func-emitter-inl.h:93: HPHP::Id HPHP::FuncEmitter::lookupVarId(const HPHP::StringData*) const: Assertion `hasVar(name)' failed.

[2016-08-30 00:17] nickzman commented on #6189
It's not an Apple bug. If you're getting that crash in CFPreferences, then it is most likely that your code calls fork() somewhere and does not immediately call an exec function in the child process. GNU/Linux tolerates this, but it causes undefined behavior in macOS, and even says as much in macOS' fork() man page.

Make sure the code calls an exec function after each fork(), or consider using po

[2016-08-30 01:51] zodiac commented on #7296
@Orvid any fix/workaround for it?

[2016-08-30 17:39] mxw commented on #7282
This is because the implementation of `pad()` in `vasm-arm.cpp` is obviously broken—it's a no-op, and it needs to not be a no-op if you want this to work.

Why not submit a PR?

[2016-08-30 18:03] Orvid commented on #6189
`fork()` has not been called in this context.

[2016-08-30 19:11] racardoso opened #7302 "DumpTC is not dumping bytescodes"
### HHVM Version

HipHop VM 3.15.0-dev (rel)
Compiler: heads/master-0-gd8591b1bae517929a27474fc103180d57e6328f2
Repo schema: ca03b9d0005f83442a55f54ab604919695f40474

### Standalone code, or other way to reproduce the problem

`$ nano hhvm/hphp/test/quick/echo.php`

[code]
`$ hhvm -vEval.DumpTC=true --count=20 hphp/test/echo.php > /dev/null
`$ hphp/tc-print

### Expected result

Bytecodes dumped b

[2016-08-30 20:25] Orvid commented on #7296
A fix should be landing in master within an hour or so. It was due to an update in folly that was intended to support Xenial, but that added an extra configure check that I failed to add to the CMake files for HHVM.

[2016-08-30 22:09] Orvid commented on #7296
This should now be fixed with 795ca9ec4e42fad78c8ca2f7c87c9bd6a8129080 and d606b1c7848ef9964843b5643b285a110a906e77.

[2016-08-30 22:09] #7296 closed

[2016-08-30 23:05] #7297 closed

[2016-08-31 01:21] esseguin opened #7303 "PHP incompatibility with multiple error handlers"
HHVM behaves differently than PHP when multiple error handlers interact with each other. In PHP, you can call `restore_error_handler()` followed by `trigger_error()` inside an error handler to essentially pass the error on to the next error handler. In HHVM, this doesn't happen.

### HHVM Version
[code]

### Standalone code, or other way to reproduce the problem
https://3v4l.org/kA5pA
[code]
### E

[2016-08-31 04:39] sunil-sk commented on #7282
Thanks, I will submit a PR.

[2016-08-31 11:38] sunil-sk commented on #7282
Pull Request:
https://github.com/facebook/hhvm/pull/7304

[2016-08-31 11:46] zodiac commented on #7296
can confirm that this is fixed for me

[2016-08-31 16:38] ryanmce commented on #6569
This is breaking arcanist at Facebook :-p

[2016-08-31 17:00] Orvid commented on #6569
Well then, bug us internally :P

[2016-08-31 21:34] jails commented on #7297
Thanks a bunch :100:

[2016-08-31 22:16] #7282 closed

[2016-09-01 03:30] treffynnon commented on #2028
It is very unlikely that I'll have interest in testing this again. If anyone wants to fix this issue then the code I've referenced is clearly documented and you can run the project yourselves against a build of HHVM.

[2016-09-01 04:53] photodude commented on #7229
PHP unit says this is likely an HHVM issue https://github.com/sebastianbergmann/phpunit/issues/2278#issuecomment-242958436

[2016-09-01 12:18] #7293 closed

[2016-09-01 12:20] mcsharma1990 commented on #7293
This was happening because request to /favicon.ico was also causing the script to run, effectively running the script twice. No bug in hhvm!

[2016-09-01 12:50] photodude opened #7306 "proc_open() issue in HHVM PHP7 mode"
Doing some testing with [Travis CI with HHVM in PHP7 compatibility mode](https://travis-ci.org/photodude/joomla-cms/jobs/156689060). I get the following error

[code]

This is an [HHVM in php7 mode](https://docs.hhvm.com/hhvm/configuration/INI-settings#php-7-settings) `hhvm.php7.all=true` compatibility issue. As the [PHP manual](http://php.net/proc_open) states that parameter 4 (cmd) allows null a

[2016-09-01 20:13] Lewiscowles1986 commented on #2028
Latest HHVM still does it, I've just marked as a not now solution if it cannot reliably handle a WordPress install something is wrong

[2016-09-02 01:37] pingwang opened #7307 "filter_var($ip, FILTER_VALIDATE_IP, FILTER_FLAG_NO_PRIV_RANGE | FILTER_FLAG_NO_RES_RANGE) acts differently than php"
### HHVM Version
HipHop VM 3.12.0 (rel)
### Standalone code, or other way to reproduce the problem
function filterPrivateIP($ipArr)
{

// X-Forwaded-For standard is that the first IP in the comma separated list is the true client IP
$ips = explode(',', $ipArr);
foreach($ips as $ip)
{
$ip = trim($ip);
$ip = filter_var($ip, FILTER_VALIDATE_IP, FILTER_FLAG_NO_PRIV_RANGE | FILTER_FLAG_NO_RES_RANGE);
i

[2016-09-02 14:40] aorenste commented on #7307
Looks like it broke in 3.11.0.  3.10.0 seems to get the correct value.  https://3v4l.org/UB2kB

[2016-09-03 00:11] jimfb opened #7309 "HHVM is unable to execute '/usr/bin/hh_client' - fails with Invalid operand type was used: implode() expects a container as one of the arguments"
### HHVM Version

HipHop VM 3.14.4 (rel)
Compiler: tags/HHVM-3.14.4-0-gcee2aedf82cffa3f4959adf9e0409c9ec7b314cb
Repo schema: c6d3b7c365d7be3fe41c697542afe0a1b1802987
Operating system: Linux ip-10-229-4-143 4.2.0-42-generic #49-Ubuntu SMP Tue Jun 28 21:26:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
### Bug

After a while, launching HHVM gives me this cryptic error:

[code]

Observed on a standard/fr

[2016-09-03 14:48] donutloop opened #7310 "rtrim() doesn't work properly"
HipHop VM 3.15.0-dev (rel)
Compiler: heads/master-0-g1ba4d437a6c089d38a45f6116f166f57ac2e0703
Repo schema: 0be2fa54a27f9d56a3ee99cb13d075fcaecb0610

Composer Version: 1.2.0

i try to execute "hhvm -php composer.phar install"

 [ErrorException]
  rtrim() expects parameter 1 to be string, null given

[2016-09-03 23:20] raeesbhatti commented on #5460
Any updates? Please... it has been years!

[2016-09-04 12:38] jimyaghi commented on #6908
i've had the same issue with this. exact same bug. the only work around i found for wordpress and hhvm with remote stream (i'm using a custom stream wrapper for google cloud!!) is to switch to gd by using the filter:
add_filter( 'wp_image_editors', function($ar) {
return ['WP_Image_Editor_GD'];
}

The gd version loads the file using file_get_content into memory which is not as desirable. i tried t

[2016-09-04 13:20] DerPapst commented on #7310
#7198 seems to be the same.

[2016-09-04 23:06] #7310 closed

[2016-09-04 23:11] paulbiss commented on #5460
@Orvid is still very actively working on this, but it's a very large project. The biggest update to date is that folly (one of HHVM's most critical dependencies) now builds under windows and work is ongoing to enable windows CI. Orvid can offer a more detailed update, but we absolutely haven't forgotten about or stopped working on this issue.

You can see some of the work required to get folly bui

[2016-09-05 00:00] raeesbhatti commented on #5460
@paulbiss Thank you for the explanation. I've been keeping an eye on Orvid's work too and he sure has done a lot of work.
My problem is not having native HHVM, it's not having native HackLang tools, which do not depend on thirdparty libs to be built. And as @Orvid pointed out earlier, there has been some work on them recently https://github.com/facebook/hhvm/pull/6137, and it's probably very close

[2016-09-06 15:01] aorenste commented on #7309
There's no stack trace after the 'Catchable fatal error:' part?

[2016-09-06 15:13] jimfb commented on #7309
@aorenste Correct, no trace.

[2016-09-06 18:50] ProdigyView opened #7316 "imap_getmailboxes() is undefined"
### HHVM Version
3.15

### Standalone code, or other way to reproduce the problem
$mbox = imap_open("{imap.example.org}", "username", "password", OP_HALFOPEN)
      or die("can't connect: " . imap_last_error());

$list = imap_getmailboxes($mbox, "{imap.example.org}", "*");
if (is_array($list)) {
    foreach ($list as $key => $val) {
        echo "($key) ";
        echo imap_utf7_decode($val->name)

[2016-09-06 22:38] photodude commented on #7035
@Orvid I was able to pin down that there is an issue in `memory_get_peak_usage()` causing the error, but I haven't been able to determine how much memory is being used at the point of failure.

All of our unit tests are running with less than 300MB now and the system is reporting plenty of memory to support that. My best guess is  `memory_get_peak_usage()` is dying when memory for a process exceed

[2016-09-06 23:15] HRMsimon commented on #6639
Have managed to work around this with a nasty hack:

[code]

Is slightly nicer than how we've been polluting the global namespace with a bunch of functions that are basically:
[code]

An actual solution will be nicer though.

[2016-09-07 00:31] paulbiss commented on #6639
This topic tends to come up from time to time internally. The consensus now seems to be that both behaviors are potentially surprising (one could easily assume the memoization was per declaration site or per LSB target).

Changing `__Memoize` is unlikely to be a viable option as we've found that most of the time the LSB isn't something we care about, but adding a `__MemoizedLSB` has been proposed

[2016-09-07 06:28] ghost opened #7317 "Redis Sort Problem"
I am using Ubuntu server and install HHVM 3.14.5.
Recently I am try using the Redis to sort the result and i get the error.

Please help.

This is piece of code.

[code]
### Expected result

**Array ( [0] => 3 [1] => 1 [2] => 4 [3] => 2 )**
### Actual result

![screenshot_1](https://cloud.githubusercontent.com/assets/1627923/18301911/5af1d7c2-7507-11e6-99b4-58627cbd8dd5.png)

[2016-09-07 08:18] magenx commented on #3304
is it possible to include snappy and make in as required dependency when building hhvm??
all available hhvm builds dont have snappy.

while php 7 on CentOS 7 have php-snappy rpm available.

thanks

[2016-09-07 09:22] imashino commented on #7317
After the debugging to fix the VAL issue, first i find out that line **1741** which -

` if (is_array($val) AND (count($val) == 2)) {`

should change to

` if (is_array($v) AND (count($v) == 2)) {`

But at the end i still get the NULL result.

And wirh the same code running in apache2 + php5 + redis is fine, result array has returned.

[2016-09-07 09:51] imashino commented on #7317
Ok i found the problem, I try copy the hhvm redis file and include in my code to debugging.

Here is the problem -

Line 697  `public function eval($script, array $args = [], $numKeys = 0)`
- in PHP, **eval** is a native function, so the function name of eval cannot be re-declare.
- i temporary changed the function name to **eval1** `public function eval1($script, array $args = [], $numKeys = 0)`

[2016-09-07 19:28] Orvid commented on #7317
Could you submit a Pull request with the fix?

[2016-09-07 19:38] voku opened #7318 "php compatibility: mb_strrpos()"
### HHVM Version
tested: hhvm-3.10.0 - 3.12.0

### Standalone code, or other way to reproduce the problem
[code]
https://3v4l.org/2H3Lg

### Expected result
3

### Actual result
1

[2016-09-07 20:00] Orvid commented on #3304
I plan on looking into this and a few other things once 3.15 is out.

[2016-09-07 20:06] aorenste commented on #7318
A slightly more portable version of the example:

[code]

[2016-09-08 06:38] imashino commented on #7317
For the sorting part i still find out some problem.
When using sort in parameter it will return result syntax error, i fixed the syntax issue as well as I can see the count number of array in the redis result.
But nothing data can be list out.

Right now i have no idea how to fix it.
i stuck at ` protected function processLongResponse() {`

[2016-09-08 08:53] fcorriga commented on #7179
Same issue in 3.15
No proxygen here.

[2016-09-08 13:03] photodude opened #7320 "Fatal error: Call to undefined function with pgsql extension"
### HHVM Version
3.15 (and prior builds with the PocketRent/hhvm-pgsql pgsql.so extension)

### Standalone code, or other way to reproduce the problem
- `pg_set_error_verbosity()`
- `pg_set_client_encoding()`

### Expected result
no errors

### Actual result
Working on HHVM testing with pgsql I get the following errors with the PocketRent/hhvm-pgsql extension that is now included in the core as of

[2016-09-08 13:19] photodude opened #7321 "Uncaught exception: Could not open extension ./pgsql.so"
### HHVM Version
3.15
### Standalone code, or other way to reproduce the problem
hhvm.dynamic_extensions[pgsql] = pgsql.so
### Expected result
use of the included pgsql.so extension
### Actual result
`Uncaught exception: Could not open extension ./pgsql.so: ./pgsql.so: cannot open shared object file: No such file or directory`

See travis ci build https://travis-ci.org/photodude/joomla-cms/jobs/15

[2016-09-08 13:47] photodude commented on #7321
[Documentation for installed extensions](https://docs.hhvm.com/hhvm/extensions/introduction) should show the following as of 3.15.0
- apc
- array
- asio
- async_mysql
- bcmath
- bz2
- collections
- ctype
- curl
- date
- debugger
- dom
- domdocument
- enum
- exif
- fb
- fileinfo
- filter
- gd
- generator
- gettext
- gmp
- hash
- heapgraph
- hh
- hh_client
- hhvm.debugger
- hhvm.ini
- hosthealthmoni

[2016-09-08 13:49] photodude commented on #7321
Documentation issue opened https://github.com/hhvm/user-documentation/issues/365

[2016-09-08 13:56] trylab opened #7322 "How to disable HHVM's memory manager?"
I 'd like to try the system's default memory manager. Could you please tell me how to disable HHVM's memory manager? I can build HHVM from source.

[2016-09-08 15:33] photodude opened #7323 "PHP7 mode issue with composer dependency installs"
### HHVM Version
3.15 **with PHP 7 mode fully enabled**
### Standalone code, or other way to reproduce the problem
install dependencies with composer via `composer install`
### Expected result
composer works the same way that it does in HHVM php 5 mode
### Actual result
[code]
The specifics of what `rtrim()` should have received that resulted in null being passed are unknown, as the error did not

[2016-09-08 16:52] aorenste commented on #7323
It's also possible that these functions have always passed null to rtrim() but in php 7 more we're being more strict.

[2016-09-08 17:13] photodude commented on #7323
@aorenste I don't think `rtrim()` and `unserialize()` take null as parameters in any version of PHP. Technically `rtrim()` and `unserialize()` are not the issue, it's the function(s) being passed as a parameter.

Basically, there is a function(s) being passed to `rtrim()` and `unserialize()` whose return is `null`. These other functions that are returning `null` are the issue. Unfortunately, becau

[2016-09-08 17:50] Orvid commented on #7321
The issue here is that pgsql is included as a build-in extension rather than a dynamic extension, so listing it in the `dynamic_extensions` section is expected to fail. The documentation issue does still need to be addressed though.

[2016-09-08 17:50] #7321 closed

[2016-09-08 17:58] Orvid commented on #7322
We don't currently support this, and have no plans to support it, but if you *really* want to try it (I wouldn't recommend it), you can probably replace bits of the allocator `hphp/util/alloc.h` and `hphp/util/alloc.cpp`.

[2016-09-08 17:58] #7322 closed

[2016-09-08 18:03] Orvid commented on #7320
If possible, could you include the link to the original issue as well?

@simonwelsh The second error there means you declared it in the the `.php` as native but you never actually implemented the function on the C++ side :P

[2016-09-08 18:06] donutloop commented on #7323
https://github.com/facebook/hhvm/issues/7310

[2016-09-08 18:20] aorenste commented on #7323
If I run this script:
[code]

In php 5, php 7 or normally under hhvm I get:
[code]

But if I run hhvm in php7 mode I get:
[code]

[2016-09-08 18:22] Orvid commented on #7323
@aorenste HHVM's PHP7 mode needs to be adjusted so that strict types aren't enabled by default (they aren't in PHP)

[2016-09-08 18:23] aorenste commented on #7323
Marking as a dup of #7198

[2016-09-08 18:23] #7323 closed

[2016-09-08 18:49] photodude commented on #7320
Unfortunately, https://github.com/PocketRent/hhvm-pgsql/issues/115 no longer exists so I can't link to it.

[2016-09-08 19:23] photodude commented on #7323
Thanks I'll follow #7198

[2016-09-08 19:40] sdwilsh commented on #2160
@jwatzman - is this a limitation of watchman?

[2016-09-09 02:25] aorenste commented on #7179
I can repro this.  It seems to be caused by c2314526 - "Make jit::ProfData thread-safe".  I'm seeing about 96MB before and 256MB after.

[2016-09-09 03:03] paulbiss commented on #7179
In c2314526e1424c95e028755e3ccb8e84507627f8 @swtaarrs made a bunch of data structures atomic, and in the process also gave them default allocation sizes which were probably not very appropriate for small sites.

These sizes became configurable in cb4a7e5bbbb83cd624b65146f4aa4b72b7077cda (which doesn't look like it's in 3.14 or 3.15 unfortunately). If you're running master I suggest adjusting `hhvm

[2016-09-09 03:11] paulbiss commented on #7322
If you're talking about the request memory allocator you can set `hhvm.disable_small_allocator` to disable slab allocation and have all request allocations pass through `malloc`.

[2016-09-09 05:42] MrPack opened #7324 "Recently, it was found that there was a process of suicide"
### HHVM Version
3.9

_Recently, it was found that there was a process of suicide._Do you have similar problems？

[2016-09-09 08:54] jwatzman commented on #2160
@sdwilsh When this issue was opened, `hh_server` wasn't using watchman, it was using its own home-grown solution, which had this limitation. I think it might use watchman nowadays, or maybe can optionally, so I'm not sure what the modern state of this issue is. (I also have no idea if watchman has the same limitation.)

[2016-09-09 14:56] aorenste commented on #7324
Could you please explain what you mean in more detail?  Do you mean the HHVM process is killing itself?  Have you looked in the logs?

[2016-09-09 15:03] aorenste commented on #7179
Closing since this is intended behavior.

[2016-09-09 15:03] #7179 closed

[2016-09-09 15:18] swtaarrs commented on #7179
The default sizes I set in cb4a7e5bbbb83cd624b65146f4aa4b72b7077cda are minuscule compared to the old value of `kFuncCountHint`, so I wouldn't expect people to have to lower them any further (once they have that diff).

[2016-09-09 18:22] Orvid commented on #2160
I believe hh_server uses `inotify` now doesn't it?

[2016-09-09 18:22] swtaarrs commented on #7179
@paulbiss If we want to do something for 3.14, we could dramatically lower `kFuncCountHint` without any of my other changes.

[2016-09-09 21:53] photodude commented on #7198
Related Errors
[code]

[code]

[2016-09-09 23:55] vieira opened #7330 "Will not connect to link-local IPv6 addresses"
### HHVM Version
HHVM-3.12.8-0-g191845585594f6e2c57184d11a13d0ddb3a8a16d

### Standalone code, or other way to reproduce the problem
test.php
[code]

### Expected result
[code]

[code]

### Actual result
[code]
[code]
[code]

### Other information
Not limited to `socket_connect`, the same problem occurs with other functions, e.g., `mysqli_connect`.

Seems that a similar problem was reported to PHP

[2016-09-10 23:12] photodude opened #7331 "Segfault in creating then modifying an array of 278036506 elements"
### HHVM Version

3.15
memory limit 16.384 GB
### Standalone code, or other way to reproduce the problem

Test [based on this script](https://books.google.com/books?id=G_djDAAAQBAJ&pg=PA212&dq=memory_get_peak_usage%28%29&hl=en&sa=X&ved=0ahUKEwj26dWb6PvOAhVI2mMKHYcTCWwQ6AEIKzAC#v=onepage&q=memory_get_peak_usage%28%29&f=false)

[code]
### Expected result

array created and modified until memory limi

[2016-09-10 23:32] dotboris opened #7332 "v3.14.* of hhvm is no longer available in debian repos"
I have HHVM v3.14.4 deployed in production. I want to configure development environments that match prod as much as possible. To do so I want to install hhvm v3.14.* to my dev setup. I tried to install hhvm like so:

[code]

When doing so, aptitude complains that it can't find v3.14.*:

[code]

I've done some digging in the repo and I find that there is a deb package is present for v3.14.* but no

[2016-09-10 23:34] simonwelsh commented on #7332
Because they're no longer supported, so are potentially unsafe to use.

You can download the `.deb` file and install it manually using `dpkg -i`.

[2016-09-11 00:47] photodude commented on #7331
Note: in modifying an array a segfault happens between 9200000000268036507 elements and 9300000000268036507 elements

[2016-09-11 02:11] javuto opened #7333 "HHVM 3.15 package for Ubuntu 14.04/16.04 crashes and it is unstable"
### HHVM Version

The package installed in both Ubuntu 14.04 and 16.04 from the HHVM repositories do not work properly. This is the output of `hhvm --version`:

[code]
### Standalone code, or other way to reproduce the problem

I am seeing this problem with the [fbctf](https://github.com/facebook/fbctf) project, since the 3.15 package was released, the platform is not working at all. Tried to isol

[2016-09-12 02:36] MrPack commented on #7324
Thank you very much! I don't have any problems after the re deployment. I‘ll close this issues.

[2016-09-12 02:36] #7324 closed

[2016-09-12 09:53] jonghorhee commented on #7333
I've got this issue with fbctf(by vagrant up). I attached some debug log of HHVM-nightly-dgb.
Please check this logs and attached file. [tc_dump.tar.gz](https://github.com/facebook/hhvm/files/466999/tc_dump.tar.gz)

`HipHop VM 3.15.0-dev (dbg)
Compiler: heads/master-0-g0f6b3313f6886d146456c9ad618541eff6fe8392
Repo schema: 4c9ff4fc5c1565dfa736e3fc91c4ae10f9168ecb`

`; php options
pid = /var/run/hhv

[2016-09-12 12:00] jasonromando opened #7335 "How to enable snappy_compression in HHVM 3.15"
### HHVM Version - 3.15

I tried apt-get install and build from source.

I double confirm I installed libsnappy-dev, libsnappy1 & snappy.

I wanna use to compress the object and save memory caching.

Thanks!

[2016-09-12 14:14] aorenste commented on #7335
Unfortunately HHVM does not currently support the snappy extension.  Please see https://docs.hhvm.com/hhvm/extensions/introduction for a list of supported extensions.

[2016-09-12 14:14] #7335 closed

[2016-09-12 14:18] the-st0rm opened #7336 "Building HHVM with afl-clang-fast"
I am trying to build HHVM 3.15.0-dev with afl-clang-fast (https://github.com/mirrorer/afl) but I keep getting the following error
`/home/test/hhvm/third-party/folly/src/folly/experimental/symbolizer/Symbolizer.cpp:26:10: fatal error: 'ext/stdio_filebuf.h' file not found`

I am sure that I have the ext/stdio_filebuf.h

[code]

This is the cmake command I am using for the build

[code]

I have also

[2016-09-12 14:35] aorenste commented on #7331
Using the latest dev build (so not exactly the same condition) I get the following:
[code]

[2016-09-12 15:09] photodude commented on #7331
@aorenste that is closer to what I would have expected. no segfault and `Fatal error: request has exceeded memory limit`

So it looks like both of the segfaults reported maybe fixed in dev.
Although I'm apparently testing on travis ci default settings with about 6 times the memory limit that you are. `Memory: 6160.46MB`

For your smaller memory limit, I would expect that the `$prePop` would need t

[2016-09-12 15:13] aorenste commented on #7331
I started prepop at `67036000` or so to get the error on line 9.

[2016-09-12 15:18] photodude commented on #7331
when you started prepop at 67036000 or so to get the error on line 9; Did you get any output before it maxed out with 67036505 elements or did it fail on the first iteration?

[2016-09-12 15:25] aorenste commented on #7331
I got a lot of output.

[2016-09-12 16:07] photodude commented on #7331
That's what I would expect, lots of output until the memory limit is reached. So either the issue is fixed in dev or the issue is something that only shows up with the larger memory limit.

[2016-09-12 17:04] photodude commented on #7035
Based on some information in my recent tests I believe just before this failure 5736.67 mb of memory are being used; well below the 16384mb assigned to HHVM

[2016-09-12 17:22] peterhal opened #7338 "3.14.5 Source version fails to build on OSX"
### HHVM Version
3.14.5

### Standalone code, or other way to reproduce the problem

Following instructions here: https://docs.hhvm.com/hhvm/installation/building-from-source
With source downloaded from the brew tap here: http://dl.hhvm.com/source/hhvm-3.14.5.tar.bz2

### Expected result

Successful build.

### Actual result

Several errors relating to -Wc++14-extensions:

/Users/peterhal/brew/hhv

[2016-09-12 18:27] Orvid commented on #7335
@aorenste We actually do have some support for it, it's just in hiding and is currently disabled in the OSS build. It's one of the things I intend to look at enabling for 3.16.

[2016-09-12 18:48] paulbiss commented on #7338
That's a warning, are there errors elsewhere in your output?

[2016-09-12 18:55] paulbiss commented on #7179
Officially we aren't supporting 3.14 anymore, but I'll monitor this and if there's sufficient interest it would be an easy change to roll.

[2016-09-12 21:53] wake-up-neo opened #7340 "Hack type error: This equality test has incompatible types (enum)"
### HHVM Version

### Standalone code, or other way to reproduce the problem
[code]

### Expected result

### Actual result

There was no issue before 3.15.
Should this be considered as a normal typechecker behaviour?

p.s.
However (int) casting for one of the sides removes an error.
`if ((int) IntEnumType::STATUS_ONE === IntEnumType2::STATUS_TWO) {`

[2016-09-12 21:59] aorenste commented on #7340
Is your question about the initial error or about the fact that casting one side to `int` fixes it (or both)?

[2016-09-12 22:03] wake-up-neo commented on #7340
the first one

[2016-09-12 22:46] aorenste commented on #7340
I'm pretty sure the new typechecker behavior is correct - you're comparing two enums which are unrelated.

[2016-09-12 22:46] #7340 closed

[2016-09-12 22:49] wake-up-neo commented on #7340
hmm... I'm comparing values of enums which are both int but not enums itself. In case you are right where is hh_client error? @jwatzman

[2016-09-12 23:02] aorenste commented on #7340
You're comparing enums which both have the underlying type of `int` - they are not `int`.

From the [hack docs](https://docs.hhvm.com/hack/enums/introduction#casting-to-underlying-type):

If you actually want to treat them as `int` then you probably want to have them implicitly cast to `int` by declaring the enums as:

[code]

Then the comparison passes.

When I run hh_single_type_check on that ex

[2016-09-12 23:08] wake-up-neo commented on #7340
@aorenste Thanks Aaron, it's clear now

[2016-09-12 23:10] #7076 closed

[2016-09-12 23:12] wake-up-neo commented on #7230
try `export LC_ALL=C`

[2016-09-12 23:43] jonghorhee commented on #7333
HHVM 3.14.5 is no problem on FBCTF VBox.
https://github.com/facebook/fbctf/issues/215#issuecomment-246299523

[2016-09-12 23:56] HRMsimon opened #7341 "nums should be Stringish"
### HHVM Version

3.15.0
### Standalone code, or other way to reproduce the problem

[code]
### Expected result

[code]
### Actual result

[code]

This particular example throws a Hack error, but it's just a simplified version of what we ran into. Not having `num` be of type `Stringish` is rather annoying for this particular case (`value` of a `number` input) as it requires wrapping the variable i

[2016-09-12 23:57] HRMsimon commented on #7341
cc @fredemmott as we've only had this issue while using XHP and their might be something that can be done there to work around this.

[2016-09-13 04:35] jasonromando commented on #7335
@Orvid Can i enable it in build from source, i tried but fail.

[2016-09-13 14:50] fredemmott commented on #7341
XHP won't be special-casing this; consistency with Hack's type system is a goal of 2.x+.

[2016-09-13 18:04] photodude opened #7344 "ini_set doesn't support xdebug.enable or return false on hhvm.php7.all"
### HHVM Version

3.15.0
### Standalone code, or other way to reproduce the problem

`hhvm --php -r 'ini_set("hhvm.php7.all", 1);'`
`hhvm --php -r 'ini_set("xdebug.enable", 1);'`
### Expected result

Return `false` as you cannot set ini with hhvm.php7.all = 1 at runtime
set ini with xdebug.enable = 1
### Actual result

no change in ini settings
travis build failed to set INI to php7 mode and thus

[2016-09-13 18:08] RyanGordon opened #7345 "HHVM Cyclical Garbage Collecting is broken"
### HHVM Version

[code]

[code]

### Standalone code, or other way to reproduce the problem

Two test scripts:

[code]

[code]

### Expected result

We expect memory usage to stay low and not explode:

[code]

[code]

[code]

### Actual result

What we actually see is that memory usage continuously increases under HHVM, until the kernel kills the process:

[code]

Even with the (undocumented) gar

[2016-09-13 18:11] Orvid commented on #7345
I don't believe 3.14 had full GC support, could you try this on 3.15?

[2016-09-13 18:11] edwinsmith commented on #7345
just to verify, your last try was with -vEval.EnableGC=1, correct?

[2016-09-13 18:12] Orvid commented on #7336
I'm not really sure what could cause this unless that has some hard-coded include paths?

[2016-09-13 18:13] RyanGordon commented on #7345
@edwinsmith Yes, our last try was with `-vEval.EnableGC=1`
@Orvid I will recompile with 3.15 and try it again and post the results here!

[2016-09-13 18:22] edwinsmith commented on #7345
Oh, also, the current GC scheduling heuristic is based on a fraction of the heap limit, which makes sense for production scenarios with small heap limits, but nowhere else. You have it set to 10G, and the linux kernel kills the hhvm process around 4G. Try setting the heap limit to something smaller?

[2016-09-13 18:25] RyanGordon commented on #7345
Should I do that on 3.15 or 3.14.5 or it doesn't matter?

[2016-09-13 18:30] edwinsmith commented on #7345
I'd say 3.15 or master; the heuristic hasn't changed in a couple weeks but not sure how old 3.14 is, like @Orvid said.

[2016-09-13 18:52] RyanGordon commented on #7345
Here is the updated results.

[code]

Updated cyclical_test.php script:
[code]

First Test w/o GC:
[code]

Second Test With GC:
[code]

It lasts much longer but it still leaks memory even with the GC turned on and goes over the memory limit specified until it eventually errors out

[2016-09-13 19:12] aorenste commented on #7345
I'm seeing this same behavior on master

[2016-09-13 19:17] edwinsmith commented on #7345
I'll take a look at this, tho I might not have much to report until next week.  @aorenste if you peek in scuba you should see collection stats from your test runs.

[2016-09-13 19:22] paulbiss commented on #7344
You definitely can't change `hhvm.php7.all` at runtime it has to be known prior to execution starting. The same is true of `xdebug.enable` (though it might be possible to lift that restriction).

[2016-09-13 21:08] photodude commented on #7344
Thanks, @paulbiss

Being that "You definitely can't change `hhvm.php7.all` at runtime" I would have expected some kind of notice or message telling me that. Instead, HHVM seems to just carry on as though you didn't even attempt to change `hhvm.php7.all` with `ini_set()` it also didn't seem to return false as the [php manual on `ini_set()`](http://php.net/manual/en/function.ini-set.php) indicates i

[2016-09-13 21:28] photodude commented on #7035
@Orvid is there [any ini settings](https://docs.hhvm.com/hhvm/configuration/INI-settings) that could be set at runtime which might shed more light on this failure?

[2016-09-14 04:07] photodude commented on #7035
I've done a little testing with running phpunit with `-d memory_limit=##M` I found at or under 19M a few tests completed and I get the following error
`Fatal error: request has exceeded memory limit in /vendor/sebastian/global-state/src/Snapshot.php on line 313` (php 5.6 fails the test suite at anything under 230M)

but at >20M all the tests complete but I get the original error
`Fatal error: requ

[2016-09-14 06:08] paulbiss commented on #7344
@photodude fixing the return behavior and adding xdebug support sounds reasonable. I haven't looked at how hard it would be to support xdebug.enable, it may not be a simple change.

[2016-09-14 06:26] ndj888 opened #7346 "HHVM php.ini set display_error error_reporting invalid"
### HHVM Version
3.14.4
### Standalone code, or other way to reproduce the problem
HHVM Version 3.14.4

Version

Version	3.14.4
Version ID	31404
Debug
Compiler ID	tags/HHVM-3.14.4-0-gcee2aedf82cffa3f4959adf9e0409c9ec7b314cb
Repo Schema	c6d3b7c365d7be3fe41c697542afe0a1b1802987
PHP Version	5.6.99-hhvm
Zend Version	2.4.99
uname	Linux ecbde53cc9f8 4.4.19-moby #1 SMP Thu Sep 1 09:44:30 UTC 2016 x86_64

[2016-09-14 15:25] photodude commented on #7344
I think the return behavior might be correct, but Travis ci might be failing to catch it. I tested 3.12 https://3v4l.org/PBMUl#version=hhvm-3.12.0 and the return is false as expected.

So support xdebug.enable with a changeable status of `PHP_INI_ALL` Entry can be set anywhere may be all that is needed.

[2016-09-14 19:10] paulbiss commented on #7346
This isn't something we currently support. It's been discussed on here before, but the tl;dr is that we definitely don't want this to be the default behavior, and getting it working at all may be non-trivial because the logging and output buffering are so disconnected right now.

[2016-09-14 22:15] photodude commented on #7320
@Orvid @simonwelsh I'm still learning c++ but would the fix for `pg_set_client_encoding()` be as follows? (based off the [`pg_client_encoding()` method)](https://github.com/facebook/hhvm/blob/master/hphp/runtime/ext/pgsql/pgsql.cpp#L799-L809)

[code]

and add the following line to [` void moduleInit() override {`](https://github.com/facebook/hhvm/blob/master/hphp/runtime/ext/pgsql/pgsql.cpp#L1655-

[2016-09-14 22:48] aorenste commented on #7320
@photodude - Unfortunately not quite.  pgsql->get().clientEncoding() ends up calling PQclientEncoding() to get the value.  This needs to thread the code through to end up calling PQsetClientEncoding().

[2016-09-14 23:00] aorenste commented on #7320
You want something like this (totally untested - but it compiles):

[code]

If you have a DB to test it on and verify that it works please let me know and I'll submit it.

[2016-09-15 04:03] ndj888 commented on #7346
@paulbiss I can not find documentation about how to debug in HHVM. HHVM recommended debugging method?

[2016-09-15 14:33] craigcarnell commented on #7290
another one:

[code]

[2016-09-15 14:45] aorenste commented on #7290
Is it possible to get a copy of the raw (C++) stack trace from the core dump?  Also it looks like (in the second case) it's trying to determine the mime-type of a file.  Is it possible to get a copy of that file?

[2016-09-15 18:16] aorenste commented on #7035
I was able to reproduce this locally.  The test suite also revealed a few (fairly new) unrelated compiler bugs.
:)

[2016-09-15 18:55] photodude commented on #7035
@aorenste glad you were able to reproduce the issues. I look forward to these being fixed.

[2016-09-15 22:48] aorenste commented on #7035
The issue is due to this implementation of `ini_restore`:
[code]

I'll work on fixing it tomorrow.

[2016-09-16 02:41] photodude commented on #7035
@aorenste On a semi unrelated note: I wonder if the "unrelated compiler bugs" could be related to the failure of phpunit's self test suite on HHVM? https://travis-ci.org/photodude/phpunit/jobs/160342275
I assume that most of the failures of phpunit's self test suite on HHVM with php 7 mode are related to #7198 https://travis-ci.org/photodude/phpunit/jobs/160342276

[2016-09-16 13:24] dvdoug commented on #6070
Still an issue on 3.15

[2016-09-16 18:14] furkanusta opened #7349 "Build from source code hangs the system on Fedora 24"
I've followed the steps from here https://github.com/facebook/hhvm/wiki/Building-and-installing-HHVM-on-Fedora-19-or-20

But I am using Fedora24.

Cmake run succesfully but when I run make it stops at this one and then whole computer freezes only thing I can do is power-off
[  7%] Building CXX object third-party/folly/CMakeFiles/folly.dir/src/folly/IPAddressV4.cpp.o

I've tested with both -jN opti

[2016-09-16 18:34] paulbiss commented on #7349
Do you seen any lines in the system log or any other logs indicating what may be happening? I've not ever seen this problem before.

[2016-09-16 18:40] aorenste commented on #7349
How long did you let it run before you decided it froze? If you have a disk activity light that you can see was it still lit?  Building can take a lot of system resources and that can make the UI freeze up - but eventually it should finish.  On a resource limited machine that can be a really long time.

Two other things to try:
1. `-j1` (so you only build with a single core)
2. Instead of `make` r

[2016-09-16 19:08] furkanusta commented on #7349
I've just tested 'nice make' and it let it run for 8 minutes, during that time UI didn't respond except a random mouse movements (I suppose it get processed over time). Clock didn't get updated either
Ctrl-C didn't work.
Disk light was on

I've tested -j1 before result was the same

I have Intel(R) Core(TM) i5-6200U CPU with 8GB Ram, I suppose it isn't a resource limited machine

and I am not sure

[2016-09-16 19:56] aorenste commented on #6070
I'm able to repro this.  At least one of the cases comes down to HHVM not getting the starting position of the stream after open.

[2016-09-16 20:24] aorenste commented on #7349
When I'm building gcc often at points uses more than 8GB so it wouldn't surprise me if your computer is thrashing from not having enough RAM.

[2016-09-16 20:50] aorenste commented on #6070
The error in `testWriteOnlyAppend()` is definitely an HHVM error - HHVM isn't checking the starting position after opening the file.  I have a fix working through the system now.

I think the error in `testSeekCurPastEnd()` is actually a bug in your `stream_seek()` code which is exposed by a difference between PHP and HHVM.  In general I would expect that if you try to seek past the end of the str

[2016-09-16 21:00] furkanusta commented on #7349
I've checked journalctl and thought gnome tracker is the culprit but after disabling it and letting the make run for ~40minutes it was still at %7 .

I will try to build folly separately

[2016-09-16 21:08] Orvid commented on #7349
To eliminate one possibility: What version of GCC are you using?

[2016-09-16 21:16] furkanusta commented on #7349
GCC 6.1.1

By the way, I've couldn't build folly alone and it looks like problem is caused by it

should I close this issue and open in folly's issue tracker?

[2016-09-16 21:17] furkanusta commented on #7349
It looks like it is already reported in Folly and Wangle
https://github.com/facebook/folly/issues/418

Thanks for the help, I'll check that out

[2016-09-16 21:17] #7349 closed

[2016-09-16 23:44] #7330 closed

[2016-09-17 00:06] #7318 closed

[2016-09-17 01:18] firodj commented on #7345
what is qhhvm? but that was for long running script on CLI? how about the script when running on server, it is same or not?

[2016-09-17 01:27] firodj commented on #7345
what is qhhvm? but that was for long running script on CLI? how about the script when running on server, it is same or not?

[2016-09-17 01:31] RyanGordon commented on #7345
Sorry qhhvm is an alias for

[code]

I haven't tested this through the server, just the CLI, since it is a long running script.

[2016-09-17 02:36] photodude opened #7350 "Fatal error: Call to undefined method mysqli::get_server_info()"
### HHVM Version

3.15.0
### Standalone code, or other way to reproduce the problem

with a Mysqli connection

[code]
### Expected result

Returns the version of the MySQL server
### Actual result

`Fatal error: Call to undefined method mysqli::get_server_info()` in [/database/src/Mysqli/MysqliDriver.php on line 529](https://github.com/joomla-framework/database/blob/master/src/Mysqli/MysqliDriver.

[2016-09-17 08:33] kelson42 opened #7351 "HHVM random crashes with Mediawiki"
### HHVM Version
3.11.1+dfsg-1ubuntu1 (amd64)

### Standalone code, or other way to reproduce the problem
HHVM dies sporadically with Mediawiki 1.26.3. I have unfortunately no clear step-by-step reprocase. As a workaround I restart the HHVM service and then Mediawiki runs again. But I have a small syslog dump which might help.
[hhvm_crash.log.txt](https://github.com/facebook/hhvm/files/478049/hhvm

[2016-09-17 15:02] photodude commented on #7351
Just a guess based on the info from your log,
[code]

[2016-09-17 15:28] kelson42 commented on #7351
Thank you. I have followed your advices and will re-open the ticket if the problem still occurs.

[2016-09-17 15:28] #7351 closed

[2016-09-17 15:33] ethanjyx commented on #7220
@Orvid why is that? Other languages like Java and C++ support these

[2016-09-17 18:27] paulbiss commented on #7220
@ethanjyx `Map` is backed by a PHP array, they only support ints and strings. It might be nice to have a more generic map data structure but this one was designed for speed and interoperability with PHP arrays (there's a zero cost conversion), so it's unlikely we would ever change the allowed key types.

[2016-09-17 18:31] paulbiss commented on #7351
You can increase the size of the TC as @photodude suggested, but it looks to me like the translation you're failing on is a pseudomain (code not contained within any function). Until a2190ac60960d58dc77dd3f91c39be803ac648d1 we had a long-standing issue with over-specializing pseudomains which could cause hhvm to continue emitting (mostly useless) translations for them well after it had finished wa

[2016-09-18 21:14] fredemmott opened #7352 "Typechecker vs runtime inconsistency: abstract overrides"
### HHVM Version

3.15.0
### Standalone code, or other way to reproduce the problem

[code]

hh_client && hhvm
### Expected result

Ideally, both allow this. I can get the same effect by making an interface that TypedBase implements, but that's nasty...

Otherwise, hh_client should complain about this
### Actual result

[code]

[2016-09-18 21:18] fredemmott commented on #7352
Workaround:

[code]

I'm not just making `TypedBase<T>` an interface with `require extends` as in my real code, another method has an implementation.

[2016-09-19 01:06] fredemmott opened #7353 "Allow interfaces to `require implements`"
Making one extend the other isn't equivalent; this matters when trying to define a relationship of 'marker' interfaces - for example, I don't believe it's currently possible in hack to represent this:

[code]

[2016-09-19 01:07] fredemmott commented on #7353
In this example, SupportsHttpGetRequest should not imply IncludeInUriMap; they may frequently be used together, but it's not required.

[2016-09-19 03:39] bolvarak opened #7354 "Uncaught Error: syntax error, unexpected T_EMPTY"
### HHVM Version
3.15.0

### Standalone code, or other way to reproduce the problem

[code]

### Expected result
[code]

### Actual result
[code]

### Configuration (php.ini)
[code]
- NOTE:  This is vanilla PHP and works as expected in PHP7

[2016-09-19 06:23] paulbiss commented on #7354
Pretty sure it's just missing from this list: https://github.com/facebook/hhvm/blob/master/hphp/parser/hphp.y#L816

[2016-09-19 12:56] photodude opened #7355 "Nightly package is latest not nightly"
### HHVM Version
Nightly (3.15) (on Ubuntu trusty)
### Standalone code, or other way to reproduce the problem
wget -O - http://dl.hhvm.com/conf/hhvm.gpg.key | sudo apt-key add -
echo deb http://dl.hhvm.com/ubuntu saucy main | sudo tee /etc/apt/sources.list.d/hhvm.list
sudo apt-get update
sudo apt-get install hhvm-nightly

### Expected result
HHVM nightly is installed

### Actual result
The HHVM ni

[2016-09-19 15:03] fredemmott opened #7357 "Add enumname<T> as alias for classname<\HH\BuiltinEnum<T>>"
While I understand it's considered an implementation detail, unless there's a plan to replace it, I'd like that to be changed.

We have a lot of references to it internally, and I'm not sure what kind of abuse it's trying to avoid; if it's merely to stop people depending on an implementation detail, it's failed, and will as long as there's no other replacement.

Otherwise, it should be moved to th

[2016-09-19 15:14] fredemmott opened #7358 "RFC: remove restrictions from classes/interfaces/traits"
Mostly inherited from PHP5, for example:
- can't put protected methods in interfaces
- can't do `instanceof MyTrait`

There are also restrictions we've added, eg interfaces can't require implements (#7353)[

While this is technically a BC break, it's only one in that it makes HHVM more permissive - i.e. it will make previously-invalid code valid. Precedent:
- we allow covariant return types and co

[2016-09-19 15:14] fredemmott commented on #7358
cc @dlreeves - I guess you've put more thought into this idea than me :)

[2016-09-19 15:25] nikic commented on #7358
What is the use-case for `instanceof MyTrait`? This seems like a code-smell indicating trait misuse.

[2016-09-19 15:39] fredemmott commented on #7358
`trait Foo implements IFoo` where Foo is the only thing that ever implements it is very common, at least in FB code.

As an added bonus, if the trait defines protected functions, the interface is often an empty marker interface given the second point, so no other implementations can ever be safe. The alternative is to define the methods as public, but that's often a worse tradeoff (though that sta

[2016-09-19 15:42] #7307 closed

[2016-09-19 15:48] photodude commented on #7035
@aorenste I have updated the issue with all of the HHVM versions where I have seen `memory_get_peak_usage()` cause the `Fatal error: request has exceeded memory limit` related to the  implementation of `ini_restore`

[2016-09-19 15:51] photodude commented on #7355
I see 2016.09.19 packages in http://dl.hhvm.com/ubuntu/dists/trusty/main/binary-amd64/Packages.
Just doesn't seem like they are actually nightly builds

[2016-09-19 15:54] fredemmott commented on #7358
'implements' pulling in code would be extremely surprising to me.

[2016-09-19 15:57] nikic commented on #7358
Not what I meant there -- rather you'd just get an interface with the trait methods. I.e. replace `trait Foo implements IFoo` with `Foo` acting both as trait and interface. But ... yeah, this is not a good idea, too confusing.

[2016-09-19 16:00] fredemmott commented on #7358
oh, so you meant a normal usage like:

[code]

?

[2016-09-19 16:13] nikic commented on #7358
Another aspect to consider is how this interacts with trait conflict resolution. E.g. you can't do something like

[code]

where I1::method() and I2::method() have the same name, but different signatures. However you *can* write something like this:

[code]

In this case `C` would be `instanceof T2` (if the restriction is lifted), but `C::method()` would not actually conform to `T2::method()`.

[2016-09-19 16:18] photodude commented on #6793
@creativeprogramming Are you still seeing the segfault with HHVM and Joomla? ( same as #5520 )

I've been working on and off at getting the php unit tests for Joomla working ( see https://github.com/joomla/joomla-cms/issues/10220 ), right now we are faced with some HHVM issues like `memory_get_peak_usage()` causing a `Fatal error: request has exceeded memory limit` related to the HHVM implementati

[2016-09-19 16:36] photodude commented on #7320
@aorenste I currently don't have a local for HHVM to compile and test with. As for a DB I'm just testing against the Joomla unit test suite which has a pgsql DB.

I'll defer to the project on fixing these missing functions.

[2016-09-19 17:23] paulbiss commented on #7320
cc @simonwelsh (I would assign you the issue but GH doesn't like that)

[2016-09-19 17:25] paulbiss commented on #6793
Going to close this for now as there are more specific issues open for the known problems. If anyone gets a repro please let me know and I will reopen.

[2016-09-19 17:25] #6793 closed

[2016-09-19 17:46] Orvid commented on #7355
@aorenste We do have nightly packages. I suspect the packaging script probably was misbehaving due to 3.15 having been released but the actual version number not having been bumped yet as I needed to update the packaging machines first.

[2016-09-19 17:48] paulbiss commented on #7357
I count nine, and one of them is a comment

I imagine it has something to do with enums being classes and enum values not being instances of those classes, and having a hierarchy of enum classes and a distinct type lattice for enum values being confusing. Or maybe there's no reason at all. Maybe @jwatzman knows?

[2016-09-19 18:21] fredemmott commented on #7357
Sorry, yeah, looks like some things that used to be/should[?] be `classname<\HH\BuiltinEnum>` just take `string` instead now :(

[2016-09-19 22:08] Orvid commented on #3304
As-of https://github.com/facebook/hhvm/commit/5a26004cf949c0163af721457f8f9a9934df3e86 this is now possible, and the snappy extension should be enabled in the next set of nightly packages.

[2016-09-19 22:08] #3304 closed

[2016-09-19 22:10] Orvid commented on #2369
The PR in question has been merged for a while now, and is included in 3.15.

[2016-09-19 22:10] #2369 closed

[2016-09-19 22:11] jwatzman commented on #7357
Yep, that's basically it. We didn't want people to think of enums as classes, both because their values don't behave that way when matching type annotations... and also just because they *aren't* classes, they are enums, and the fact that they are actually classes behind the scenes is an implementation detail.

Added to that, there are extremely limited legitimate reasons to refer to `BuiltinEnum`

[2016-09-19 22:24] #7035 closed

[2016-09-19 22:27] HRMsimon opened #7365 "Hack: Allow this as a parameter to a callable in a static member variable"
### HHVM Version
3.15.0

### Standalone code, or other way to reproduce the problem
[code]
### Expected result
No errors!
### Actual result
[code]

[2016-09-19 22:31] HRMsimon commented on #7365
Our use case is a set of validator callables. We're working around this currently by using the base class as the type of the argument and then adding in an `invariant` call in each callback.

[2016-09-19 23:00] vieira opened #7366 "mysql/mysqli will not accept valid link-local IPv6 Address"
### HHVM Version
HipHop VM 3.15.0-dev (rel)
Compiler: heads/master-0-g79df2ab0b360055f287acaae379fafd9883fff4b

hhvm-nightly 2016.09.18~jessie

### Standalone code, or other way to reproduce the problem
test.php

[code]

### Expected result
[code]

### Actual result

[code]

### Other information
I thought this might be related with #7330 but my build already has the fix but still mysql_connect/my

[2016-09-19 23:36] fredemmott commented on #7357
Is there an alternative type-safe way to make a class that deals with T where T is 'some enum'?

https://github.com/fredemmott/hack-router/blob/master/tests/UriParametersTest.php#L76-L94 is there a better way?

At least some code is just using strings for enum names instead to avoid this message, which seems worse. I'd rather have type-safe code with an ignored warning than unsafe code like that.

[2016-09-19 23:39] fredemmott commented on #7357
^ also possibly add an alias for '::class' for enums...

[2016-09-19 23:53] fredemmott commented on #7357
Yep, 8 actual usages, but I'm guessing > 200 unsafe workarounds to avoid it - regexp found 250 (messaged link), though there'll be some false positives there.

[2016-09-20 01:01] fredemmott opened #7367 "ReflectionTypeConstant::getAssignedTypeText() does not handle namespaces correctly"
### HHVM Version

3.15.0

### Standalone code, or other way to reproduce the problem

[code]

### Expected result

[code]

### Actual result

[code]

This is problematic because it can't be used in namespaced code, or easily converted to a format that is usable in namespaced code - this is fine:

[code]

... but this isn't:

[code]

[code]

[2016-09-20 09:09] fcorriga commented on #7179
can you please confirm 3.15.1 will have cb4a7e5 applied?

[2016-09-20 09:18] jwatzman commented on #7357
`enumname` seems like a good idea to me, from my historical-curmudgeon-not-on-the-team-anymore perspective :-P

[2016-09-20 11:22] faheemnet commented on #5017
OPEN: /etc/hhvm/php.ini
ADD: hhvm.enable_zend_ini_compat=false

[2016-09-20 15:01] photodude commented on #7355
@Orvid I see the package dates changed but it still seems like the nightly packages are latest rather than nightly.

[2016-09-20 15:43] fredemmott commented on #7367
@paulbiss: PHP doesn't have type aliases; was the incompatibility tag intentional?

[2016-09-20 15:44] fredemmott commented on #7357
Had a quick attempt at doing this myself. Gave up for now when strict mode disallowed calling $enum_name::assert()

[2016-09-20 16:10] magbicaleman opened #7368 "array_column Add the ability for the input parameter to be an array of objects."
### HHVM Version
3.14.5 (rel)
### Standalone code, or other way to reproduce the problem
[code]
### Expected result

[code]

### Actual result

[code]

[2016-09-20 16:13] magbicaleman opened #7369 "Confused about hhvm error `must be an instance of string, string given in`"
### HHVM Version
`HipHop VM 3.14.5 (rel)`
### Standalone code, or other way to reproduce the problem
[code]
### Expected result
[code]
### Actual result

[code]

[2016-09-20 17:15] fcorriga commented on #3340
there is definatly something wrong coz it happened to me too.
rising the limits and restarting hhvm over night fixes the problems, but there's definatly a leak.

[2016-09-20 17:15] fredemmott commented on #7369
This is a PHP5-compatible error; you want one of these in your ini file:
 - `hhvm.php7.all=true` (most likely)
 - `hhvm.php7.scalar_types=true` (just the one part of PHP7 support)
 - `hhvm.force_hh=true` (allows Hack syntax in PHP files)

[2016-09-20 17:15] #7369 closed

[2016-09-20 17:17] fredemmott commented on #7369
Under PHP5 (and HHVM by default), `string` is a reference to a class called `string`, which leads to the confusing error.

[2016-09-20 17:43] paulbiss commented on #7368
Looks like this is new behavior in PHP 7. https://3v4l.org/ZIDJW

[2016-09-20 17:45] paulbiss commented on #7367
Heh, misread the issue

[2016-09-20 17:50] paulbiss commented on #7179
Confirmed. Just pushed it to the 3.15 branch, whenever we cut next we'll pick it up.

[2016-09-20 17:53] Orvid commented on #7355
I'm not sure how that travis job is getting it's nightly package, but, after checking, the 2016.09.20 package for Trusty is 3.16.0-dev. What is the Travis job doing to get the nightly package?

[2016-09-20 18:35] photodude commented on #7355
I believe Travis just uses `apt-get`
In the build I linked to I had additionally specified `hhvm-nightly` In the apt packages to install.

[2016-09-20 18:45] photodude commented on #7035
@aorenste will this fix be included in 3.15.1 and older affected releases?

[2016-09-20 19:15] magbicaleman commented on #7369
thank you very much @fredemmott, I was under the impression `hhvm` was using `php7`by default, but this makes sense.

[2016-09-20 20:04] aorenste commented on #7035
It should be in 3.15.1 but not older releases.

[2016-09-21 09:42] firodj opened #7375 "Guzzle failed on HHVM 3.15.0 but not on 3.14.5"
Guzzle fail on hhvm 3.15.0 but not on 3.14.5.

### HHVM Version

HipHop VM 3.15.0 (rel)
Compiler: tags/HHVM-3.15.0-0-g92a682ebaa3c85b84857852d8621f528607fe27d
Repo schema: 225d4323575bbc8a498dc809a1c41354f6bca830

### Standalone code, or other way to reproduce the problem

[code]

composer.json
[code]

### Expected result

no exception!

### Actual result

[code]

[2016-09-21 15:12] #6933 closed

[2016-09-21 22:03] yaghmaie opened #7376 "hhvm --hphp fails on pre-optimizing with magento 1.9.0.1"
Using CentOS 7.2.1511
HipHop VM 3.14.4
Magento 1.9.0.1

By running `hhvm --hphp -t hhbc -v AllVolatile=true  --input-dir /path/to/magento/root` I get:

[code]

And I have no idea why it fails on pre-optimizing, or how to get some information for the reason it fails. By using `-l 4` there will be no more info.

It finishes with no errors using `--optimize-level 0`, however hhvm service can not star

[2016-09-21 23:27] paulbiss commented on #7375
Hmm, as best I can find, the only change to ftell in 3.15 was f2f147e5a36339475a845ea9dde1e9b64edf8b5c.

[2016-09-22 02:57] photodude commented on #7035
@aorenste I look forward to 3.15.1 so I can resume testing.
I wish I could get the nightly builds running on Travis CI right now, it's unfortunate that [apt-get continues to install 3.15.0 when nightly is specified](https://github.com/facebook/hhvm/issues/7355).

Have the other unrelated compiler bugs with the test suit you mentioned been addressed?

[2016-09-22 07:33] lesterchan commented on #7375
Same problem as well on 3.15 when using it with AWS SDK (because it uses Guzzle). 3.14.5 works fine as @paulbiss mentioned.
[code]

[2016-09-22 09:34] jesseschalken opened #7377 "Hack: $x[..][] doesn't force values of $x to be an array"
### HHVM Version

[code]
### Standalone code, or other way to reproduce the problem

This is a simple function that groups elements of an array. It deliberately has the wrong return type (`array<Tk, \PDO>` should be `array<Tk, array<Tv>>`), but the type checker doesn't report an error.

[code]
### Expected result

Something like:

[code]
### Actual result

Code passes without error. The function i

[2016-09-22 09:41] paulbiss commented on #7377
Hack basically ignores this particular PHP-ism. I'm not sure if it was deliberate or not though. cc @andrewjkennedy

[2016-09-22 09:53] andrewjkennedy commented on #7377
Good catch. This is a type loophole. I'll look into it.

[2016-09-22 11:04] jesseschalken commented on #7377
I think it's fine that Hack ignores the way PHP automatically creates arrays. After all, you don't want `$x[..][] = ..;` to turn `$x` from `array<string, ThingWithArrayAccess>` into `array<string, array | ThingWithArrayAccess>`, just because the offset might not have been set.

However, I think this particular example could be fixed by taking the return type and working backwards to see that `PDO`

[2016-09-22 15:28] aorenste commented on #7375
I'm able to repro this locally - I'll take a look.

[2016-09-22 17:09] aorenste commented on #7035
The 3.15.1 branch has been cut but we're going to cherry-pick the required patches so they should be in there.

[2016-09-22 17:50] paulbiss commented on #7375
@aorenste if you get a chance could you try reverting the rev I mentioned?

[2016-09-22 21:29] aorenste commented on #7375
@paulbiss - yup - that was the culprit.  ftell() on an empty TempFile was returning false instead of 0.  Fix submitted.

[2016-09-22 22:09] photodude commented on #7355
I've tried again to get the nightly build 2016.09.22 version 3.16.0-dev
I have [followed this guide](https://community.linuxmint.com/tutorial/view/1433) to directly install from the `hhvm-nightly_2016.09.22~trusty_amd64.deb` file

yet what got installed is still 3.15.0 (rel) not 3.16.0-dev https://travis-ci.org/photodude/joomla-cms/jobs/162044863

[2016-09-22 22:15] Orvid commented on #7355
Is it possible that this is what's setting the environment to 3.15?
https://travis-ci.org/photodude/joomla-cms/jobs/162044863#L343

[2016-09-22 22:21] photodude commented on #7355
Maybe, I'm trying to alter the install after the initial composer stuff.
https://travis-ci.org/photodude/joomla-cms/jobs/162044863#L363-L418

[2016-09-22 23:11] #7354 closed

[2016-09-23 13:43] nazar-pc opened #7378 "putenv() doesn't propagate into shell_exec()"
### HHVM Version
[code]

### PHP Version
[code]

### Standalone code, or other way to reproduce the problem
[code]
[code]

### Expected result
[code]

### Actual result
[code]

[2016-09-23 15:08] #7375 closed

[2016-09-23 22:04] fredemmott commented on #2658
Closing, ->: as an assignment operator sohuld really be a separate issu.e

[2016-09-23 22:04] #2658 closed

[2016-09-23 22:05] fredemmott commented on #1553
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-23 22:05] #1553 closed

[2016-09-24 02:12] DemiMarie commented on #7067
In that case the error message should be improved

[2016-09-24 02:18] DemiMarie commented on #5460
Has anyone thought of using Clang on Windows?

[2016-09-24 02:55] fredemmott commented on #5460
@raeesbhatti are you using nuclide in atom by any chance? https://github.com/fredemmott/nuclide-customization is what I use for nuclide + docker

[2016-09-24 13:44] SjonHortensius opened #7381 "Shouldn't disabling JIT also disable the JIT translation-cache?"
I'm attempting to lower hhvm's memory usage for 3v4l.org; and I expected that disabling the JIT would reduce the amount of memory that's being used for the translation cache to 0. However, this is not the case. I have tried disabling the JIT through the commandline (using both `-d hhvm.jit=0` and `-v Eval.Jit=false`) and cli.hdf (using `Eval { Jit = false }`) and php.ini (using `[hhvm] hhvm.jit =

[2016-09-25 02:25] DemiMarie commented on #5401
@jwatzman Both D and even Go have goto, as does C#, so I think that goto should be allowed.

[2016-09-25 02:27] DemiMarie commented on #7332
@dotboris you should upgrade the version of HHVM used in production, or use one of the long-term support (LTS) versions.

[2016-09-25 02:32] DemiMarie commented on #3133
@Orvid has this been fixed?

[2016-09-25 02:35] DemiMarie commented on #5811
@jwatzman would it be possible to have an "all strict mode" in which only `// strict` functions are allowed?

[2016-09-25 03:26] DemiMarie opened #7382 "Document the HNI extension API"
This is a feature request to document the HNI extension API.

[2016-09-25 05:10] #7332 closed

[2016-09-25 05:13] Orvid commented on #3133
This was an issue with an external library, I don't think there was anything we could do about it.

[2016-09-25 05:15] Orvid commented on #5460
@DemiMarie Most of the issues are not because of the compiler, rather, it's because of standard library support. Clang on Windows still uses the VC++ standard library.

[2016-09-25 06:57] fredemmott opened #7383 "Make it possible for a trait to require that it only be used by a specific class that actually does use it."
Example usage:

[code]

This currently gets:

[code]

[2016-09-25 11:11] tstarling commented on #3133
Like I said originally, you can certainly do something about it. HHVM can call SetFatalErrorHandler() to supply a safe termination function. The problem is in the *default* error handler.

[2016-09-25 17:53] Orvid commented on #5401
@DemiMarie D, Go, and C# all require explicit declaration of variables and their types. Hack does not. It is not (with the current design) possible for the typechecker to implement type analysis for a function in the presence of gotos without a large amount of work, and even then, it would be brittle. It's simply not worth the effort to implement when you consider just how rarely gotos are used in

[2016-09-25 17:56] jwatzman commented on #7383
Is the request for

- `require extends` to allow usage in that class, as opposed to only a subclass? There is indeed some non-obvious circularity issue here that @elgenie ran into when he implemented it.
- a new modifier that says "this trait may only be used in this specific class"? I don't know if this would hit a circularity issue, but what's the advantage of moving the code out into a trait in

[2016-09-25 18:11] Orvid commented on #7381
I agree that we definitely shouldn't be allocating anything for the JIT if it's disabled, I don't think the logic is currently in-place for that though....

For reducing the memory usage further, `-v Eval.JitAutoTCShift=0` should drop that usage by another 2mb, but it definitely is odd that it's failing to allocate the memory when you have it set to a lower limit.

The actual code that does the al

[2016-09-25 18:30] fredemmott commented on #7383
- either allowing require extends to be circular when the class is final or adding a new modifier works
 - inlining: where possible, putting codegen into a trait is much cleaner than the partially-codegen files approach, and there's only one library for doing those which hasn't had much testing outside of FB

[2016-09-25 18:45] glensc opened #7384 "ReflectionExtension("phar")->getVersion() returns nothing"
### HHVM Version

### Standalone code, or other way to reproduce the problem

### Expected result

### Actual result

it is needed for box.phar:
https://github.com/box-project/box2/blob/gh-pages/installer.php#L48-L57

otherwise it's installer will fail:

the problem occurs under Travis-CI which has HHVM-3.6.6, but i think it's not implemented in newer versions either

i've created example job whos

[2016-09-25 23:56] raeesbhatti commented on #5460
@fredemmott That was an excellent idea you gave me. So, I build a thing 😄
[HackLang Tools](https://github.com/raeesbhatti/hacklang-tools)

I've tested them to be working with Docker on Window and macOS. Haven't tested with Windows Subsystem for Linux, but should work.

[2016-09-26 06:42] DemiMarie commented on #5401
Ah, didn't realize that goto would mess up the type checker.

Just curious: is there any fundamental reason for this, or is it an
implementation restriction?

On Sep 25, 2016 1:54 PM, "Orvid King" <notifications@github.com> wrote:

[2016-09-26 07:16] alex-mashin opened #7385 "Document hhvm.func_count_hint and hhvm.pgo_func_count_hint"
HHVM 3.15

Please document `hhvm.func_count_hint` and `hhvm.pgo_func_count_hint` configuration options mentioned here: https://github.com/facebook/hhvm/issues/7179#issuecomment-245805937.

[2016-09-26 08:28] SjonHortensius commented on #7381
Well, 2 MiB is not an amount that really helps; currently it fails because it cannot allocate 220 M for a script that does nothing more then a simple echo.

The allocation fails if I lower RLIMIT_AS from 1G to 512M. Is this expected behavior?

[2016-09-26 13:43] mlecoq commented on #6908
Same issue with prestashop and https://github.com/firstred/mdimagemagick

[2016-09-26 18:20] Orvid commented on #5401
The Hack team could probably explain the details better, but it's primarily an implementation restriction. If we did typechecking at the CFG level, it would be trivial to support goto, as it is no different from any other branching statement. The Hack typechecker works on an AST level though, which makes it much harder to sanely reason about gotos.

[2016-09-26 20:08] eeeehaw opened #7387 "HHVM service fails to run on Azure & Google Cloud when VM is restarted"
### HHVM Version
3.14.5
### Standalone code, or other way to reproduce the problem
used with latest Facebook CTF open source project code (fbctf), NGINX used as webserver produces "502 Bad Gateway" error page when HHVM service is not running, running on Ubuntu 14.04 LTS, 'sudo service hhvm restart' fails to restart hhvm service, everything works fine after initial provisioning/deployment but HHVM

[2016-09-26 20:28] fredemmott commented on #7387
There are way too many things here that aren't part of HHVM, and this is realistically never going to get looked at by the HHVM team; you either need to narrow this down, or follow up with FBCTF.

[2016-09-26 20:28] #7387 closed

[2016-09-26 20:42] eeeehaw commented on #7333
I am having this problem even with HHVM 3.14.5.  It consistently stops running the hhvm service upon restart of the virtual machine (VM) running Ubuntu 14.04 on both Azure and Google Cloud.  It works fine right after the initial provisioning script execution of FBCTF (at least so far I haven't noticed any problems), but upon stop/start of the VM on either cloud service HHVM fails to run (confirmed

[2016-09-26 20:46] eeeehaw commented on #7387
FBCTF team has reported this as open Issue to HHVM 14 days ago I just learned (one of them at https://github.com/facebook/hhvm/issues/7333).  I feel like I may be entering the middle of a finger-pointing contest.  ;-(  At the moment it looks pretty clear that HHVM is the only component of my environment that is not surviving the machine restart.

Please advise steps I can take to "narrow this down

[2016-09-26 20:51] fredemmott commented on #7387
Then this is effectively a dupe

Backtraces (check for core dumps), error messages, etc

[2016-09-26 20:54] fredemmott commented on #7333
Can you reproduce this with a debug package? That might get a usable backtrace.

[2016-09-26 21:37] awisur commented on #7144
# 3.15.0
### RUNNING TESTS GLOBALLY
TEST A: Empty for loop Test - Time used: 0.004
TEST B: Empty while loop test - Time used: 0.004
TEST C: If/else in for loop test - Time used: 0.019
TEST D: If/else in while loop test - Time used: 0.017

### RUNNING TESTS INSIDE FUNCTIONS
TEST A: Empty for loop Test inside function - Time used: 0.025
TEST B: Empty while loop test inside function- Time used: 0.025

[2016-09-26 22:13] eeeehaw commented on #7387
Sorry, Fred, I did not discover the FBCTF Issue report (due to the
search keywords I used before) until after posting my issue.

Here's some info on HHVM logs that may be helpful (the error.log was
empty, or more accurately had several blank lines with no text):
----------------------
eeeehaw@cyberwars-vm1:/var/log/hhvm$ ls -al
total 12
drwxrwxr-x  2 www-data www-data 4096 Sep 26 19:10 .
drwxrwxr-

[2016-09-26 22:17] eeeehaw commented on #7387
More info that may be helpful; note missing "sock" entry after reboot:
------------
BEFORE rebooting and everything working:
eeeehaw@cyberwars-vm1:/var/run/hhvm$ ls -al
total 78592
drwxr-xr-x  2 www-data www-data      100 Sep 26 21:14 .
drwxr-xr-x 20 root     root          800 Sep 26 21:09 ..
-rw-r--r--  1 www-data www-data 80473088 Sep 26 21:14 hhvm.hhbc
-rw-r--r--  1 www-data www-data        4 S

[2016-09-26 22:27] fredemmott commented on #7387
Sorry - I didn't mean that this is an FBCTF problem (if HHVM's shutting down by itself  except for things like running out of memory and 3.15 needs more) - just that the HHVM team does not investigate issues with specific frameworks.

 - logs and application-generated errors are not helpful
 - PHP backtraces are usually not helpful
 - system-level backtraces (i.e. showing the trace within C++ itse

[2016-09-27 01:02] raeesbhatti commented on #5460
I've just updated [HackLang Tools](https://github.com/raeesbhatti/hacklang-tools) to add support for path translation between Docker and Windows. Just download `hh_client.exe` from latest release and run it against your project, it should act native and should work with any IDE plugins.

[2016-09-27 16:59] kmaslack commented on #3340
Just bit us in prod fwiw. We're running a lightly patched version of 3.14.5.

It's definitely not maximum opened files; they're at 100000 and HHVM has 478 files open.

Restarting HHVM fixes it.

I'll have access to some broken machines for a couple days if anybody has some other candidate issues.

[2016-09-27 21:00] fredemmott commented on #4830
@paulbiss, @Orvid, @aorenste : is this something you'd be interested in a PR for?

[2016-09-27 21:10] algrims commented on #4726
Hello trivedipankaj,

Did you ever get it to work with Repo Authoritative mode enabled?
Once you complie it into hhbc what are the following steps to get it configured to use with a webserver?

Thanks.

[2016-09-27 21:19] paulbiss commented on #4918
@andrewjkennedy this looks like something you might be interested in.

[2016-09-27 21:26] #6455 closed

[2016-09-27 21:27] aorenste commented on #6495
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 21:27] #6495 closed

[2016-09-27 21:31] aorenste commented on #6579
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-27 21:31] #6579 closed

[2016-09-27 21:31] paulbiss commented on #4887
Looks like this was resolved but never closed.

[2016-09-27 21:31] #4887 closed

[2016-09-27 21:40] aorenste commented on #6566
Fixed in #6619

[2016-09-27 21:40] #6566 closed

[2016-09-27 21:40] aorenste commented on #6565
(Hopefully) fixed in #6594

[2016-09-27 21:40] #6565 closed

[2016-09-27 21:42] aorenste commented on #6550
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 21:42] #6550 closed

[2016-09-27 21:48] #6531 closed

[2016-09-27 21:52] paulbiss commented on #4879
@JoelMarcey would this be easy to change?

[2016-09-27 22:01] aorenste commented on #6512
In this case HHVM is matching the php7 behavior.

[2016-09-27 22:01] #6512 closed

[2016-09-27 22:02] #6511 closed

[2016-09-27 22:02] #6509 closed

[2016-09-27 22:03] aorenste commented on #6507
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-27 22:03] #6507 closed

[2016-09-27 22:04] paulbiss commented on #4875
So the problem here is that putenv doesn't actually set the environment for the process (requests run in threads so that would be unsafe), but then curl doesn't see the http_proxy environment variable.

The general problem of forwarding the environment is hard but maybe we can come up with a more targeted solution for this.

[2016-09-27 22:04] #6504 closed

[2016-09-27 22:08] paulbiss commented on #4870
This should be fixed as of 2a50896c0aba5378a4d2e3bdd2dea7ab3783cb9b

[2016-09-27 22:08] #4870 closed

[2016-09-27 22:09] paulbiss commented on #4867
Going to close this for now. Please open new issues if you'd like to follow up on any of these points.

[2016-09-27 22:09] #4867 closed

[2016-09-27 22:10] paulbiss commented on #4863
The backup cycle collector should now be functional. \o/

[2016-09-27 22:10] #4863 closed

[2016-09-27 22:11] #6587 closed

[2016-09-27 22:12] paulbiss commented on #4862
This is still something I'd be interested in seeing but it's a large and rathe risky project and I don't think anyone currently has the bandwidth for it. If anyone wants it let me know and I will reopen/assign to you.

[2016-09-27 22:12] #4862 closed

[2016-09-27 22:12] aorenste commented on #6588
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-27 22:12] #6588 closed

[2016-09-27 22:13] aorenste commented on #6589
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 22:13] #6589 closed

[2016-09-27 22:23] #7366 closed

[2016-09-27 22:25] aorenste commented on #6625
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 22:25] #6625 closed

[2016-09-27 22:26] #6629 closed

[2016-09-27 22:27] paulbiss commented on #4846
We now mark all functions as AttrMayUseVV outside of repo-mode.

There are still some significant bugs here though:

- We don't mark functions as AttrMayUseVV if they contain an FPushFuncU to an unqualified extract
- We don't mark dynamic calls as AttrMayUseVV in force_hh mode but we only enforce that all calls to extract be when Eval.DisallowDynamicVarEnvFuncs is set to ON.

[2016-09-27 22:29] aorenste commented on #6631
I think this is a dup of #6578 and #6542

[2016-09-27 22:29] #6631 closed

[2016-09-27 22:32] #6640 closed

[2016-09-27 22:33] #6641 closed

[2016-09-27 22:34] #6649 closed

[2016-09-27 22:34] paulbiss commented on #4830
I'd be ambivalent, I don't think it would be a bad change to make. Probably better to check with @dlreeves @andrewjkennedy and @alexchow first though.

[2016-09-27 22:36] paulbiss commented on #4821
This behavior in the absence of a memory limit seems reasonable. The alternative would be to have a default memory limit, I'd be fine with that too but don't feel it's a bug to have the process OOM without one set.

[2016-09-27 22:36] #4821 closed

[2016-09-27 22:37] #4818 closed

[2016-09-27 22:38] aorenste commented on #6653
I cannot reproduce this in 3.14. Closing.

[2016-09-27 22:38] #6653 closed

[2016-09-27 22:38] aorenste commented on #6655
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 22:38] #6655 closed

[2016-09-27 22:43] paulbiss commented on #4802
Should be an easy fix. Line with attached hash for context: https://github.com/facebook/hhvm/blob/dd8bf4193cc37a39ce112a11301cee17b409b1fd/hphp/system/php/redis/Redis.php#L1067-L1069

[2016-09-27 22:50] paulbiss commented on #4780
Going to close this tracking task, the ppc port has made substantial progress since this was opened.

[2016-09-27 22:50] #4780 closed

[2016-09-27 22:51] aorenste commented on #6680
There is definitely a potential issue there but since it requires already exposing an eval() hole I'm going to close it.

[2016-09-27 22:52] paulbiss commented on #4778
The change in c844c035f3acd8b2a3a2c43c9a1cb7a1b1e2f26a added looser handling for this but probably not as loose as is required here. It was the compromise we were prepared to make so I'm going to close this. If anyone has strong feelings please comment.

[2016-09-27 22:52] #4778 closed

[2016-09-27 22:52] aorenste commented on #6695
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-27 22:52] #6695 closed

[2016-09-27 22:58] aorenste commented on #6712
I cannot repro this with the latest HHVM.

[2016-09-27 22:58] #6712 closed

[2016-09-27 23:34] paulbiss commented on #4771
Looks like we don't properly parse the path because we're lacking GetPathComponent.

https://github.com/ImageMagick/ImageMagick/blob/626a27b7ba3ae0d975e27a546855e3302756ce87/MagickCore/utility.c#L1198-L1361

https://github.com/facebook/hhvm/blob/df46f6565d53081be567ac7d7018a064fff387c0/hphp/runtime/ext/imagick/ext_imagick.cpp#L98-L113

[2016-09-27 23:36] paulbiss commented on #4769
This warning has been removed entirely.

[2016-09-27 23:36] #4769 closed

[2016-09-27 23:37] paulbiss commented on #4765
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 23:37] #4765 closed

[2016-09-27 23:40] aorenste commented on #6734
Probably related to #6542

[2016-09-27 23:44] aorenste commented on #6738
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-27 23:44] #6738 closed

[2016-09-27 23:49] nilwave commented on #6734
It's not related to #6542

[2016-09-27 23:50] paulbiss commented on #4758
Aliasing Eval.EnableShortTags should be pretty straightforward.

[2016-09-27 23:58] aorenste commented on #6734
@nilwave - You're right.  I misread what you were saying when I quickly looked at this issue (and since about 4 other issues were related to 6542).  This seems to be that we're not treating (max_persistent == -1) as infinite.

[2016-09-27 23:58] paulbiss commented on #4752
The reason for this notice is that enabling code-coverage requires that the program be executed within the interpreter. To do this we immediately fixup the PHP frames currently on the stack and reenter via the interpreter.

The problem is that if the VM is nested (which can happen when the VM is reentered through a builtin, e.g. call_user_func) we only pop the top nesting level off the VM. This me

[2016-09-27 23:58] #4752 closed

[2016-09-28 00:01] aorenste commented on #6751
Both #6491 and #6941 are closed - closing this.

[2016-09-28 00:01] #6751 closed

[2016-09-28 00:04] #6764 closed

[2016-09-28 00:11] #6777 closed

[2016-09-28 00:13] aorenste commented on #6780
All recent versions of PHP seem to behave the same way HHVM does: https://3v4l.org/IOW7G

[2016-09-28 00:13] #6780 closed

[2016-09-28 00:18] paulbiss commented on #4723
Just about the only thing the profile requests do is set AttrHot on functions, which only matters when Eval.JitPGOHotOnly is set (by default it's off). Now that instance-bits for interface checks are computed as part of JIT profiling it should be safe to just disable profile requests (Eval.JitProfileInterpRequests=0) if you're worried about this particular pathological situation.

[2016-09-28 00:18] #4723 closed

[2016-09-28 00:18] aorenste commented on #6789
Is this still a problem? How are you installing HHVM? Have you tried a newer version of either CentOS or HHVM?

[2016-09-28 00:20] Alehap commented on #6789
Hi. I've installed the HHVM on Centos7 and it works well.

Vào 07:18 AM T.4, 28 Th9 2016 Aaron Orenstein <notifications@github.com>
viết:

[2016-09-28 00:20] aorenste commented on #6796
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 00:20] #6796 closed

[2016-09-28 00:23] paulbiss commented on #4709
Obviously the first thing to try here is to just increase the sizes suggested in these options, however, in a couple of specific cases this may not work. If you aren't running master you may want to setting Eval.JitPseudomain=false (or hhvm.jit_pseudomain=false for ini) may help, under certain pathological conditions we can end up creating many many short retranslations of pseudomains.

Modifying

[2016-09-28 00:23] #4709 closed

[2016-09-28 00:28] jails commented on #4752
Thanks @paulbiss  for the head up.

[2016-09-28 00:28] paulbiss commented on #4706
Looks like this was fixed: https://www.drupal.org/node/2430337

[2016-09-28 00:28] #4706 closed

[2016-09-28 00:29] aorenste commented on #6825
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 00:29] #6825 closed

[2016-09-28 00:30] aorenste commented on #6827
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 00:30] #6827 closed

[2016-09-28 00:36] paulbiss commented on #4705
Going to close this for now comment if there's any follow up we need here.

[2016-09-28 00:36] #4705 closed

[2016-09-28 01:26] photodude commented on #7035
I look forward to testing the fixes in 3.15.1 (since I still can't get nightly to install on travis ci)
just a note: I added a logger on memory resources to tell me the current state after each unit test. the last report said 255.97MB so it seems `memory_get_peak_usage()` was failing at about 256MB

[2016-09-28 06:49] #6789 closed

[2016-09-28 08:13] andrewjkennedy commented on #4918
Yes! Function types are currently covariant in return type and invariant in parameter type. So `(function(mixed):string)` is convertible to `(function(mixed):mixed)`, but not convertible to `(function(string):mixed)`.

I have a change ready to make functions contravariant in parameter types, which would support this, and I believe would also support the behaviour that you're seeking. But we have s

[2016-09-28 08:27] ohcibi commented on #4448
@Orvid could you add concrete information on how to do this to somewhere or at least tell where to find it?

[2016-09-28 12:21] Lobster3 opened #7390 "Compile issue"
Trying to compile hhvm (tried 3.14, 3.15 and master branches) on Debian Wheezy (using self-compiled gcc  4.9.4 and other required things) but it fails with the following:

[code]

It tells about missing hphp/hack/src/third-party/libancillary/ancillary.h but this file is present. I assume it searches in/from wrong folder (but no idea where does it take that directory).

ocaml is self-compiled as we

[2016-09-28 16:50] #6836 closed

[2016-09-28 16:56] aorenste commented on #6902
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 16:56] #6902 closed

[2016-09-28 16:59] aorenste commented on #6896
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 17:01] aorenste commented on #6894
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 17:01] #6894 closed

[2016-09-28 17:06] #6886 closed

[2016-09-28 17:08] aorenste commented on #6882
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 17:08] #6882 closed

[2016-09-28 17:19] aorenste commented on #6879
Is this still happening with newer versions of HHVM?

[2016-09-28 17:22] paulbiss commented on #4703
Sounds like the mystery here is mostly resolved. If anyone finds a repro for the crash in a more recent hhvm comment here so we can try to fail more gracefully.

[2016-09-28 17:22] #4703 closed

[2016-09-28 17:27] iangcarroll commented on #7198
`rtrim` not taking `null` breaks Composer, FYI.

[2016-09-28 18:44] #6863 closed

[2016-09-28 18:53] paulbiss commented on #4702
This is also going to be inconsistent in repo mode for us so we should probably fix it. It's also now consistent in PHP 7 and 7.1. The fix is probably just to not return traits from here:

https://github.com/facebook/hhvm/blob/c6b96eab21be48f88d19241aab5b78b482aacb05/hphp/runtime/ext/reflection/ext_reflection.cpp#L901-L918

[2016-09-28 19:02] paulbiss commented on #4682
Closing this as there was a major rewrite of the libxml extensions in 3.7 and we've not seen new reports since. If anyone finds an isolated repro please comment here.

[2016-09-28 19:02] #4682 closed

[2016-09-28 19:05] paulbiss commented on #4700
Looks like recent versions of HHVM at least agree with PHP 7 and some versions of PHP 5

https://3v4l.org/U3T31
https://3v4l.org/caCee

[2016-09-28 19:05] #4700 closed

[2016-09-28 20:32] craigcarnell commented on #6882
@aorenste It's still an issue..

[2016-09-28 21:07] paulbiss commented on #4678
Going to close this issue as the general functionality has been improved. If there are specific features anyone needs please open issues for them.

[2016-09-28 21:07] #4678 closed

[2016-09-28 21:08] paulbiss commented on #4677
Closing this as it's been waiting on additional information for more than a year.

[2016-09-28 21:08] #4677 closed

[2016-09-28 21:17] paulbiss commented on #4671
Type 4 is SAPI, I don't think we currently have any support for that outside of ext_zend_compat.

https://github.com/php/php-src/blob/695176458f0b039cd601ea2c7ca006f59efbc56a/ext/standard/basic_functions.c#L4752-L4758

[2016-09-28 21:23] paulbiss commented on #4669
This appears to be fixed in recent releases.

[2016-09-28 21:23] #4669 closed

[2016-09-28 21:39] #6451 closed

[2016-09-28 21:39] #6452 closed

[2016-09-28 21:39] #6453 closed

[2016-09-28 21:46] #6454 closed

[2016-09-28 21:49] Orvid commented on #6450
As it's the same issue and the other issue (#6449) has better descriptions of the actual issue, I'm going to close this one for now.

[2016-09-28 21:49] #6450 closed

[2016-09-28 21:53] Orvid commented on #6429
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 21:53] #6429 closed

[2016-09-28 21:53] #6442 closed

[2016-09-28 22:06] Orvid commented on #6444
Does this still happen on 3.15? How does the proxygen server mode handle this? How does the fastcgi mode handle it? What's the use-case for this?

[2016-09-28 22:07] #6405 closed

[2016-09-28 22:07] #6397 closed

[2016-09-28 22:10] paulbiss commented on #4664
I think we should be able to do this by raising a notice when we're going to return the result of invokeGet from propImpl with MOpFlags::Define. We'll need to evaluate the performance implications but I doubt there will be any.

https://github.com/facebook/hhvm/blob/913ad365f65991c1d4f3ecd507386bbdc8eb011f/hphp/runtime/base/object-data.cpp#L1212-L1214

[2016-09-28 22:16] Orvid commented on #6380
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 22:16] #6380 closed

[2016-09-28 22:17] Orvid commented on #6351
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 22:17] #6351 closed

[2016-09-28 22:18] Orvid commented on #6352
Not an issue with 3.12 or newer.

[2016-09-28 22:18] #6352 closed

[2016-09-28 22:21] Orvid commented on #6304
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 22:21] #6304 closed

[2016-09-28 22:26] Orvid commented on #6302
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-28 22:26] #6302 closed

[2016-09-28 22:27] Orvid commented on #6266
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-28 22:27] #6266 closed

[2016-09-28 22:29] paulbiss commented on #4644
We've made significant changes to our fastcgi implementation since this was reported (87f853d16db9fb0b443f856de1c5f28a6803b5c8 in 3.6+). As there wasn't a clear repro in the first place I'm going to close the issue. If anyone is still experiencing this problem please comment so we can investigate further.

[2016-09-28 22:29] #4644 closed

[2016-09-28 22:36] paulbiss commented on #4631
Closing this github issue since I don't think anyone is working on it, and it doesn't sound like this is currently a problem. @edwinsmith feel free to reopen if you disagree.

[2016-09-28 22:36] #4631 closed

[2016-09-28 22:39] edwinsmith commented on #4631
at best this would be a lockdown task to just optimize string growth.

[2016-09-28 22:41] Orvid commented on #6286
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-28 22:41] #6286 closed

[2016-09-28 22:44] paulbiss commented on #4605
I'm still unclear on what the issue with the header name is here, but if it just needs to be mapped to something other than 'Authorization' that shouldn't be difficult with the above fix. Comment below if you're still having problems with this.

[2016-09-28 22:44] #4605 closed

[2016-09-28 22:45] Orvid commented on #6277
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 22:45] #6277 closed

[2016-09-28 22:45] paulbiss commented on #4600
This report has unanswered questions, and the bug should be fixed in more recent versions with the ini option mentioned above.

[2016-09-28 22:45] #4600 closed

[2016-09-28 22:46] Orvid commented on #6253
These functions will be (for the most part) dying soon, so this isn't an issue.

[2016-09-28 22:46] #6253 closed

[2016-09-28 22:48] aorenste commented on #6882
@craigcarnell Any chance you have a repro case that we can test with?

[2016-09-28 22:53] paulbiss commented on #4537
Both of these are optimized pretty heavily in hhvm. Not really sure there's any meaningful followup we can do here though.

[2016-09-28 22:53] #4537 closed

[2016-09-28 22:54] Orvid commented on #6245
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-28 22:54] #6245 closed

[2016-09-28 22:55] paulbiss commented on #4525
Looks like recent versions of HHVM are now matching PHP 5 and 7. There was a rewrite of the DOMDocument extension which likely fixed this problem.

[2016-09-28 22:55] #4525 closed

[2016-09-28 22:56] paulbiss commented on #4523
@Orvid is this still a problem? Would it affect any of your windows work?

[2016-09-28 22:59] paulbiss commented on #4487
Looks like PHP has several implementations of this but it shouldn't be a hard function to add to hhvm.

https://github.com/php/php-src/blob/ddfbe07e2836be11020b5a2d044fa1a560787f3a/sapi/cli/ps_title.c#L334

[2016-09-28 23:01] paulbiss commented on #4483
As we still need to support PHP I'm not sure there's a particularly sane way for us to do this. I would be okay with a flag that can switch the behavior in the scanner, but it doesn't seem like something we'd prioritize adding ourselves.

[2016-09-28 23:01] #4483 closed

[2016-09-28 23:02] aorenste commented on #6862
It looks like php 7.1rc* has dropped support for this (although that may have been a mistake): https://3v4l.org/bhR3n

[2016-09-28 23:02] paulbiss commented on #4482
There's a lot of good discussion here. Unfortunately I don't think that anyone is particularly excited about having this in the language. I'm going to close this for now but if there are strong dissenting opinions I'm happy to hear new arguments.

[2016-09-28 23:02] #4482 closed

[2016-09-28 23:05] #6211 closed

[2016-09-28 23:06] Orvid commented on #6228
If this is still happening on master, feel free to re-open the issue.

[2016-09-28 23:06] #6228 closed

[2016-09-28 23:07] aorenste commented on #6857
Assertion failure: buck-out/dbgo/gen/hphp/util/thread-local#default,headers/hphp/util/thread-local.h:322: static T* HPHP::ThreadLocalSingleton<T>::get$

[2016-09-28 23:08] #6189 closed

[2016-09-28 23:11] paulbiss commented on #4477
This shouldn't be particularly difficult to add.

https://github.com/php/php-src/blob/665050787c18a5d09f1b6d1443efbad901b9ac0b/ext/gmp/gmp.c#L1775-L1792
https://github.com/php/php-src/blob/665050787c18a5d09f1b6d1443efbad901b9ac0b/ext/gmp/gmp.c#L1761-L1771

[2016-09-28 23:12] paulbiss commented on #4469
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 23:12] #4469 closed

[2016-09-28 23:14] aorenste commented on #6983
This should now be implemented.

[2016-09-28 23:14] #6983 closed

[2016-09-28 23:14] Orvid commented on #6202
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-28 23:14] #6202 closed

[2016-09-28 23:23] paulbiss commented on #4428
Closing this as a [documented inconsistency](https://docs.hhvm.com/hhvm/inconsistencies/classes-and-objects#object-internal-cursors), as it sounds like there are some good workarounds already.

[2016-09-28 23:23] #4428 closed

[2016-09-28 23:28] paulbiss commented on #4426
Closing this for now as external as there aren't any current plans to add official fedora packages.

[2016-09-28 23:28] #4426 closed

[2016-09-28 23:29] aorenste commented on #6956
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 23:29] #6956 closed

[2016-09-28 23:33] aorenste commented on #6948
It looks like this has been fixed since the original report.

[2016-09-28 23:33] #6948 closed

[2016-09-28 23:36] paulbiss commented on #4386
Sounds like this is fixed, though I guess the mystery of how was never really resolved.

[2016-09-28 23:36] #4386 closed

[2016-09-28 23:38] paulbiss commented on #4380
Since cleaning this up will be a mess, and it's probably not going to matter much in the end I'm going to close this issue. If anyone can think of a good reason this method needs to be final please comment below.

[2016-09-28 23:38] #4380 closed

[2016-09-28 23:39] paulbiss commented on #4362
Closing this as an external issue. Should still be indexed if anyone has the same problem and comes hunting for solutions.

[2016-09-28 23:39] #4362 closed

[2016-09-28 23:42] paulbiss commented on #4351
Is anyone still seeing this? The recent work on xdebug for nuclide debugging support fixed a lot of hard to find bugs.

[2016-09-28 23:45] paulbiss commented on #4301
We now have a mac port and a windows port on the way. I don't think this is a blocker anymore.

[2016-09-28 23:45] #4301 closed

[2016-09-28 23:47] paulbiss commented on #4269
PR has timed out and it doesn't look like anyone is still interested in this. We'd still be happy to take a pull request if anyone out there needs this.

[2016-09-28 23:47] #4269 closed

[2016-09-28 23:50] aorenste commented on #6942
I'm seeing the same behavior for php 5, 7 and hhvm: https://3v4l.org/h8hAn.  If I'm misinterpreting the issue please clarify and reopen.

[2016-09-28 23:50] #6942 closed

[2016-09-28 23:51] paulbiss commented on #4233
New docs site: https://docs.hhvm.com/hhvm/configuration/INI-settings

[2016-09-28 23:51] #4233 closed

[2016-09-28 23:52] paulbiss commented on #4235
I think this is completely gone now anyway as part of the new PHP 7 support.

[2016-09-28 23:52] #4235 closed

[2016-09-28 23:53] #6934 closed

[2016-09-28 23:53] aorenste commented on #6931
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-28 23:53] #6931 closed

[2016-09-29 00:03] paulbiss commented on #4170
Hmm, that would make sense. HHBBC unilaterally marks all builtins as unique, as defining your own versions would be an error anyway. We should probably improve the error message, but the error itself is unsurprising.

It sounds like the file is available for legacy compatibility with older versions of PHP. The right way to handle this would probably be to pass an exclude rule to hhvm when building

[2016-09-29 00:04] paulbiss commented on #4133
This is an artifact of the way auto-import behaves in hhvm. Since string is a reserved word in hack, the typechecker will give you a clearer error, and we don't do an auto-import in non-hack code.

[2016-09-29 00:04] #4133 closed

[2016-09-29 00:09] paulbiss commented on #3997
Going to close this for now as something which we are unlikely to fix. The problem boils down to the way that we handle inlining, and would be fundamentally difficult to fix in a generic fashion. It may be worth revisiting in the future but no one currently has the bandwidth to fix this.

[2016-09-29 00:09] #3997 closed

[2016-09-29 00:12] aorenste commented on #6921
Note that this is a problem on the client side - using hhvm for the server and php5 for the client works fine.

[2016-09-29 00:12] paulbiss commented on #3889
Probably not worth it to deal with the runtime side of this, as there many of these attributes are only meaningful to hh_client anyway.

[2016-09-29 00:12] #3889 closed

[2016-09-29 00:13] #6918 closed

[2016-09-29 00:14] paulbiss commented on #3883
Closing for now as there hasn't been active work on the framework test suite for sometime now (and this is mostly a nice to have).

[2016-09-29 00:14] #3883 closed

[2016-09-29 00:15] paulbiss commented on #3879
Sounds like this may be a configuration issue. If anyone can come up with an isolated repro comment here so we can investigate.

[2016-09-29 00:15] #3879 closed

[2016-09-29 00:18] paulbiss commented on #3861
Hmm, this probably would be a better question for someone more familiar with debian packaging.

[2016-09-29 00:18] #3861 closed

[2016-09-29 00:34] aorenste commented on #7001
It sounds like the real issue here is to check that hhvm.repo.mode=readonly is working properly.

[2016-09-29 00:38] aorenste commented on #7010
Does compiling HHVM without musl work?

[2016-09-29 00:40] aorenste commented on #7027
Is this still a problem?

[2016-09-29 00:41] #7034 closed

[2016-09-29 00:42] nazar-pc commented on #7027
Didn't try for a long time (and it takes some time to compile to make it right now), will check again till the end of the week and let you know

[2016-09-29 01:08] aorenste commented on #7096
It looks like PHP7.1beta2 actually reverts to the php5 behavior.

[2016-09-29 01:14] aorenste commented on #7096
Smaller repro case: https://3v4l.org/ZTL2u

[2016-09-29 01:15] aorenste commented on #7094
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 01:15] #7094 closed

[2016-09-29 01:25] #7093 closed

[2016-09-29 01:28] aorenste commented on #7122
Closing as this really isn't an HHVM issue (i.e. bug).  Please feel free to contact the developers on IRC (http://webchat.freenode.net/?channels=hhvm)

[2016-09-29 01:28] #7122 closed

[2016-09-29 04:56] trivedipankaj commented on #4726
Yes, I could make it work. After compiling it into hhbc, simply put hhvm.repo.authoritative=true in configuration and it should just work!

[2016-09-29 13:50] jesseschalken opened #7394 "DateTime::setTimestamp() doesn't keep microseconds like in PHP"
### HHVM Version

HipHop VM 3.15.0 (rel)
Compiler: tags/HHVM-3.15.0-0-g92a682ebaa3c85b84857852d8621f528607fe27d
Repo schema: 225d4323575bbc8a498dc809a1c41354f6bca830
### Standalone code, or other way to reproduce the problem

[code]

See https://3v4l.org/BBBSl
### Expected result

[code]
### Actual result

[code]

[2016-09-29 14:35] algrims commented on #4726
Thanks for your reply.  What I am struggling with is how to get it running.  My web server root is /wev/myapp where I have multiple php scripts such as index.php.
Any suggestions would be great.

1. I compile with    hhvm --hphp -t hhbc -vRepo.Central.Path="/web/myapp/hhvm.hhbc" -dhhvm.force_hh=true --input-dir /web/myapp

2. It generates hhvm.hhbc that I copy to /web/myapp and I delete the rest o

[2016-09-29 15:00] jwatzman commented on #4726
Have you followed the directions [in our documentation](https://docs.hhvm.com/hhvm/advanced-usage/repo-authoritative)? There's a nice shell script to help you with it. If you can't use the script, there are manual directions too -- in particular, note the two INI options you have to set once you have finished building the repo and restart HHVM.

[2016-09-29 15:24] algrims commented on #4726
Yes thanks! I did take a look.  I am fine when it's one file index.php. But when I have another script test.php when I go to my web page it only executes index.php when try to run test.php.
in my url I enter http://host/web/test.php and it still runs index.php.

[2016-09-29 16:04] aorenste commented on #7027
@nazar-pc Okay - I'm going to close this for now and if you discover that it's still a problem feel free to add more details and reopen.

[2016-09-29 16:04] #7027 closed

[2016-09-29 16:08] algrims commented on #4726
My server.ini settings are below.
I must be missing something somewhere.
I have 2 files in /web/test folder index.php and test.php.
I compiled with hhvm --hphp -t hhbc hhbc -v AllVolatile=true  -dhhvm.force_hh=true --input-dir /web/test.
I then copy the hhvm.hhbc created in the /tmp/ folder to /var/run/hhvm/hhbc
I restart hhvm and it runs index.php when I run /test/test.php in the browser.

Any su

[2016-09-29 16:21] aorenste commented on #7152
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 16:21] #7152 closed

[2016-09-29 16:34] aorenste commented on #7164
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

This feature request doesn't appear to be actively being worked on. We would happily consider a pull request implementing it. If you plan to work on this issue let us know in the comments and we will

[2016-09-29 16:34] #7164 closed

[2016-09-29 16:38] eeeehaw commented on #7333
Fred, I'm assuming you mean a debug package of HHVM 3.14.5.  Where can I get this?

[2016-09-29 16:47] aorenste commented on #7178
It looks like this was fixed by #7197.  Closing.

[2016-09-29 16:47] #7178 closed

[2016-09-29 16:48] aorenste commented on #7174
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-29 16:48] #7174 closed

[2016-09-29 16:49] aorenste commented on #7169
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 16:49] #7169 closed

[2016-09-29 16:50] fredemmott commented on #7333
3.15.0 - just install the hhvm-dbg package with apt instead of hhvm

[2016-09-29 16:56] aorenste commented on #7202
Any chance you can provide a stand-alone script to demonstrate the issue?

[2016-09-29 16:58] #7214 closed

[2016-09-29 17:06] aorenste commented on #7229
I tried to create a small test and it seems that the deprecation message doesn't halt processing of the file:
[code]
[code]
Am I misunderstanding the issue?

[2016-09-29 17:07] aorenste commented on #7230
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 17:17] photodude commented on #7229
Perhaps it's just causing phpunit to halt and no longer to process files. It's not the same behavior that I'm seeing with php 7.

[2016-09-29 17:19] photodude commented on #6784
I also think it would be nice to have APCU

[2016-09-29 17:20] aorenste commented on #7239
It seems like the underlying problem is that array_unique() is complaining about an array to string conversion when it shouldn't.
https://3v4l.org/16RgR

[2016-09-29 17:27] photodude commented on #7229
Here is a travis test comparison
HHVM php unit tests dies at about 13% https://travis-ci.org/photodude/joomla-cms/jobs/142317919
PHP 7 php unit tests completes https://travis-ci.org/photodude/joomla-cms/jobs/163263564

I would re-run a current test but I'm no longer able to run HHVM tests in php 7 mode due to https://github.com/facebook/hhvm/issues/7198

[2016-09-29 17:27] nikic commented on #7239
@aorenste PHP is simply special-casing the `<= 1` elements case, in which case it directly returns the array. It does throw the notice for more elements: https://3v4l.org/kvaEq

[2016-09-29 17:28] aorenste commented on #7255
This is D3650714 internally.

[2016-09-29 17:37] JoelMarcey commented on #7230
We had the same problem on a Docker image running Ubuntu 14.04.5 and HHVM 3.15 and the fix from @wake-up-neo worked. Not sure why we had to do that, but it worked. Thanks @wake-up-neo!

[2016-09-29 17:41] photodude commented on #7239
this was my test case https://3v4l.org/OfMqV

[2016-09-29 17:52] aorenste commented on #7230
Reopening to look into why LC_ALL is necessary in a Docker image.

[2016-09-29 17:56] JoelMarcey commented on #7230
@fredemmott says locales are not great in Docker

[2016-09-29 18:00] ubergarm commented on #6740
I'm seeing a potentially similar issue when switching between:
* HHVM: `HipHop VM 3.14.4 (rel)`
* PHP: `5.6.25-2+deb.sury.org~xenial+1`

Both are running behind Apache2: `Apache/2.4.18 (Ubuntu)` on an AWS EC2 VPS Ubuntu 16.04 Xenial instance.

In my testing, it seems like queries are cached with `php` but not with `hhvm`.  Initial page load times are similar, but reloading the page `php` is *much*

[2016-09-29 18:07] fredemmott commented on #7230
We don't set this as the correct thing varies by use-case; if there were a universally correct answer, it should be set in the upstream ubuntu image - overriding it for our images would be strange/surprising.

C can be appropriate, though UTF-8 locales are usually desirable. Example: https://github.com/hhvm/user-documentation/blob/master/Dockerfile#L6-L9

[2016-09-29 18:07] fredemmott commented on #7230
Actually, re-opening, HHVM should deal with invalid lcoales better (at least, a clear message)

[2016-09-29 18:11] aorenste commented on #7230
@fredemmott And not crash

[2016-09-29 18:13] #6070 closed

[2016-09-29 18:21] paulbiss commented on #4215
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4215 closed

[2016-09-29 18:21] paulbiss commented on #4217
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4217 closed

[2016-09-29 18:21] paulbiss commented on #4219
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4219 closed

[2016-09-29 18:21] paulbiss commented on #4220
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4220 closed

[2016-09-29 18:21] paulbiss commented on #4222
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4222 closed

[2016-09-29 18:21] paulbiss commented on #4223
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4223 closed

[2016-09-29 18:21] paulbiss commented on #4224
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4224 closed

[2016-09-29 18:21] paulbiss commented on #4226
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4226 closed

[2016-09-29 18:21] paulbiss commented on #4227
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4227 closed

[2016-09-29 18:21] paulbiss commented on #4228
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4228 closed

[2016-09-29 18:21] paulbiss commented on #4229
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4229 closed

[2016-09-29 18:21] paulbiss commented on #4230
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #4230 closed

[2016-09-29 18:21] paulbiss commented on #7029
Closing h2tp issues as there is currently no maintainer for this tool. If anyone wants to step up and maintain h2tp we will reopen these issues.

[2016-09-29 18:21] #7029 closed

[2016-09-29 18:22] fredemmott commented on #7230
As long as it's a non-zero exit, I don't really mind :p

[2016-09-29 18:30] aorenste commented on #7266
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 18:30] #7266 closed

[2016-09-29 18:38] aorenste commented on #7281
Can you be clearer about the reproduction code?  It looks like it's just creating a new RecursiveDirectoryIterator() on the same blank directory twice.  When I try that it works fine.

[2016-09-29 18:46] aorenste commented on #7294
I think this was fixed in #7334

[2016-09-29 18:46] #7294 closed

[2016-09-29 18:48] eeeehaw commented on #7333
Ok, I installed hhvm-dbg v3.15 per HHVM install instructions for Ubuntu 14.04.  There was a warning message that caught my eye, see my console output during the install below.

Note: I had received some suggested commands to try from the FBCTF team that turned out to be a work-around for this problem, here is what they are:
--------------
sudo rm /var/run/hhvm/hhvm.hhbc
sudo hhvm-repo-mode enable

[2016-09-29 18:49] eeeehaw commented on #7333
Fred, sorry about the large bold font in above paragraphs.  I didn't specify that, somehow this github platform decided to do that for me.  I'm NOT trying to yell or anything :-)

[2016-09-29 18:52] fredemmott commented on #7333
- try doing whatever you were doing that got the backtrace before; that paste isn't useful
 - enclose pastes like that with triple backticks
 - I'm no longer on HHVM and won't be investigating; just trying to help you get enough information in this issue to increase the chances of it being fixed

[2016-09-29 18:54] eeeehaw commented on #7333
Ok, maybe I'm not clear on what you mean by "backtrace".  I haven't run a hhvm debut package before, nor run an explicit trace (that I know of). How to do that? THx for tip on triple backticks.

[2016-09-29 18:55] fredemmott commented on #7333
[code]

This kind of thing; the debug package should make it so you get function names in that instead of just memory addresses

[2016-09-29 19:00] paulbiss commented on #3791
The comparison overloads can probably be done atop the support that already exists for SimpleXML, the rest of the overloads will definitely require changes inside the JIT. It's unlikely these changes would negatively impact performance, but deciding how general they need to be is going to be an important conversation.

[2016-09-29 19:18] eeeehaw commented on #7333
I found a single stacktrace file in /tmp, but it is empty and shows as 0 bytes size.
I also see where the HHVM error.log in /var/log/ shows that it should have written 3 stacktrace files to /tmp?  But only one empty one is there.  See my console output for that:
----------------
[code]

[2016-09-29 19:24] fredemmott commented on #7333
Try run running hhvm in gdb, and when it crashes , `thread apply all bt`, and paste that.

[2016-09-29 19:57] aorenste commented on #7338
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-29 19:57] #7338 closed

[2016-09-29 19:58] mofarrell commented on #7368
0716516a7f40457159df0e7cf160fb755d00e127

[2016-09-29 19:58] #7368 closed

[2016-09-29 19:59] ggottwald commented on #7281
For this output I used artisan tinker. But the results is the same in productive php code.
I created an empty directory "/tmp/bla".
By creating an instance of RecursiveDirecotryIterator `(new \RecursiveDirectoryIterator('/tmp/bla', 4096);)` its getting an empty path and dir:false.

Just testet in hhvm 3.15.0.

[2016-09-29 20:01] #7346 closed

[2016-09-29 20:07] aorenste commented on #7384
Fixed in c544f595

[2016-09-29 20:07] #7384 closed

[2016-09-29 20:17] eeeehaw commented on #7333
Installed GDB.  I found that hhvm process running as #2479, even though the hhvm service is not running.  So, attached gdb to that process#.  Here's console output, inc the 'thread apply al bt':
---------------------
[code]

[2016-09-29 20:19] fredemmott commented on #7333
That's not useful until hhvm has crashed; it automatically pauses when gdb attaches, but that's not the crash.

[2016-09-29 20:25] glensc commented on #7384
looks like travis is using end of LTS support version 3.6:

https://docs.hhvm.com/hhvm/installation/introduction#lts-releases

LTS VERSION | RELEASE DATE | END OF SUPPORT
-------------------- | ----------------------- | --------------------------
3.6	| 11 March 2015 | 1 March 2016
3.9 | 14 August 2015 | 15 July 2016
3.12 | 29 January 2016	| 30 December 2016

[2016-09-29 20:27] aorenste commented on #7384
This should land in 3.16.  It's unlikely that we would backport it to any previous version.

[2016-09-29 20:34] #6157 closed

[2016-09-29 20:34] Orvid commented on #6153
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-29 20:34] #6153 closed

[2016-09-29 20:35] Orvid commented on #6075
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-29 20:35] #6075 closed

[2016-09-29 20:35] #6210 closed

[2016-09-29 20:38] eeeehaw commented on #7333
Hmm...ok, then I take it that hhvm hasn't "crashed" (which is promising?) but the hhvm service is not running, when I attempt to restart that service it refuses to run, and because of that my environment is non-functional.

Exploring some more, I did find what may be an interesting config file in the /home/eeeehaw/fbctf/extra/ folder, hhvm.conf; perhaps that may provide some clues why I saw that "

[2016-09-29 20:52] paulbiss commented on #3720
https://github.com/facebook/hhvm/tree/master/hphp/runtime/ext_zend_compat

[2016-09-29 20:52] #3720 closed

[2016-09-29 21:39] paulbiss commented on #7346
You can use set_error_handler to achieve a similar message https://github.com/facebook/hhvm/issues/3576#issuecomment-53205529

[2016-09-29 21:40] paulbiss commented on #3576
Longer discussion of this is at #4436

[2016-09-29 21:40] #3576 closed

[2016-09-29 21:40] paulbiss commented on #4436
I would support a PR to offer this as an optional (defaulted to off) feature, but I don't think anyone is currently working on it.

[2016-09-29 21:40] #4436 closed

[2016-09-29 21:41] paulbiss commented on #3566
Closing this discussion for now. If someone wants to propose a mechanism for this I would be interested to hear it, but I think the right answer here is to design a saner standard library to work with collections or more likely the new hack arrays.

[2016-09-29 21:41] #3566 closed

[2016-09-29 21:43] paulbiss commented on #3565
Generally we will take PRs for missing hhi interfaces but it's not something we're actively pursuing.

[2016-09-29 21:43] #3565 closed

[2016-09-29 21:59] paulbiss commented on #3475
https://docs.hhvm.com/hhvm/advanced-usage/fastCGI
https://httpd.apache.org/docs/2.4/mod/mod_proxy_fcgi.html
https://httpd.apache.org/docs/2.4/mod/mod_proxy.html

[2016-09-29 21:59] #3475 closed

[2016-09-29 22:00] paulbiss commented on #3472
Looks like there's a resolution here. fix_path_info is now documented here: https://docs.hhvm.com/hhvm/configuration/INI-settings#common-options

[2016-09-29 22:00] #3472 closed

[2016-09-29 22:13] paulbiss commented on #3326
@noony (sorry for the super belated reply). Unfortunately it won't be that simple in HHVM, we use a thread pool and not a process pool so cloning the file descriptors will definitely cause issues. You'll need to intercept the logic for writing to error log separately, have a look at the logger class in hphp/util.

[2016-09-29 22:25] paulbiss commented on #3305
Knowing the PHP stack trace would be a start, if there's a builtin you're calling that sets this off that would also be good to know.

[2016-09-29 22:28] paulbiss commented on #3285
There was a major refactor of fastcgi (87f853d16db9fb0b443f856de1c5f28a6803b5c8) which resolved a number of long standing issues, and a series of followup bug fixes. As there have been no new comments on here and we never had a repro I'm going to close this issue. If anyone is still experiencing problems (and ideally has an isolated repro case) please comment below.

[2016-09-29 22:28] #3285 closed

[2016-09-29 22:35] simonwelsh commented on #7320
Finally got HHVM to compile at home again, so will check @aorenste's solution tonight.

[2016-09-29 23:11] paravoid commented on #6680
I respectfully disagree with wontfixing/closing this bug.

This is a bit similar to having a writeable executable memory space — something that the security community has gone considerable lengths to protect from in OSes and CPU architectures (W^X, NX etc.). Using the same example, saying that "this requires exposing an eval() hole" is the equivalent of saying that "this requires code that writes

[2016-09-29 23:31] aorenste commented on #6680
Although your solutions sound easy I think that given the current architecture either one would require rewriting a large section of (or all of) the repo handling code.  I'll reopen it since it is an actual problem but I doubt we'd get to it any time soon.

[2016-09-30 04:08] paulbiss commented on #3165
I would look at `hhvm.server.thread_job_max_queuing_milli_seconds` it won't let you adjust the queue size but it will let you timeout requests that have spent too long in the queue, which should achieve the desired effect of preventing a large backlog. Even with this setting using `hhvm.server.thread_job_lifo_switch_threshold` is probably also a good idea.

https://docs.hhvm.com/hhvm/configuration

[2016-09-30 04:08] #3165 closed

[2016-09-30 04:24] paulbiss commented on #3123
Xenon is probably your best bet here. You may also be able to build your own sampling profiler on top of the IntervalTimer extension.

[2016-09-30 04:24] #3123 closed

[2016-09-30 04:26] paulbiss commented on #3043
Unclear, but I don't think I found anything the last time I investigated it.

[2016-09-30 04:26] #3043 closed

[2016-09-30 04:36] paulbiss commented on #3015
This is still an issue, the function is typed as taking an array but the FCallArray bytecode still doesn't require an array. So anywhere we can't statically infer that call_user_func_array is being invoked we fallback to the builtin which will fail on non-arrays. That being said allowing an iterable doesn't seem unreasonable. The right answer here may be to just allow call_user_func_array to take

[2016-09-30 04:44] paulbiss commented on #2849
We're taking PRs for these but it's not something we're likely to go through and do systematically right now.

[2016-09-30 04:44] #2849 closed

[2016-09-30 04:47] paulbiss commented on #2825
cc @dlreeves @andrewjkennedy

This is a pretty old feature request but it sounds like the kind of thing you guys might be interested in.

[2016-09-30 05:28] paulbiss commented on #2745
We could intercept [registerBuiltinFunction(...)](https://github.com/facebook/hhvm/blob/463bf994adc41f5e89950641de61a1cf81e97d48/hphp/runtime/vm/native.h#L437) and inject a function pointer to a stub that fails the call [like](https://github.com/php/php-src/blob/fcc6f2df5986bb9615a658cc717b1a92922462d2/main/main.c#L176-L209) [zend](https://github.com/php/php-src/blob/3d04b5c2881095b11296fdef37878d

[2016-09-30 05:35] paulbiss commented on #2707
Still no repro and no new reports since 2014. Since it's still unclear how this was ever happening I'm going to close the issue. If anyone is still experiencing this issue, or better still, has an isolated repro, please comment below.

[2016-09-30 05:35] #2707 closed

[2016-09-30 05:39] paulbiss commented on #2689
If someone wants to send us a documentation PR to update [this page](https://docs.hhvm.com/hhvm/advanced-usage/fastCGI) I'd be happy to take it. As we now offer proxygen as an alternative and our docs describe fastcgi as an advanced configuration I'm going to close this.

[2016-09-30 05:39] #2689 closed

[2016-09-30 05:41] paulbiss commented on #2644
With hack arrays and the forthcoming standard library for operating on them it's unlikely we'll be adding new features to collections.

[2016-09-30 05:41] #2644 closed

[2016-09-30 05:43] paulbiss commented on #2554
We have some long term items on the roadmap to help with interpreter performance and smarter CLI performance with the JIT but they aren't high priority as hhvm is mostly tuned to be an efficient server and will likely always have an observable startup cost.

[2016-09-30 05:43] #2554 closed

[2016-09-30 05:46] paulbiss commented on #2457
Pretty sure this is intentional as DumpBytecode 0, 1, and 2 have different meanings and it's therefore unclear what true should mean.

[2016-09-30 05:46] #2457 closed

[2016-09-30 05:49] paulbiss commented on #2402
Might be worth considering something like this for the new hack array standard library, it's unlikely we will be adding new features to collections.

[2016-09-30 05:49] #2402 closed

[2016-09-30 05:50] paulbiss commented on #2362
Timeout options are now well documented here: https://docs.hhvm.com/hhvm/configuration/INI-settings

[2016-09-30 05:50] #2362 closed

[2016-09-30 05:51] paulbiss commented on #2267
There are some areas where we are missing equivalent options, particularly for some of the more complex syntax supported by HDF, but the basic set of options is both well supported and well documented.

https://docs.hhvm.com/hhvm/configuration/INI-settings

[2016-09-30 05:51] #2267 closed

[2016-09-30 05:53] paulbiss commented on #2259
We do for the underlying array, we can't do that with the object wrapper though the immutable object project/rfc may make this possible.

[2016-09-30 05:53] #2259 closed

[2016-09-30 08:26] simonwelsh commented on #7320
@aorenste Only change I needed to make was to add a `return` to `setClientEncoding`.

If you want to submit your diff, I'll get `pg_set_error_verbosity` working.

[2016-09-30 18:52] #6514 closed

[2016-09-30 18:55] Orvid commented on #6265
This appears to be fixed on current versions of HHVM: https://3v4l.org/KHJAU

[2016-09-30 18:55] #6265 closed

[2016-09-30 19:05] Orvid commented on #6181
No patch was ever submitted for this.

[2016-09-30 19:05] #6181 closed

[2016-09-30 19:07] Orvid commented on #6174
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:07] #6174 closed

[2016-09-30 19:08] Orvid commented on #6093
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:08] #6093 closed

[2016-09-30 19:08] Orvid commented on #6136
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:08] #6136 closed

[2016-09-30 19:10] #6066 closed

[2016-09-30 19:19] Orvid commented on #5887
I suspect this has been fixed, as I don't see the assertion when running on master.

[2016-09-30 19:19] #5887 closed

[2016-09-30 19:20] Orvid commented on #5861
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 19:20] #5861 closed

[2016-09-30 19:24] Orvid commented on #5857
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:24] #5857 closed

[2016-09-30 19:24] Orvid commented on #5856
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:24] #5856 closed

[2016-09-30 19:25] Orvid commented on #5852
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:25] #5852 closed

[2016-09-30 19:25] Orvid commented on #5833
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:25] #5833 closed

[2016-09-30 19:26] Orvid commented on #5820
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:26] #5820 closed

[2016-09-30 19:26] Orvid commented on #5816
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:26] #5816 closed

[2016-09-30 19:27] Orvid commented on #5815
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:27] #5815 closed

[2016-09-30 19:27] Orvid commented on #5810
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:27] #5810 closed

[2016-09-30 19:28] Orvid commented on #5746
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 19:28] #5746 closed

[2016-09-30 19:28] Orvid commented on #5740
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:28] #5740 closed

[2016-09-30 19:29] Orvid commented on #5731
Is this still the case?

[2016-09-30 19:30] #5745 closed

[2016-09-30 19:32] Orvid commented on #5631
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 19:32] #5631 closed

[2016-09-30 19:32] Orvid commented on #5656
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:32] #5656 closed

[2016-09-30 19:32] Orvid commented on #5658
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:32] #5658 closed

[2016-09-30 19:34] Orvid commented on #5698
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:34] #5698 closed

[2016-09-30 19:39] #5695 closed

[2016-09-30 19:39] Orvid commented on #5606
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:39] #5606 closed

[2016-09-30 19:39] Orvid commented on #5604
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:39] #5604 closed

[2016-09-30 19:39] Orvid commented on #5603
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:39] #5603 closed

[2016-09-30 19:40] Orvid commented on #5602
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 19:40] #5602 closed

[2016-09-30 19:43] Orvid commented on #5561
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 19:43] #5561 closed

[2016-09-30 19:44] Orvid commented on #5563
As-of 3.13, we are providing the `flags` index, but we still are missing the `buffer_size` value.

[2016-09-30 19:46] Orvid commented on #5554
It's not as helpful as PHP, but 3.12 and above do provide a line number.

[2016-09-30 19:46] #5554 closed

[2016-09-30 19:50] Orvid commented on #5529
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:50] #5529 closed

[2016-09-30 19:51] #5531 closed

[2016-09-30 19:51] Orvid commented on #5533
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:51] #5533 closed

[2016-09-30 19:53] Orvid commented on #5522
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:53] #5522 closed

[2016-09-30 19:54] Orvid commented on #5521
We match the PHP behavior as-of 3.12

[2016-09-30 19:54] #5521 closed

[2016-09-30 19:55] Orvid commented on #5515
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 19:55] #5515 closed

[2016-09-30 20:16] Orvid commented on #5504
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 20:16] #5504 closed

[2016-09-30 20:17] #5505 closed

[2016-09-30 20:17] Orvid commented on #5506
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 20:17] #5506 closed

[2016-09-30 21:00] Orvid commented on #5480
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:00] #5480 closed

[2016-09-30 21:00] Orvid commented on #5486
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 21:00] #5486 closed

[2016-09-30 21:01] Orvid commented on #5474
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:01] #5474 closed

[2016-09-30 21:02] #5479 closed

[2016-09-30 21:02] Orvid commented on #5473
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:02] #5473 closed

[2016-09-30 21:04] Orvid commented on #5459
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:04] #5459 closed

[2016-09-30 21:04] Orvid commented on #5458
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:04] #5458 closed

[2016-09-30 21:04] Orvid commented on #5450
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:04] #5450 closed

[2016-09-30 21:05] #5403 closed

[2016-09-30 21:05] Orvid commented on #5392
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:05] #5392 closed

[2016-09-30 21:07] #5376 closed

[2016-09-30 21:07] #5349 closed

[2016-09-30 21:09] Orvid commented on #5324
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:09] #5324 closed

[2016-09-30 21:09] #5328 closed

[2016-09-30 21:09] Orvid commented on #5325
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:09] #5325 closed

[2016-09-30 21:12] Orvid commented on #5309
There are some automated tools that, with some modification, would do this far better and easier than manual review, so this is a task best discussed internally.

[2016-09-30 21:12] #5309 closed

[2016-09-30 21:13] Orvid commented on #5258
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:13] #5258 closed

[2016-09-30 21:13] Orvid commented on #5321
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:13] #5321 closed

[2016-09-30 21:13] Orvid commented on #5283
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:13] #5283 closed

[2016-09-30 21:14] Orvid commented on #5244
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:14] #5244 closed

[2016-09-30 21:14] Orvid commented on #5244
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:15] Orvid commented on #5189
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:15] #5189 closed

[2016-09-30 21:16] Orvid commented on #5148
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:16] #5148 closed

[2016-09-30 21:16] #5153 closed

[2016-09-30 21:16] Orvid commented on #5177
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:16] #5177 closed

[2016-09-30 21:19] Orvid commented on #5125
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:19] #5125 closed

[2016-09-30 21:20] Orvid commented on #5128
As of HHVM 3.12 we no longer complain about `$this` being `null`, but instead complain that `Cannot access private property A::$isTrue`, which is the same error that PHP7.1 is producing.

[2016-09-30 21:21] #5128 closed

[2016-09-30 21:22] Orvid commented on #5119
Hrmm.... I should probably fix the issue that I ran into myself >_>.....

[2016-09-30 21:24] Orvid commented on #5120
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:24] #5120 closed

[2016-09-30 21:24] Orvid commented on #5076
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:24] #5076 closed

[2016-09-30 21:24] Orvid commented on #5085
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:24] #5085 closed

[2016-09-30 21:24] Orvid commented on #5087
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:24] #5087 closed

[2016-09-30 21:25] Orvid commented on #5089
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:25] #5089 closed

[2016-09-30 21:25] Orvid commented on #5092
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:25] #5092 closed

[2016-09-30 21:26] #5095 closed

[2016-09-30 21:27] Orvid commented on #5065
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:27] #5065 closed

[2016-09-30 21:27] Orvid commented on #5063
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:27] #5063 closed

[2016-09-30 21:27] #5061 closed

[2016-09-30 21:28] Orvid commented on #5054
We recently landed a fix that should output where the error occured now.

[2016-09-30 21:28] #5054 closed

[2016-09-30 21:37] Orvid commented on #5043
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:37] #5043 closed

[2016-09-30 21:37] Orvid commented on #5041
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:37] #5041 closed

[2016-09-30 21:38] Orvid commented on #5033
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:38] #5033 closed

[2016-09-30 21:38] #5040 closed

[2016-09-30 21:39] Orvid commented on #5039
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:39] #5039 closed

[2016-09-30 21:39] Orvid commented on #5024
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:39] #5024 closed

[2016-09-30 21:39] Orvid commented on #5022
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:39] #5022 closed

[2016-09-30 21:42] #5015 closed

[2016-09-30 21:43] #5004 closed

[2016-09-30 21:44] #4951 closed

[2016-09-30 21:45] #4955 closed

[2016-09-30 21:46] #4921 closed

[2016-09-30 21:46] #4986 closed

[2016-09-30 21:47] Orvid commented on #4975
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 21:47] #4975 closed

[2016-09-30 21:47] Orvid commented on #4971
This issue has been waiting for more info for more than 2 weeks. I'm closing it for now, but feel free to re-open it if you can provide more info. https://github.com/facebook/hhvm/wiki/Human-Timeouts

[2016-09-30 21:47] #4971 closed

[2016-09-30 21:47] #4964 closed

[2016-09-30 21:47] Orvid commented on #4958
We're a small team, and it doesn't look as though anyone in the community is actively working on this issue, so we've decided to close it. If you plan to send us a pull request resolving the issue let us know in the comments and we will re-open it and assign it to you. If you feel this issue deserves more attention, please comment here with your use-case and we will try to prioritize as appropriat

[2016-09-30 21:47] #4958 closed

[2016-09-30 22:05] Orvid commented on #7355
We've been unable to reproduce this bug, and are unable to investigate further. We are closing the issue for now, if you identify a test case we can use to reproduce your bug feel free to re-open.

[2016-09-30 22:05] #7355 closed

[2016-09-30 22:25] felixbuenemann commented on #4951
@Orvid Is this problem fixed in master or why was the issue closed?

[2016-09-30 22:39] Orvid commented on #4951
Yes, it looks like it should be implemented.

[2016-10-01 01:36] fredemmott opened #7397 "Consistency: allow trailing commas in group use declarations"
### HHVM Version

3.15.0
### Standalone code, or other way to reproduce the problem

[code]

[code]
### Expected result

No errors.
### Actual result

[code]

[2016-10-01 03:45] #6031 closed

[2016-10-01 06:18] paulbiss commented on #7382
Anything in particular detail we're lacking? [These are both linked in our docs.](https://docs.hhvm.com/hhvm/extensions/introduction#building-your-own-extension)

https://github.com/facebook/hhvm/wiki/Extension-API
http://blog.golemon.com/2015/01/hhvm-extension-writing-part-i.html

[2016-10-01 17:35] paladox commented on #6784
+1 for this since apc is not supported in php 5.5+ but apcu is.

[2016-10-01 17:47] paladox commented on #6784
This problem is because hhvm only supports apc per https://github.com/facebook/hhvm/search?q=apc&type=Code&utf8=%E2%9C%93

[2016-10-01 19:04] paulbiss commented on #6784
Are these just alternate names for the apc functions? If there are notable differences could someone here outline them? It should be pretty easy to supply aliases for these names.

[2016-10-01 19:46] paladox commented on #6784
@paulbiss no, apc was removed in php 5.5 and apcu was then created.

[2016-10-01 19:54] nazar-pc commented on #6784
Maybe we could just invite @krakjoe to this discussion to outline the differences in behavior between `apc_*` and `apcu_*` functions (if there are any).

[2016-10-01 22:16] paulbiss commented on #6784
@paladox right, but the hhvm implementation of apc is completely distinct from the php implementations of both apc and apcu. What I'm getting at is, were there any API level changes besides `s/apc_/apcu_/` or was it just a new set of names and a shiny new implementation?

The hhvm implementation of apc is highly tuned for speed and memory efficiency, it's unlikely we would want to replace it whole

[2016-10-01 22:37] paladox commented on #6784
Oh, would we be able to add an apcu version? or at least add alias for apcu, so if users use apcu functions they would alias to apc, as apcu is just the same as apc just it works only on php 5.5+?

This would benefit Wikimedia's https://gerrit.wikimedia.org/r/#/c/299498/ since then we could possibly drop apc functions and go with apcu since we wont need backward compat for hhvm.

[2016-10-01 22:42] paulbiss commented on #6784
Yeah we could definitely do that! I'd like to hear from @krakjoe or someone else familiar with any potential behavioral differences, but adding aliases or new entry points with slightly modified behavior as appropriate is totally doable.

[2016-10-01 22:48] paladox commented on #6784
Oh, thankyou :), would you know when that can be done?

[2016-10-02 00:11] photodude commented on #6784
@paulbiss I am under the understanding that `APCu` is just the userdata component of the old `APC`, without the bytecode caching.

For a full replacement of APC in PHP 5.5+ you need both `APCu` and `OpCache` which now the standard bytecode caching for PHP

So if we are aliasing the userdata component of `HHVM-APC` to `APCu` I think it makes sense to consider also aliasing the `HHVM-APC` bytecode c

[2016-10-02 00:15] nazar-pc commented on #6784
@photodude, I believe you don't need opcache-related part of APC, since HHVM already uses JIT and works very differently internally. Only user data part is relevant here.

[2016-10-02 02:47] paulbiss commented on #6784
We don't actually do any OpCode caching in APC. HHVM has its own bytecode cache (stored to disk as an sqlite repo and persisted in memory during execution, persists between server restarts), as well as a translation cache (persists only in memory during process execution, persists between requests). There's also no way to turn it off, the VM will only execute bytecode from the cache and the fronte

[2016-10-02 03:55] photodude commented on #6784
@nazar-pc @paulbiss Thanks for the clarification.

I took a quick look and it seems APCu does have an additional method that APC does not have
[`apcu_entry`](http://php.net/manual/en/function.apcu-entry.php) — Atomically fetch or generate a cache entry

I didn't dig deeper into the other 22 methods in both APCu and APC to see if all the details of the methods match up.

[2016-10-02 05:04] photodude commented on #7035
@aorenste I saw HHVM 3.15.1 has been released. did the patch for this make in into that release?

I'm still seeing the issue with `memory_get_peak_usage()` failing at about **256MB**
https://travis-ci.org/joomla/joomla-cms/jobs/164357654

[2016-10-02 23:11] mcsharma1990 commented on #7309
I am also experiencing this.

[2016-10-03 15:18] photodude commented on #7355
Thank you For looking into this @Orvid, Travis CI was able to figure out what they had incorrectly set up and nightly builds are now working correctly.

[2016-10-03 16:17] photodude opened #7399 "connection to Postgresql fail to translate host name"
### HHVM Version
3.16.0-dev (hhvm-nightly)

### Standalone code, or other way to reproduce the problem
Joomla Postgresql driver (below is a snip from the driver that hopefully would represent Standalone code)
[code]

### Expected result
connection to Postgresql without PDOExceptions, previously worked in 3.15 and with the old 3rdparty pgsql module

### Actual result
`PDOException: [112]: could not

[2016-10-03 16:20] photodude commented on #7035
@aorenste I can confirm the fix in hhvm-nightly, but not with hhvm 3.15.1. Will the patch make it into **3.15.2**?

[2016-10-03 17:00] photodude commented on #7320
Thanks @simonwelsh I look forward to these fixes

[2016-10-03 17:04] paulbiss commented on #7035
@photodude: apologies, it seems to have been overlooked 🙁

I pushed the commit to the 3.15 branch, so 3.15.2 will absolutely have this fix.

[2016-10-03 17:05] paulbiss commented on #7399
cc @simonwelsh

[2016-10-03 17:05] photodude commented on #7035
Thanks @paulbiss

[2016-10-03 17:06] fredemmott commented on #7333
You also might find this easier to debug/reproduce by removing nginx from the mix, and just using HHVM's built-in http server (hhvm.server.type=proxygen)

[2016-10-03 17:16] TheAifam5 opened #7400 "Official HHVM package for ArchLinux gone?"
Hey,
Right now there is any available package for HHVM.
Without any reason HHVM package was removed from Community.
Please edit the actual Wiki for prebuild Arch package.

Are you planning to add the official HHVM package for ArchLinux community? :(

https://github.com/facebook/hhvm/wiki/Prebuilt-Packages-on-Arch-Linux)

[2016-10-03 17:43] photodude commented on #7399
Looks like this maybe an environment configuration issue, I'm going to close this and open an issue with Travis CI. I'll reopen if there is no environment configuration issues

[2016-10-03 17:51] Orvid commented on #7400
I don't believe we've ever had an official HHVM package for arch linux.

[2016-10-03 18:06] paulbiss commented on #7400
Pretty sure it was community maintained, someone needs to take over packaging on Arch if it's gone. In the meantime feel free to update the wiki.

[2016-10-03 18:06] #7400 closed

[2016-10-03 18:19] photodude commented on #7399
Reopening since I was unable to replicate the issue with similar environment with php 5.6. Seems to be only happening in HHVM.

[2016-10-03 21:44] simonwelsh commented on #7399
@photodude are you able to get the raw DSN being used? The code you've pasted is for `pg_connect` but the error is for PDO.

[2016-10-03 22:14] photodude commented on #7399
Yes @simonwelsh I beleive this is the raw DSN from the [phpunit xml file](https://github.com/joomla/joomla-cms/blob/staging/travisci-phpunit.xml)
[code]

[2016-10-04 00:10] photodude commented on #7399
Maybe the error is from the [PDO pgsql portion of phpUnit](https://github.com/joomla/joomla-cms/blob/staging/tests/unit/core/case/database/postgresql.php#L129-L150)

[code]

[2016-10-04 05:50] simonwelsh commented on #7400
It got moved from the Arch community repo to AUR because of facebook/folly#463. Related to that, it's currently very difficult to get HHVM running on Arch.

[2016-10-04 06:32] darkain opened #7401 "chdir ignores permissions on directories"
### HHVM Version
3.10.0 - 3.15.1 tested

### Standalone code, or other way to reproduce the problem
https://3v4l.org/mpZAM

### Expected result
Warning: chdir(): Permission denied (errno 13) in {file.php} on line X

### Actual result
Current working directory is updated without any incident at all.

[2016-10-04 06:49] jesseschalken commented on #7400
Last I checked (Sep 21) master compiled on Arch by suppressing these package upgrades

[code]

and including [this fix](https://github.com/facebook/hhvm/pull/7374) (now in master).

[2016-10-04 14:14] sepehr commented on #5790
Any progress on this? The issue is tearing the world apart.

[2016-10-04 17:09] aorenste commented on #5790
Example in eval: https://3v4l.org/2QpST

[2016-10-04 18:12] derickr commented on #4893
Ping - is anything going to happen with this?