[2015-08-20 21:17] Orvid commented on #5460
@OCamlPro-Henry has been doing a lot of work towards the typechecker, I've not really touched it since my initial attempt. He can probably comment on what currently works much better than I can.

As far as support for Windows in the core of HHVM, I have a (very) large number of open PRs dedicated to making that happen.

[2015-08-20 21:39] fredemmott opened #6081 "'use function' not understood by typechecker"
[code]

[code]

[2015-08-20 22:22] HRMsimon opened #6082 "hh_format exits with 0 on error"
Get `hh_format` to format something that causes it to error. You get the "Internal error" output and then it exits with a code of `0` rather than something that means an error happened.

[2015-08-20 22:29] HRMsimon opened #6083 "hh_format dies on "Array""
[code]
[code]

Can use this to fix #6082 if you want to fix that one first

[2015-08-20 23:15] OCamlPro-Henry commented on #5460
@raeesiqbal We (me and @OCamlPro-Bozman) have a working typechecker. It passes the testsuite and, for instance, it is able to typecheck https://github.com/Titon/framework. Though, we still have to implements file watching and a proper timeout handling. While, not everything has been merged yet, the pending PRs should be sufficient for running the typechecker. I will add a message here when `master

[2015-08-21 00:23] iangcarroll commented on #5903
I reproduced a different error on Joyent's optimized Ubuntu 14.04 (developer tier, not sure if this is using a different virtualization system).

[code]

[2015-08-21 04:31] HRMsimon opened #6084 "hh_format sticks a comma in language constructs"
If `hh_format` wraps a line that has an `empty` call in it, then it sticks a comma after the argument. This isn't valid syntax.

[2015-08-21 04:35] HRMsimon commented on #6084
The line in question:

`    if (empty($this->_data['userGroups'][$item['date_start']][$user_id])) {`

[2015-08-21 04:38] HRMsimon commented on #6084
Same happens with `isset`, so I suspect it's any language construct that looks like a function.

[2015-08-21 05:54] dieend commented on #6078
@simonwelsh I have a difficulty with long running worker. #4360 is one of the problem. I don't know which process that might still running, and if in some case it goes to infinite loop, well, I can't stop that specific requests. Any idea?

[2015-08-21 07:47] ck-on opened #6086 "NEWS file is no longer updated?"
I appreciate being able to check the NEWS file for updates but apparently it has not been maintained for a month now?

https://github.com/facebook/hhvm/blob/master/NEWS

Difficult to churn through the commits to understand more significant milestones.

Nothing in there since "Park" especially important things like `enable_reusable_tc`

[2015-08-21 07:55] paulbiss commented on #6086
cc @jano @markw65

[2015-08-21 07:58] paulbiss commented on #6086
Park was the previous release, Jan probably just forgot. The next release (Mark's) is still in testing.

[2015-08-21 07:58] Orvid commented on #6086
It looks like "Park" is the newest internal release, at least, that's the last one mentioned in the [blog post](http://hhvm.com/blog/9995/hhvm-3-9-0) for HHVM 3.9.0

[2015-08-21 08:15] paulbiss commented on #6086
The "Quake" release is in testing until the end of next week.

[2015-08-21 10:48] kristapsk commented on #6079
Is there a reason to keep `ENABLE_MCROUTER` in addition to `ENABLE_EXTENSION_MCROUTER`?

[2015-08-21 11:43] derickr commented on #6032
I used GDB in anger this morning, and I found the following while going through https://github.com/facebook/hhvm/blob/6cff345e2a713deb133509e4f189af3030c9eb8b/hphp/runtime/base/type-variant.cpp#L865-L976

The code never bothers calling the ```wakeup()``` that I define in my NativeData struct. I do need to define it though, because serialization does call ```sleep``` and without ```wakeup``` define

[2015-08-21 13:01] barbu110 opened #6087 "get_browser() and `REMOTE_ADDR` are unsupported"
The documentation states that `get_browser` PHP's function is not supported on HHVM. I tried to get the IP address using `$_SERVER['REMOTE_ADDR']` and this is, apparently, undefined.

Where are the alternatives?

[2015-08-21 19:03] Orvid commented on #6079
Unless it enables more than just ext_mcrouter, no.

[2015-08-21 20:42] #5657 closed

[2015-08-21 22:02] Orvid commented on #6087
As a note, I am a firm believer that having the server determine what the client is capable of is the wrong way to do it. Capability checking should be done client-side.

[2015-08-21 22:36] fredemmott opened #6088 "hh_single_type_check and hh_ide.js raise error when accessing a shape field defined in another file"
test.php:

[code]

test2.php:

[code]

Typechecker:

[code]

This also shows up in Nuclide if hh_ide.js is updated.

[2015-08-21 22:40] raeesiqbal commented on #5460
@OCamlPro-Henry thanks a ton to both of you for your work. I've just installed MS Visual Studio, going to try to build it with your PRs

[2015-08-21 23:23] barbu110 commented on #6087
I am actually interested in creating an activity logger for user accounts.
I don't want to get browser capabilities, I want to get browser version,
user IP, operating system (I want IP do determine geolocation)

În data de sâmbătă, 22 august 2015, Orvid King <notifications@github.com> a
scris:

[2015-08-22 00:24] Orvid commented on #5460
For the typechecker, you actually don't need Visual Studio. You do need the MinGW edition of OCamlPro though.

With HHVM itself, I still have a few more changes locally that I need to create PRs for, and there are 17 external libs you'd have to compile, all but 2 of which have to be done specially with non-default options, due to the need to link against the static version of the runtime, there ar

[2015-08-22 01:01] simonwelsh commented on #3710
This appears to be fixed

[2015-08-22 01:01] #3710 closed

[2015-08-22 01:04] steelbrain commented on #6087
@barbu110 if you want to use it for geoip purposes, checkout hhvm-ext-geoip.

[2015-08-22 03:22] simonwelsh commented on #4662
I feel like this is fixed by `Shapes::toArray`, which works in strict mode.

[2015-08-22 03:25] simonwelsh commented on #4591
Variant 2 is working fine with 3.9.0

[2015-08-22 03:34] simonwelsh commented on #2658
I think this is done with `$this->:attribute` support

[2015-08-22 03:34] simonwelsh commented on #2431
I have a feeling that this is done with the HHVM-only version of XHP basically using the same types now as Hack.

[2015-08-22 03:35] simonwelsh commented on #3889
This is done in Hack, so also done in HHVM if calling out to the type checker is enabled.

[2015-08-22 03:45] simonwelsh commented on #4874
Looks like this is fixed in 3.9

[2015-08-22 03:47] fredemmott commented on #2658
Sort of - we might want to make -> work as an value too for setAttribute

--
Typed with my thumbs

On Aug 21, 2015, at 20:34, Simon Welsh <notifications@github.com<mailto:notifications@github.com>> wrote:

I think this is done with $this->:attribute support

—
Reply to this email directly or view it on GitHub<https://github.com/facebook/hhvm/issues/2658#issuecomment-133631716>.

[2015-08-22 03:49] simonwelsh commented on #5116
There's a HHI file `IntlDateFormatter` in 3.9

[2015-08-22 04:48] #5116 closed

[2015-08-22 04:50] #4591 closed

[2015-08-22 04:50] #4662 closed

[2015-08-22 07:12] Sydney-o9 commented on #5536
This is correct @jwatzman, I tested this in a vagrant machine.

I got the error with 1Gb RAM, the error disappears if RAM > 2.8Gb (might work with less but didn't try to get lower than that)

My compiler is GCC v4.9.2.

If you guys are using Vagrant, just modify your Vagrantfile:

[code]

[2015-08-22 08:41] simonwelsh commented on #6082
It exits with a `2` when not running in in-place mode, but can keep going when run in in-place mode. My fix for this is to include the file path in the error both times.

[2015-08-22 10:34] raeesiqbal commented on #5460
Hey everyone, I've just tested the typecheker binaries sent by @OCamlPro-Henry to be working fine. If anyone else's interested in early access, here is the link, http://ge.tt/610q6dM2/v/0 .

These are native binaries, so, you dont need to install MS Visual Studio or Cygwin.

Here is their branch, if you want to build them yourself https://github.com/OCamlPro/hhvm/tree/hh-bin-20150822 . And here ar

[2015-08-22 11:45] simonwelsh commented on #5865
Turns out there didn't appear to be any checks in place for the builtin types. There is for type hints (kinda, will open another bug for those) so I added in a new check in the same place as the current collision checking for names and types. Didn't do it for functions, so I don't thing those are in the same naming space.

[2015-08-22 12:09] Norfavrell opened #6093 "SegmentationFault in xDebug implementation"
I have encountered a SegmentationFault while debugging a remote application today.

## Exception ##
    Program received signal SIGSEGV, Segmentation fault.
    [Switching to Thread 0x7fe43dbff700 (LWP 31476)]
    0x0000000001596d18 in HPHP::is_numeric_string (str=0x20200a0d3e6e6f69 <Address 0x20200a0d3e6e6f69 out of bounds>, length=538976288,
        lval=lval@entry=0x7fe43dbfa240, dval=dval@entr

[2015-08-22 13:18] barbu110 commented on #6087
okay . I checked out that extension. It still needs me to pass the user's
IP address to do anything. How am I supposed to get that IP address, if
REMOTE_ADDR is an undefined index on the SERVER variable?

În data de sâmbătă, 22 august 2015, Steel Brain <notifications@github.com>
a scris:

[2015-08-22 13:21] steelbrain commented on #6087
@barbu110 if `REMOTE_ADDR` is not available in your `$_SERVER` then it means that your nginx settings are incorrect.

[2015-08-22 13:24] barbu110 commented on #6087
I am using Apache2 on Ubuntu 14.04 What settings should I check? Could you tell ne please?

[2015-08-22 13:32] steelbrain commented on #6087
@barbu110 I would suggest you move away from apache as you are not using `mod_php` anymore.
I haven't used Apache lately so don't know how to set fcgi vars.

[2015-08-22 13:35] barbu110 commented on #6087
Ok then. I will change my system to use nginx (since it's a dev machine) and come back with an update, and probably close the issue.
Thank you!

[2015-08-22 14:12] #4397 closed

[2015-08-22 15:53] Norfavrell commented on #6093
Same issue seems to occur on

    HipHop VM 3.9.1-dev (rel)
    Compiler: heads/HHVM-3.9-0-gba5f30e09198251723200828b823a4d73e5f57d8
    Repo schema: 053287dc798229a2099ba239b16792c167077df2

[2015-08-22 20:15] barbu110 commented on #6087
Ok. I was stupid enought to run my script ONLY in the Terminal. Of course there was no `REMOTE_ADDR`. Thank you for all you've done. I am now on NGINX

[2015-08-22 20:15] #6087 closed

[2015-08-23 08:56] sebastianbergmann opened #6120 ""cat: utils/get_build_id.gen.c: No such file or directory" and "error: unknown type name ‘uint64’""
At revision a0fdc2f28c1abd602326d271d70064a3fc09ddf6, working directory is clean (`git reset HEAD --hard && git clean -xdf`).

## cmake

[code]

## make

[code]

[2015-08-23 12:31] spaghetticodr opened #6121 "Class files"
Just like namespace contents do not have to be wrapped inside curly braces if there's just one namespace in the file, same should be true with classes.

    namespace foo; // valid

    class Foo extends Stuff; // currently invalid
    // class code...

To me it's like the most annoying thing in PHP besides lack of types - having all class code nested by 1 level. Also, I don't see the point in <?h

[2015-08-23 22:32] Orvid commented on #6121
To put my 2 cents in on this, I personally think that the curly brackets shouldn't be optional. It's worth noting though that I also don't think the curly brackets for namespaces should be optional either.

I'm not entirely sure the full reasoning for the `<?hh` tag, as you actually can't mix HTML and Hack.

[2015-08-24 01:31] ihsw opened #6126 "Official Dockerhub repo?"
There's one for PHP -- why isn't there one for HHVM?

https://hub.docker.com/_/php/

[2015-08-24 05:16] dieend commented on #5631
I have same problem. It is happened when we deploying a new version. We doesn't use the symlink path in ngin, but the realpath so I think it's mostly related to hhvm cache/jit that conflict between new version and old version. I've tried to restart hhvm fastcgi when deploying but it doesn't works.

I have some of the stacktrace, mostly it's crashed when interacting with `date`.
[code]

nb: some na

[2015-08-24 05:17] dieend commented on #5631
oh we uses chef, which have almost same lifecycle with capistrano. I restarted HHVM on after_restart step.

[2015-08-24 07:10] eric-addcream commented on #1706
I am also experience the issue with duplicate values.
https://gist.github.com/eric-addcream/c88c13af0278f4496581
HHVM 3.9.0, nginx 1.4.6, ubuntu 14.04
Also tested on hhvm 3.8.0

[2015-08-24 11:44] SiebelsTim commented on #6077
I can't reproduce this. It works fine for me.

[2015-08-24 11:49] nicolas-grekas commented on #6077
I produced this on travis, which means 3.5. Looks like you fixed it now...

[2015-08-24 11:49] #6077 closed

[2015-08-24 16:26] no1youknowz opened #6133 "error: use of deleted function 'HPHP::Variant::Variant"
I have an extension that uses Variant.

For example: Variant php_zmq_context_create(int io_threads)

    Line: https://github.com/no1youknowz/hhvm-zeromq-ext/blob/master/zmq/ext_zmq.cpp#L132

What should variant be changed to?

Here is the error message:

    /root/rpmbuild/BUILD/hhvm-ext-zeromq-1.0/hhvm-ext-zeromq/zmq/ext_zmq.cpp: In function 'HPHP::Variant HPHP::php_zmq_context_create(int)':

[2015-08-24 16:56] fredemmott commented on #6133
`Variant` is not deleted - `Variant::Variant(void*)` is deleted because G++ automatically used it in inappropriate situations - for example, you either want to make a variant of a bool or a variant of a resource in this situation. Before this function was deleted, what you think is a variant containing a resource would actually be a variant containing bool(true).

You want to use one of the other

[2015-08-24 16:56] #6133 closed

[2015-08-24 16:59] fredemmott commented on #6126
There hasn't been one because there hasn't been sufficient demand in the past.

We're planning on turning https://hub.docker.com/r/fredemmott/hhvm-proxygen into an official package (with https://hub.docker.com/r/fredemmott/hhvm/ as a base package for people to build on who do not wish to use proxygen). If you have feedback on those, please file issues at https://github.com/fredemmott/hhvm-docker/i

[2015-08-24 16:59] #6126 closed

[2015-08-24 17:30] SiebelsTim commented on #5565
This is fixed in 3.8.1 and above.

[2015-08-24 17:43] #5565 closed

[2015-08-24 18:07] paulbiss commented on #6121
It's mostly just to distinguish it from PHP files and static content, both of which hhvm will also serve. I don't think allowing `class Foo;` to declare an entire file to be class scoped is a good idea. It doesn't add much value but it cuts down quite a bit on readability.

[2015-08-24 18:07] #6121 closed

[2015-08-24 18:09] paulbiss commented on #6120
What system are you building on?

[2015-08-24 18:40] spaghetticodr commented on #6121
It adds to readability by giving you more space (an entire TAB per line) to work on. If you're writing OOP code a TAB is saved from like 99% of your code.

Something for inspiration:
http://greatemerald.xmpcommunity.com/uncodex/UT2004/Source_engine/gameinfo.html

[2015-08-24 18:42] #5836 closed

[2015-08-24 20:02] paulbiss commented on #6121
You could also omit the tab. We do it all the time with namespaces in C++

[2015-08-24 20:13] paulbiss commented on #6120
Possibly related: https://github.com/facebook/hhvm/pull/5870

[2015-08-24 20:31] fredemmott opened #6136 "Type parameter to HH\autoload_set_paths as a shape in HHI"

[2015-08-24 21:41] #6083 closed

[2015-08-24 22:03] Yermo commented on #5081
I am seeing this problem repeatedly under Ubuntu 14.04 running:

HipHop VM 3.8.1 (rel)
Compiler: tags/HHVM-3.8.1-0-g3006bc45691762b5409fc3a510a43093968e9660
Repo schema: 253b3802ce1bcd19e378634342fc9c245ac76c33

Official pre-compiled binary.

The application that I am running is a large one I have built from scratch. It makes fairly extensive use of preg_match() FWIW.

I am happy to do whatever te

[2015-08-24 22:12] #4517 closed

[2015-08-24 22:16] jwatzman commented on #5081
The most useful thing would be an isolated repro case :)

Failing that, try this. It will get data similar to what @ehcpdeveloper above provided; along with being a useful second data point, it will also hopefully have a few extra stack frames in the middle.

- `sudo apt-get install libdw1`
- Download http://dl.hhvm.com/resources/perf.gz and decompress it. It's part of the kernel perf tools on Lin

[2015-08-24 22:30] jwatzman commented on #6012
The hard part here is auditing where exactly these exceptions are thrown, what HHVM does with them now (which mostly, but not 100%, matches PHP5), and which ones need to be changed for PHP7.

[2015-08-24 22:33] jwatzman commented on #5052
There's a lot of random discussion above. To summarize the bits parts of this from the HHVM side,

1. Threading through to the callee what mode the caller is in, so it can do the check/cast properly
1. Implementing a new type of type annotation and cast/enforcement
1. Futzing with the parser/emitter to distinguish between PHP5 (`string` means a class named `string`), PHP7 (`string` means scalar st

[2015-08-24 22:36] Yermo commented on #5081
@jwatzman  Thank you. The problem manifests itself several times a day so I should be able to easily reproduce this. Coming up with a small test case is going to be challenging since my platform is a bit monstrous and I have, to date, only witnessed this on a live site and never my development machine.

I will, however, make an attempt.

[2015-08-24 22:38] jwatzman commented on #6039
Hack team, is this something you're interested in taking on, in the runtime and/or in the typechecker?

[2015-08-24 22:42] int3 commented on #6039
I'm interested in taking on both parts. Might take 1 month+ though as I am simultaneously working on other stuff.

[2015-08-24 22:51] jwatzman commented on #6039
@int3 okay, I'm going to mark this one as assigned to you then. If you think you aren't going to be able to get at least the runtime portion done by, say, November, please let me know as soon as you know that -- this is on the critical path for PHP7 compatibility, which we want done by about that timeframe, and furthermore this would be a good candidate for a hackamonth but I won't submit it since

[2015-08-24 23:43] jwatzman commented on #6059
@nikic not sure what the procedure is on the PHP side. Is this still going to land before release, might it show up in 7.1, or should we just close this as "lol never happened"?

[2015-08-24 23:55] jwatzman commented on #5536
Glad you got it sorted.

[2015-08-24 23:55] #5536 closed

[2015-08-24 23:56] jwatzman commented on #5631
As of HHVM 3.8, the stacktrace.log files are basically useless. We still need a backtrace from gdb.

[2015-08-24 23:57] jwatzman commented on #5081
@Yermo cool thanks, looking forward to the data :) The `perf` tool is lightweight enough you should be fine just running it on a production machine when you see the issue, no need to restart HHVM before or after.

[2015-08-25 00:25] dieend commented on #5631
@jwatzman Any instruction on how to attach the gdb? Will attaching gdb affect application performance?

[2015-08-25 00:54] dlreeves commented on #6039
So thinking about type checker support one thing we will need to think about is how to express the type of an anonymous class. For instance

[code]

What would we write for the type of ???. Scala solves this with [structural/refinement types](https://twitter.github.io/scala_school/advanced-types.html#structural).

We can do close to the same thing in this case.

[code]

Or if it is a refinement of

[2015-08-25 03:26] JoelMarcey commented on #4874
@fredemmott The whole collection interface specification is a bit screwy. `interface Collection` is in the `\HH\` namespace; most of the others are not, even things that implement `Collection`. It's weird.

[2015-08-25 04:10] fredemmott commented on #4874
Yep, it's also inconsistent between the HHI and systemlib.

[2015-08-25 04:54] sebastianbergmann commented on #6120
Fedora 22

[2015-08-25 07:56] paulbiss commented on #5631
You don't need to attach gdb, use `ulimit -c unlimited` to create core-dumps for crashes, then use gdb to read the core file.

[2015-08-25 08:02] paulbiss commented on #6120
Hmm, we don't officially support Fedora, although it looks like the problem was introduced by a diff implementing some windows support. I'm not entirely clear why it was a good idea to change uint32_t to uint32. cc @jwatzman @Orvid @OCamlPro-Henry

[2015-08-25 08:10] sebastianbergmann commented on #6120
The community expects me to support HHVM in PHPUnit etc. but HHVM is 1) a moving target and 2) not officially supported on my OS of choice. I am feeling less and less inclined to invest time in HHVM-specific issues.

[2015-08-25 08:35] paulbiss commented on #6120
@sebastianbergmann: I didn't mean to give you the impression that we don't care about the build break simply because we don't have official fedora packaging, we definitely need to fix this. We're focusing primarily on debian and ubuntu packaging right now, but if there are things we could do to make the upgrade process less painful for you I'm all ears.

I completely understand your frustration, a

[2015-08-25 09:18] nikic commented on #6059
It won't land in 7.0 and as it's a BC break it ought not land in 7.x either. So yeah, pretty much "lol never happened" ;)

[2015-08-25 10:43] ck-on opened #6145 "3.10-dev trunk from 8/21 suddenly forgot date.timezone"
I had a machine running the trunk from 8/21 and someone reported the timezone had reverted to UTC (was America/New_York set in ini)

Checked and this was global, not just one session or one cached piece of code.

Restarted HHVM and timezone magically fixed itself.

Not sure if this helps:

HHVM Version    3.10.0-dev
HHVM compiler id    heads/master-0-g953ca9d7ccc767c5fb83ee4578e2d​e004e4b989b

No

[2015-08-25 10:57] kristapsk commented on #6087
For `get_browser()` there is pure PHP implementation available - http://alexandre.alapetite.fr/doc-alex/php-local-browscap/.

[2015-08-25 14:21] OCamlPro-Henry commented on #6120
CC: @lefessan @OCamlPro-Bozman

It is related to: http://caml.inria.fr/mantis/view.php?id=6517

OCaml's header files used to export 'uint32' instead of 'uint32_t' long since before C99. Then, to easily port to Windows, I renamed 'uint32_t' into 'uint32' to benefits from the portable OCaml type definition.

But the next OCaml release (4.03 expected by the end of the year) will rename 'uint32' into

[2015-08-25 14:22] OCamlPro-Henry commented on #6120
Otherwise 'No such file or directory' is not meaningful (and not related to the Windows port). It should be hidden.

[2015-08-25 14:27] Yermo commented on #5081
@jwatzman "a watched for bug never reproduces". Today is the first day I've checked the server in the morning without the load being over 4. Clearly just having 'perf' at the ready scares the bug into hiding. :) I'll keep an eye on it and get you the info as soon as it recurs.

[2015-08-25 14:45] Orvid commented on #6120
Btw, MSVC does define uint32_t and friends, but not until VS 2010. The best way to solve this is probably just to conditionally define a set of typedefs for them for MinGW (assuming it doesn't have it already).

[2015-08-25 15:46] Yermo commented on #5081
I did receive this error when running perf:

[code]
in addition to this one:
[code]
The load on the system according to 'top' was around 3.97.

The site in question can handle some down time and experimentation. I have from time to time helped debug portions of hhvm and have even submitted a patch that was accepted. While this particular bug is probably out of my reach to track down alone, I am mo

[2015-08-25 15:53] Yermo commented on #5081
Reading through the comment thread here I noticed the suggested "thread apply all bt" test so I ran that and here is the output:

Thread 6 (Thread 0x7f7dfb3ff700 (LWP 2864)):
#0  0x00007f7e0bc2fb13 in epoll_wait () at ../sysdeps/unix/syscall-template.S:81
#1  0x00007f7e0d3f1813 in ?? () from /usr/lib/x86_64-linux-gnu/libevent-2.0.so.5
#2  0x00007f7e0d3dd907 in event_base_loop () from /usr/lib/x86_

[2015-08-25 16:09] nikic commented on #6060
HHVM has already removed "Scoped calls of non-static methods from incompatible $this context". PHP additionally throws a deprecation for this since PHP 5.6 (HHVM doesn't throw anything).

It might be worth considering to drop the security-related items:

* xsl.security_prefs
* Unsafe curl file uploads
* preg_replace() eval modifier

[2015-08-25 16:13] nikic commented on #6050
This should be simpler than the conditional parser changes. ASP tags are already supported based on a runtime option, see for example https://github.com/facebook/hhvm/blob/d09aa2e9e663c4239dba63b5b94e1cdb1242fa55/hphp/parser/hphp.ll#L867.

[2015-08-25 16:38] fredemmott commented on #6060
I think we'll want unsafe curl file uploads disabled by default, but as we're going to still be supporting legacy PHP5 code for quite a while, removing that support outright is probably not the right choice for us.

[2015-08-25 16:42] ck-on commented on #6145
Yup, it keeps happening.  Minutes after HHVM is restarted it reverts to UTC - but initially for a minute or two, it is okay.

I am not aware of anything in PHP that can change the master value, only the session value (ie. ini_set)

[2015-08-25 16:44] fredemmott commented on #6050
Can we remove <script language="php"> anyway just because it's an abomination? :p

[2015-08-25 17:06] fredemmott commented on #5081
@Yermo:

- what versions of HHVM?
- your perf output shows heavy usage of eval() - this isn't great, though is better in 3.9.0. Replacing it (and create_function()) with alternatives may solve your CPU problem. Depending on exactly what the eval is being used for, anonymous functinos (ie `$foo = function(...) use (...) { ... }`) may solve that problem.
- there's not obviously something wrong with

[2015-08-25 17:28] Yermo commented on #5081
@fredemmott 3.8 Ubuntu installed from the official repositories.

I agree completely with regard to eval(). I'm reducing string expressions down to constants and throwing them at eval() to get a result for legacy reasons. I need to come up with a more efficient way of handling my custom expressions.

However, the high load problem is not related to my use of eval(). This code has been running perf

[2015-08-25 17:33] fredemmott commented on #5081
Is your perf and gdb output from when it is having high load? If not, can you do them again in that situation?

https://cloud.githubusercontent.com/assets/854565/9471451/5dc44886-4b1e-11e5-80c1-381d1f115eea.png is what I was basing the `eval` comment on - it shows ~ 15% of HHVMs CPU usage being spent dealing with brand new code - both the RepoTxnQuery::exec and HPHP::Scanner entries.

[2015-08-25 17:36] Yermo commented on #5081
@fredemmott As I mention in the comment, the load was at 3.97 without any requests coming in and hhvm was at 100% cpu according to top. It sat like this for over half and hour. When I attached gdb to it, the load obviously went down. Interestingly, when I detached from gdb the load remained down so the act of attaching gdb and releasing it stops the sit and spin cycle.

I did notice the "Failed to

[2015-08-25 17:40] Yermo commented on #5081
@fredemmott Yea, my code does spend a bunch of time in eval. :(

[2015-08-25 17:56] fredemmott commented on #5081
If the perf map can't be opened, JITted code will show up, but only as memory addresses, not function names. These don't appear to be showing up highly (due to the eval), so it's not a practical issue for you at the moment.

Perf can be ran via sudo to avoid this problem.

[2015-08-25 17:58] Yermo commented on #5081
I was running perf via sudo and the perf.map file was in /tmp. Strange.

[2015-08-25 18:14] paulbiss commented on #6120
Hmm, I like @Orvid's plan

[2015-08-25 19:19] mattlehner opened #6148 "hhvm socket permissions in multi-user environments, and error_log permissions"
When using hhvm with sockets, and using a socket for each user on a multi-user system, there's no way to set the default socket group to something that allows nginx to work with the socket unless the user is in the nginx group. This is less than ideal as it would allow users to reach each others sockets through the group permissions. Instead, we want to be able to set the socket owner:group to use

[2015-08-25 19:22] Yermo commented on #5081
Just as a data point, hhvm started spinning again. This time I blocked incoming port 80 to stop all requests and just let it sit for several minutes. During this time, I did observe hhvm growing rapidly. At the time I restarted it it was at over 1.8 gigs.

Are there some further tests I can run while this is going on to maybe shed some light on what's causing this?

[2015-08-25 19:37] Orvid commented on #6087
As a note, there's also the php implementation at https://github.com/browscap/browscap-php

[2015-08-25 20:26] fredemmott commented on #5081
- perf and gdb are pretty much still it
 - HHVM 3.9 and the new (experimental) `hhvm.enable_reusable_tc=true` option should fix the growth problem
 - eval can cause all of these symptoms

Unless we get perf results or gdb showing a cause other than eval(), there's not a next step other than reducing usage of eval() - we have options in hhvm-nightly to avoid JIT issues with eval, but your current p

[2015-08-25 20:29] Yermo commented on #5081
ok. Thank you for your help.

What confuses me is that previous versions of hhvm did not exhibit this problem and the code will run flawlessly at times for many hours handling thousands of requests without issue and then sit and spin indefinitely without any additional requests coming in. Odd.

[2015-08-25 20:42] OCamlPro-Henry commented on #6120
If the problem is specific to MinGW, we might indeed simply add the typedef. Thanks. See #6149.

[2015-08-25 21:09] wjywbs commented on #5887
Here's my test result:

[code]

[2015-08-25 21:13] fredemmott commented on #5887
PHPUnit_Framework_Exception: Could not load "phpunit/tests/_files/configuration_xinclude.xml

This one can be fixed by changing HHVM's configuration: see https://github.com/facebook/hhvm/blob/master/hphp/doc/inconsistencies#L131-L134 - we will not change the default as it is a major security problem.

[2015-08-25 21:23] fredemmott commented on #5887
Can reproduce the assertion failure on ubuntu 14.04 3.9.0 hhvm-dbg package.

[2015-08-25 21:41] fredemmott commented on #5887
Same for hhvm-dbg-nightly 2015-08-25

[2015-08-25 21:59] fredemmott commented on #5887
Minimal repro (as it's an assertion, requires debug build):

[code]

cc @paulbiss

[2015-08-25 22:01] fredemmott commented on #5887
Test that is raising this: https://github.com/sebastianbergmann/phpunit/blob/8efb38c89507365fe7d962bedae24e44e98664b7/tests/Framework/AssertTest.php#L1194-L1205

Clone: https://github.com/sebastianbergmann/phpunit/blob/ac40517dd1f872a62f1bc1d4fced6d283877fd68/src/Framework/Assert.php#L1871-L1872

[2015-08-25 22:34] fredemmott commented on #6120
We have no plans to support mingw32; if it makes things cleaner, we're fine breaking support for it as long as it's fine with g++ and clang on linux/OSX, and MSVC on windows.

[2015-08-25 22:35] fredemmott commented on #6120
@sebastianbergmann : if you're comfortable with docker, https://registry.hub.docker.com/u/fredemmott/hhvm/ is likely to be officially supported in the future and provides an environment tests could be ran in.

[2015-08-25 22:58] jwatzman opened #6152 "PHP7 return types"
https://wiki.php.net/rfc/return_types

Hack already supports these, so should be just a matter of removing the "only in Hack files" check in the parser. The actual semantics are not quite the same as in Hack, but we can cover that in https://github.com/facebook/hhvm/issues/5052

[2015-08-25 23:03] jwatzman commented on #5498
https://github.com/facebook/hhvm/pull/5925 is in progress which I think might cover this.

[2015-08-25 23:40] SkiAn2007 opened #6153 "joomla mbstring"
i have problem
mbstring default value is not "neutral"

added line in php.ini don't work
mbstring.language = neutral

added line in nginx conf don't work
fastcgi_param PHP_VALUE "mbstring.language = neutral";

hhvm 3.9

[2015-08-26 00:27] HRMsimon opened #6154 "Hack: Allow providing additional information to the typechecker"
I'm writing a lot of tests in Hack at the moment, using my [phpunit-hhi](https://packagist.org/packages/91carriage/phpunit-hhi) package to tell Hack about PHPUnit.

It would be useful to be able to get Hack to know about the semantics of some of the methods, rather than doing the assert, then adding in an `invariant` directly afterwards.

For example, I'm doing:

[code]

Would be nice if there was

[2015-08-26 02:28] Orvid commented on #5052
As a random thought, would it be reasonable to make php5/php7 modes a compile-time setting? Are there any realistic environments where both are needed side-by side?

[2015-08-26 03:32] fredemmott commented on #5052
That's likely to be more work than supporting both directly, due to the work needed to test and package two versions then.

[2015-08-26 03:40] fredemmott commented on #6154
An alternative is that phpunit is popular enough we might want to special-case this.

[2015-08-26 03:41] fredemmott commented on #6154
As a side note, should assertInstanceOf take a classname<T> instead of string in your HHI?

[2015-08-26 03:42] HRMsimon commented on #6154
It should now that 3.9 is out. Will be doing that as part of updating the HHI to PHPUnit 4.7.

[2015-08-26 03:59] r3wt opened #6155 "call to undefined method `Memcached::touch()`"
Severe performance implication. requires my application to make an expensive get, then set call rather than just updating expiry of already set object, which are the output of very expensive queries.

in the meantime i've found a work around to minimize the impact by grouping get and touch together for calls that need to extend validity of an object. maybe this will help others who need touch but

[2015-08-26 05:40] HRMsimon opened #6156 "Allow collections to be used in user attributes"
[code]

Results in: `E_FATAL_ERROR: User-defined constants are not allowed in user attribute expressions` (no Hack errors)

As collections are far superior to arrays, would be nice if the worked in user attributes too.

[2015-08-26 07:52] effeks opened #6157 "HHVM socket timeout on long-running requests"
Hi,

I'm having issues with HHVM socket closing towards nginx even though data is streamed from HHVM. Basically it's a report pushing data in chunks to the clients web browser by using output buffers. This works well, but at 120 seconds nginx looses the connection with HHVM with the message:
`upstream prematurely closed connection while reading upstream`

I've tried to use strace on the HHVM child

[2015-08-26 11:27] codeaken commented on #6157
I had the same problem with long running connections timing out. You need to adjust timeouts on both the HHVM side and the NGINX side.

First on the HHVM side you need to add the following to your server.ini file:

    hhvm.server.connection_timeout_seconds = 300

By defining this variable you will avoid the 2 minute timeout (https://github.com/facebook/hhvm/blob/d534aa254e07457a632519f4c8f43dc5bb

[2015-08-26 11:31] effeks commented on #6157
Ok, found the issue, turns out ConnectionTimeoutSeconds is sneaky...

In runtime-options.cpp, ConnectionTimeoutSeconds is set to:
`int RuntimeOption::ConnectionTimeoutSeconds = -1;`
which I looked at earlier but as it was set to "-1" I interpret that as there is no connection timeout.

However, in fastcgi-server.cpp around line 92, ConnectionTimeoutSeconds is defaulted to 120 seconds:
`if (Runtime

[2015-08-26 16:43] boynet commented on #5153
@idr0id
I can confirim this bug nginx ssi not working until putting
[code]
in /etc/hhvm/php.ini.

turn gzip on, on nginx conf working good

[2015-08-26 16:47] jwatzman commented on #6059
![PHP Hammer](https://c4.staticflickr.com/8/7226/7095238893_5000f6e57d_b.jpg)

[2015-08-26 16:47] #6059 closed

[2015-08-26 16:53] jwatzman commented on #5081
@fredemmott it does seem weird that it will sit and spin with no incoming requests, no?

@Yermo can you expand the `[kernel.kallsyms]` section, like you did for the `hhvm` section?

[2015-08-26 17:00] Yermo commented on #5081
@jwatzman oops. I overwrote the data I collected. :( I have upgraded to 3.9 via apt-get and am now getting different behavior; namely it grows without bounds much more quickly than 3.8 did. It does, however, not cause the load problem that 3.8 did.

During the 3.8 test, to verify that I was not getting any requests I blocked port 80 using iptables and let it sit.

I can downgrade to 3.8 and re-run

[2015-08-26 17:02] jwatzman commented on #5052
There are a couple issues at play:

- We need to support PHP7 since users of HHVM will want PHP7 support :)
- We need to support PHP5 since existing users of HHVM will want to continue using their installations, and we don't want to do such a big BC break, and it actually isn't that much effort for us to support both
- Given we're supporting both, making it a runtime INI option as opposed to a com

[2015-08-26 17:04] jwatzman commented on #5081
We don't actually support 3.8 anymore, so if it doesn't repo with 3.9, don't worry about it.

On 3.9, have you tried the `hhvm.enable_reusable_tc=true` option that @fredemmott mentioned? It's still somewhat experimental, but is intended to help with memory usage growth on codebases with heavy usage of eval.

But yeah, at this point, since the "spinning when no requests come in" issue doesn't happe

[2015-08-26 17:42] fredemmott commented on #5081
@jwatzman : my guesses for the spinning were contention on the repo (shown in perf) by eval, or some other blockage that would have shown up in gdb if attaching gdb didn't unblock it.

@Yermo : if it comes back, one other thing htat might help is to enable core files, then send SIGABRT with kill to crash hhvm - that might make it so you can get a backtrace from all threads without having the 'gdb

[2015-08-26 18:21] wjywbs commented on #4533
Fixed by d43f26b397fb89a56e33093bc762180b7f8fe1c0.

[2015-08-26 18:21] #4533 closed

[2015-08-26 19:07] fredemmott commented on #5081
So, this eval() thing seems unrelated, and possibly fixed. As for the original preg futex issue, this still needs more information:

 - does it still exist in 3.9?
 - how can it be reproduced?

As we've tried and failed to reproduce it, there currently isn't enough information for us to do anything more with this issue.

[2015-08-26 19:42] Yermo commented on #5081
@jwatzman I did try **hhvm.enable_reusable_tc=true** to no effect that I could observe.

It's interesting to me that, with the same number of **eval()**'s, earlier versions of hhvm ran without issue. The load never spiked. The only real problem I would run into is it would grow slowly over a period of a week. With 3.8 I could point wget -r to to the site and pull every one of my thousands of pages

[2015-08-26 21:55] J0WI commented on #5185
I think this also breaks thumbnail generating in Piwigo.

[2015-08-27 05:42] christophvw opened #6159 "umask of hhvm is 0 on Debian 8"
Folder are created with 777 instead of 755.
hhvm 3.9.0 on Debian 8.

"systemctl show hhvm" shows UMask=022

This doesn't happen when I run hhvm from commandline, only when it is running in FastCGI Mode with nginx.

Connecting with gdb and setting the umask to 022 for the hhvm process seems to "fix it" - but this is not a solution.

[2015-08-27 10:48] escapestring commented on #5185
I have the same issue like @J0WI

[2015-08-27 12:04] derickr commented on #6032
Can I please have a comment on both points?

[2015-08-27 12:05] derickr opened #6160 "HHVM does not allow "current()" on an object"
[code]

PHP output:
[code]

HHVM output:
[code]

[2015-08-27 13:01] SiebelsTim commented on #1214
Can this be closed as there is an externally provided extension?

[2015-08-27 13:03] rotor-head commented on #1214
Yes

[2015-08-27 13:37] SiebelsTim commented on #3099
Looks like this is resolved in 3.8.1

[2015-08-27 13:40] SiebelsTim commented on #1669
what happened here?

[2015-08-27 13:41] SiebelsTim commented on #3544
I think this can be closed.

[2015-08-27 13:42] SiebelsTim commented on #3418
I think this can be closed. If anyone gets a similar error, a new issue will suffice.

[2015-08-27 13:48] SiebelsTim commented on #1541
duplicate #3637

[2015-08-27 13:51] SiebelsTim commented on #4007
I can't reproduce this anymore.

[2015-08-27 13:56] SiebelsTim commented on #4166
duplicate #5500

[2015-08-27 14:02] no1youknowz commented on #1214
This works with 3.9 thanks to Orvid on #hhvm irc

[2015-08-27 14:07] SiebelsTim commented on #4499
This can be closed, right? It's old and almost no information to reproduce this.

[2015-08-27 14:38] SiebelsTim commented on #4664
duplicate #1418

This title is way better though.

[2015-08-27 14:40] SiebelsTim commented on #4632
closed in  49b263f673b041201

[2015-08-27 14:42] SiebelsTim commented on #4727
Resolved in 48d1e887b5820b63

[2015-08-27 15:20] #4727 closed

[2015-08-27 15:20] #4632 closed

[2015-08-27 15:24] JoelMarcey commented on #4499
I think this was fixed by https://github.com/facebook/hhvm/issues/4505

[2015-08-27 15:24] #4499 closed

[2015-08-27 15:28] JoelMarcey commented on #1418
Closing as duplicate of #4664 and has more recent and generalized data.

[2015-08-27 15:28] #1418 closed

[2015-08-27 16:11] #3544 closed

[2015-08-27 16:24] oyamauchi opened #6163 "Assertion failure when using list in hphpd with same-named function and class"
In test.php:

[code]

This is legal, since functions and classes don't share name space. Now:

[code]

I think hphpd already has infrastructure to offer a choice between options, which is probably what we should do here.

[2015-08-27 16:32] fredemmott opened #6164 "RFC: Ban references in partial"
Way too easy to break the type system - eg:

[code]

This typechecks, but at runtime:

[code]
- hackificator could use HH_FIXME
- if this is impractical for facebook www, possibly another .hhconfig option like unsafe_xhp?

[2015-08-27 16:32] fredemmott commented on #6164
cc @JoelMarcey

[2015-08-27 16:36] JoelMarcey commented on #6164
:+1:

[2015-08-27 16:53] fredemmott commented on #6164
cc @dlreeves

[2015-08-27 16:56] SiebelsTim commented on #4910
duplicate #6062

[2015-08-27 18:03] fredemmott commented on #6159
https://github.com/facebook/hhvm/blob/master/hphp/util/process.cpp#L407

This is really old behavior, and not really explained in the code. Will see if I can find someone who knows why.

[2015-08-27 18:09] fredemmott opened #6165 "umask changes between requests"
Request this page twice:

[code]

In server mode, the first response echoes the user umask - `int(2)` on my machine - and future reqeusts are `int(18)`

In daemon mode, the first response is `int(0)` due to https://github.com/facebook/hhvm/issues/6159, later are `int(18)`

Related: #6159

[2015-08-27 18:19] fredemmott commented on #2990
-t analyze is unsupported/removed, and was separate to hack - I don't think there's still an issue here. If you think there is, please could you clarify?

[2015-08-27 19:03] #6062 closed

[2015-08-27 19:05] paulbiss commented on #6163
cc @alexmalyshev

[2015-08-27 19:09] #4007 closed

[2015-08-27 19:10] #3418 closed

[2015-08-27 19:12] paulbiss commented on #1669
The fix ran into some issues with the jit that have since been resolved, I haven't had a chance to come back to it.

[2015-08-27 19:12] #3099 closed

[2015-08-27 19:13] paulbiss commented on #6160
In HHVM objects don't have internal cursors. I think we had talked about trying to fix this in the past, but I seem to recall we had decided it wasn't worth potentially regressing object performance over.

[2015-08-27 19:22] paulbiss commented on #6032
The native wakeup function is only called if the serialized string contains a native-data key ("\0native"). On the second point, HHVM raises an notice and returns false when it catches an exception in unserialize, see the link below.

https://github.com/facebook/hhvm/blob/bbff70c6ccbff3ff19233c6ff1e4cedcf12b13f3/hphp/runtime/base/builtin-functions.cpp#L755-L759

[2015-08-27 19:44] #5865 closed

[2015-08-27 20:12] #6082 closed

[2015-08-27 20:35] SiebelsTim commented on #5045
Fixed in #5047

[2015-08-27 20:40] josephscott opened #6166 "Segmentation fault"
Been having problems with HHVM 3.9.0 crashing.  Using hhvm-dbg_3.9.0~wheezy_amd64.deb under Debian 7.8.

Here is server.ini:

[code]

php.ini:

[code]

When this happens there is no entry in the error log and the stack trace file is empty.

Here is the output of `thread apply all bt` from gdb on the resulting core file:

[code]

Happy to try out other config options or other suggestions.

[2015-08-27 20:48] tslettebo commented on #5918
Thanks for the information.

[2015-08-27 20:52] tslettebo opened #6167 "Deducing a shape as a generic parameter"
Hi.

Is there a way to have code like this pass the typechecker, possibly by making a named shape type, and somehow making g() deduce its T parameter as that type?
[code]

It gives the error message:

This is not an object of type KeyedContainer, this is a value of generic type T (Typing[4005])

[2015-08-27 20:52] paulbiss commented on #6166
This looks ini related (see Thread 1), @JoelMarcey can you have a look?

[2015-08-27 20:54] paulbiss commented on #6167
Hmm, this looks like a bug. cc @jwatzman @dlreeves

[2015-08-27 20:55] #5045 closed

[2015-08-27 21:00] josephscott commented on #6166
I should have added that it ran for a few hours before crashing.  I started with a small number of requests, gradually increasing over time.

[2015-08-27 21:06] tslettebo commented on #6167
I also tried this approach:
[code]

However, nope, the "::class" approach definitely won't work for shapes. :)

As I understand, these are implemented as arrays under the hood.

[2015-08-27 21:16] tslettebo commented on #6167
Actually, I think this is enough for me:
[code]

After all, g() is supposed to be able to work on various kinds of shapes, so it makes sense to reduce the type information at the boundary, so that before the call to g(), the $value variable can be type-checked, while a more general array type-checking is done in g().

This is based on a real use-case, by the way: g() is a function taking a "contex

[2015-08-27 21:27] fredemmott commented on #6167
3.9 supports structrual subtyping for shapes - why not just:

  function g(shape(''x' => string) $var): void {
    echo $var['x'];
  }

[2015-08-27 21:30] fredemmott commented on #6167
Also, unless you constrain T, it should work for /any/ type, so the hack error is correct.

If you really want to use generics (though as above, it seems unneccessary for shapes):

[code]

Added needs more info as I think this addresses your question - please close the issue or add more information.

[2015-08-27 22:21] JoelMarcey commented on #6166
@paulbiss @josephscott Hi! I am not sure this is ini related with respect to the ini infrastructure itself being what is causing the crash.

Thread 1 seems to be just showing the stack when HHVM is trying to open the error log to print out some errors.

https://github.com/facebook/hhvm/blob/HHVM-3.9/hphp/runtime/base/request-injection-data.cpp#L464

The file seems to be available, and then we try

[2015-08-27 22:27] JoelMarcey commented on #1214
I am going to close this out since there is an extension

@fredemmott Didn't we consider ZeroMQ at one point and weren't going to implement it ourselves, but now that there is an extension, do we consider merging that in to our codebase? Or do we leave it as a pluggable extension outside hhvm?

[2015-08-27 22:27] #1214 closed

[2015-08-27 22:28] JoelMarcey commented on #4166
closing in favor of #5500

[2015-08-27 22:28] #4166 closed

[2015-08-27 22:28] JoelMarcey commented on #1541
closing in favor of #3637

[2015-08-27 22:28] #1541 closed

[2015-08-27 22:29] josephscott commented on #6166
@JoelMarcey It is a large internal code base.  Since HHVM 3.9.0 generates empty stack trace files I have few clues as to where in the code flow request were executing when the core dump happened.

I looked at the request logs and all of the requests that happened during the same second as the core dump returned 200.

[2015-08-27 22:30] Orvid commented on #6164
In my opinion the `$value = 'herp';` line should cause a typechecker error, because the parameter is strongly typed.

[2015-08-27 22:36] JoelMarcey commented on #6164
@Orvid

It is strongly typed only if the typechecker analyzes it as strongly typed. At this point, the typechecker sees the `&` and throws its hands up and says "go ahead and do whatever you want.

Had the function been `function foo(int $value): void {`, then yes, that line you mention would have been caught.

[2015-08-27 22:37] JoelMarcey commented on #4910
Closing https://github.com/facebook/hhvm/commit/34de1a279b3b66458ff980d12ef347022f2def04

[2015-08-27 22:37] #4910 closed

[2015-08-27 22:37] simonwelsh commented on #6164
:+1: die references, die.

[2015-08-27 22:39] fredemmott commented on #6164
@JoelMarcey : nope, types only matter at boundaries - so the assignment would be fine. If you tried to then return it as an int it would be an error.

[2015-08-27 22:40] Orvid commented on #6164
Sounds like an issue with the typechecker then...

[2015-08-27 22:41] fredemmott commented on #6164
@Orvid : references are not valid hack. Options are:

 - make them valid hack (in which case, the behavior should be as you described) - and if this is done, there's not really a reason to ban them in strict as well
 - ban them in partial
 - stick with the current 'trust me' behavior - this is standard in partial mode for things the typechecker doesn't understand

[2015-08-27 22:41] JoelMarcey commented on #6164
@fredemmott You are right. yeah. :(

@Orvid, I was wrong.

[2015-08-28 00:48] wjywbs commented on #6166
Looks like a duplicate of #4533 which is caused by `ini_set('log_errors', 0)` or `ini_set('error_log', 'file')`. This should be fixed by d43f26b and probably should be merged to 3.9 branch.

[2015-08-28 00:51] JoelMarcey commented on #6166
@wjywbs :+1:

Ahh - that's right. Yes, @paulbiss @jwatzman ... can we get https://github.com/facebook/hhvm/commit/d43f26b397fb89a56e33093bc762180b7f8fe1c0 into 3.9 as a patch?

[2015-08-28 03:19] jelqui commented on #3472
Setting HHVM with apache 2.4 running fastcgi:
#nano /etc/apache2/mods-enabled/hhvm_proxy_fcgi.conf
comment this line
#ProxyPassMatch ^/(.+\.(hh|php)(/.*)?)$ fcgi://127.0.0.1:9000/var/www/$1
Why did we comment that line? to avoid having it running globally on apache instead we are going to edit each virtualhost on apache to make it run by each virtualhost

Edit  nano /etc/apache2/sites-available/vi

[2015-08-28 04:51] mrix opened #6168 "DOMDocument::save() failed with segfault when `filename` is an empty string, null or false"
For example:
[code]

HHVM Version info:
[code]

[2015-08-28 14:08] dlreeves commented on #6164
We do not want to support PHP's reference due to the semantics they have, but don't have a strong alternative in Hack yet. For things like that we typically ban it in strict mode, but allow it in partial mode. What we could do is add a set of configs that takes certain strict mode checks and applies them to partial mode as well.

[2015-08-28 14:09] JoelMarcey commented on #6164
@dlreeves That is exactly what @fredemmott suggested -- an option for `.hhconfig`. Cool.

[2015-08-28 14:26] JoelMarcey commented on #6166
I cherry picked https://github.com/facebook/hhvm/commit/d43f26b397fb89a56e33093bc762180b7f8fe1c0 into the 3.9 branch.

https://github.com/facebook/hhvm/commits/HHVM-3.9

[2015-08-28 15:28] derickr commented on #6160
To be fair, I think it's a bit of a dubious feature in PHP. But it is an incompatibility. Perhaps add the "php5 incompatibility" tag for and be done with it? I'll be closing this now.

[2015-08-28 15:28] #6160 closed

[2015-08-28 15:32] fredemmott commented on #6160
Listed here: https://github.com/facebook/hhvm/blob/master/hphp/doc/inconsistencies#L73

[2015-08-28 15:48] derickr commented on #6032
| The native wakeup function is only called if the serialized string contains a native-data key ("\0native").

What's the point with that? How do I define a wake-up handler in my class then? Do I really have to use

[code]

Even though there is a native method, which just doesn't happen to be called? I can't just add a "\0native" into my unserialized data to trigger the wakeup function on the Obje

[2015-08-28 22:15] josephscott commented on #6166
I tested the hhvm-nightly-dbg_2015.08.28~wheezy_amd64.deb build with the same portion of traffic ( for the same type of requests ) and had no crashes.  I'm hopeful that this has been officially fixed.

[2015-08-28 22:16] paulbiss commented on #6166
I've just started rolling 3.9.1 packages, which will include this fix.

[2015-08-28 22:23] josephscott commented on #6166
Excellent, I will give them a spin.

[2015-08-31 05:38] steelbrain opened #6173 "Is it legal to use ext_fb in personal projects?"
The first question is in the title, second question is, is it okay to use `fb_serialize`, I mean, is it depreciated or something?

[2015-08-31 05:45] paulbiss commented on #6173
You're certainly welcome to use it (it would be odd to open source it if you weren't). It's mostly a mix of useful functions we've tacked on for internal needs, and it predates our using the HH namespace for HHVM specific APIs. I in no way promise it's a stable API but most of them have been unchanged for quite some time.

[2015-08-31 05:45] #6173 closed

[2015-08-31 05:49] Nikerabbit commented on #5528
Is 27da833fb848c94df30447b39edb4b430128d40f possibly related to this issue?

[2015-08-31 05:50] Nikerabbit commented on #3363
This is probably dupe of #5528

[2015-08-31 05:58] steelbrain commented on #6173
@paulbiss then can I expect the future versions to not to break `fb_serialized` stuff?

[2015-08-31 06:00] paulbiss commented on #6173
I can't make any guarantees there, but I'd say it would be unlikely. If you want to be certain of API stability you should stick to the PHP and Hack APIs.

[2015-08-31 07:37] dieend opened #6174 "hhvm.server.request_timeout_seconds max value"
I found out if setting `hhvm.server.request_timeout_seconds` with value > 2147, hhvm turns strange,  It gives me `Service Unavailable` results (I uses hhvm as fastcgi with nginx).
[code]

[2015-08-31 08:56] SiebelsTim commented on #5339
Looks like php is doing some magic with `ArrayObject`. Plain `ArrayAccess` classes can't do that, because only the first key is passed.

[2015-08-31 09:01] SiebelsTim commented on #5471
Closed in #5517

[2015-08-31 09:22] #5471 closed

[2015-08-31 15:03] r3wt opened #6176 "traits with private methods"
Process exited with code 153.

https://3v4l.org/sAU8j

[2015-08-31 15:04] Norfavrell commented on #6093
Is there any way to potentially use the origin [xDebug](http://xdebug.org/) extension instead of the HHVM's one?

[2015-08-31 16:59] JoelMarcey commented on #5528
We just patched HHVM 3.9 with 27da833 and looking at the stacktrace above, it indeed looks like the issue that was solved by that diff.

[2015-08-31 17:25] josephscott commented on #6166
@JoelMarcey I've been testing 3.9.1 this morning.  It has been doing well, with no crashes.  I think we can consider this report resolved.

[2015-08-31 17:25] #6166 closed

[2015-08-31 17:44] jwatzman commented on #6054
Derrick Rice (FB new hire) is likely to do this one.

[2015-08-31 17:52] jprjr opened #6178 "resolv.h might not be portable?"
Hi there -

I've been working on packaging hhvm for a Linux distro that uses [musl libc](http://www.musl-libc.org/) instead of glibc. musl libc is focused on being to-spec (and not much else).

I've had a few errors come up from the usage of resolver functions like `res_nquery` from `resolv.h`, which (as far as I can tell) isn't formally defined by any specification. I think the various c librarie

[2015-08-31 18:34] paulbiss commented on #6178
We aren't officially supporting alternatives to glibc, and pulling in yet another dependency to do something simple doesn't sound like a great idea. I'm open to other solutions if you can come up with something that doesn't add new dependencies. I'm going to close this for now as it's an unsupported build issue.

[2015-08-31 18:34] #6178 closed

[2015-08-31 18:49] jprjr commented on #6178
I'll see if I can come up with anything!

Another thought/idea I had - I noticed a lot of `#if` directives tend to fall back to a catch-all `#else` - would it make since to remove catch-all `#else` statements? That way you'll likely hit an error sooner rather than later on an unsupported platform.

[2015-08-31 19:04] paulbiss commented on #6178
I'm not sure I follow, can you paste an example? We have a number of platform specific directives but I'm not sure how removing the else would help (perhaps adding an else with an error directive would be a helpful hint but I thought we already did that in some cases).

[2015-08-31 19:13] jprjr commented on #6178
Sure thing - here's something from [hphp/runtime/base/thread-safe-setlocale.cpp#L208-L228](https://github.com/facebook/hhvm/blob/master/hphp/runtime/base/thread-safe-setlocale.cpp#L208-L228)

[code]

There's an else which assumes `__GLIBC__`, as opposed to another `#elf defined(__GLIBC__) || defined(__otherplatforms__)...`, then having something like `#else; #error` at the very end.

[2015-08-31 19:14] paulbiss commented on #6093
Unfortunately our extension layer isn't source compatible with PHP 5 or 7.

cc @alexmalyshev about the crash

[2015-08-31 19:16] paulbiss commented on #6178
I think that would be reasonable, but then any resulting compile errors should be easy to deduce as related to the api being unsupported. Since we default to glibc and all other support is partial or experimental at this point I'm not sure how much value tracking all of these down would be. I'm a bit hesitant to add more macro pollution.

[2015-08-31 19:18] paulbiss commented on #6176
What's the issue here?

[2015-08-31 19:49] SiebelsTim commented on #6176
I guess the problem is, that it doesn't output anything since 3.8.1

[2015-08-31 20:26] paulbiss commented on #6176
I think that was a 3v4l bug, I reran it and it has output for 3.9 now

[2015-08-31 20:31] r3wt commented on #6176
@paulbiss i have not be able to use traits with private functions in my app.

[2015-08-31 20:35] paulbiss commented on #6176
@r3wt you're going to need to be a lot more specific. From what I can tell based on the 3v4l link there's nothing wrong.

[2015-08-31 20:41] r3wt commented on #6176
@paulbiss

https://3v4l.org/sAU8j

[2015-08-31 20:47] fredemmott commented on #6176
@r3wt : still only seeing an issue with 3v4l, not hhvm. Please provide:

 - example code
 - expected output/behavior
 - actual output/behavior you are seeing
 - HHVM version number

[code]

[2015-08-31 20:59] r3wt commented on #6176
oddly enough it seems to be working again?

[2015-08-31 20:59] #6176 closed

[2015-08-31 22:28] Orvid commented on #6178
As a note, the MSVC implementation doesn't have the APIs either, and uses the Windows API, WinDNS instead.

[2015-08-31 22:59] tslettebo commented on #6167
Thanks for the information, I'll explore this.

[2015-08-31 22:59] #6167 closed

[2015-09-01 00:21] DerrickRice commented on #6054
Intern task 8201648

[2015-09-01 08:07] phoenixfight opened #6181 "hhvm ext_xdebug %R [REQUEST_URI] Bug"
when you config xdebug output  %R, then outfile_name can not get [REQUEST_URI]

i think this will be fix:

[code]

[2015-09-01 08:25] nicolas-grekas commented on #5875
Since 5.5.10 in fact

[2015-09-01 13:58] Ocramius commented on #4560
Any news on this? Pretty much blocked by it for building Doctrine3 prototypes :-(

[2015-09-01 14:15] jjeising opened #6183 "Full PHP tag required when including files"
Under some circumstances it looks like a full PHP tag `<?php ?>` is required somewhere in a file to be interpreted as PHP (when included). I found this error with template files that only use the short echo syntax `<?= ?>`.

Testcase: `index.php`:

[code]

`3.php`:

[code]

`4.php`:

[code]

Output when run with `hhvm --mode server -vServer.Type=fastcgi -vServer.Port=9100 -vRepo.Central.Path=/usr/

[2015-09-01 19:40] fredemmott commented on #6086
I've started an internal discussion about what we want to do for this. My current guess is we will switch to more detailed files, but only aim to update them for OSS releases.

[2015-09-01 20:58] paulbiss commented on #6181
We'd be happy to take a PR for this, if you could add a test that would be great.

[2015-09-01 22:03] partounian commented on #4115
Anyone know to install the libs above?

[2015-09-02 01:30] RedPh0enix opened #6184 "Should pay attention to 'tls' stream context options, not just 'ssl'"
$ php ./TestClient.php
Done
$ hhvm ./TestClient.php

Warning: SSL operation failed with code 1. OpenSSL Error messages:
error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed in /tmp/TestClient.php on line 10

Warning: Failed to enable crypto in /tmp/TestClient.php on line 10
TLS Connect failed

Reproduce with:

$ cat TestServer.sh
[code]

$ cat TestClient.php
[code]

$

[2015-09-02 02:38] phoenixfight commented on #6181
$_SERVER['REQUEST_URI']  exists in fastcgi mode , sorry  for  no idea how to run a test in server/fastcgi mode

test in fast cgi mode:

profiling_basic_3.php
[code]
profiling_basic_3.php.ini
[code]
curl "http://{$ip}/profiling_basic_3.php?a=1&b=22"
the output is:
[code]

[2015-09-02 17:21] amodell opened #6186 "hhvm fails to build on my mac"
Even after a brew update, the following still occurs for me:
thewizard-mbp1:local thewizard$ brew install hhvm
==> Installing hhvm from hhvm/homebrew-hhvm
==> Downloading http://dl.hhvm.com/source/hhvm-3.9.1.tar.bz2
Already downloaded: /Library/Caches/Homebrew/hhvm-3.9.1.tar.bz2
==> cmake -DENABLE_MCROUTER=OFF -DENABLE_EXTENSION_MCROUTER=OFF -DENABLE_EXTENSION_IMAP=OFF -DCCLIENT_INCLUDE_PATH=0 -DM

[2015-09-02 17:46] fredemmott commented on #6184
SSL certificates were not validated at all for that API until HHVM 3.7.3 (CVE-2015-4663)

It looks like the problem is that we only support 'ssl' options, not 'tls' - but setting 'ssl' stream context options on a tls:// stream should work for us. Does that work for you?

[2015-09-02 18:23] jerson commented on #690
I have the same error

      <?php
      set_time_limit(90);
      //more code heree
      ?>

HHVM

            HipHop VM 3.9.1 (rel)
            Compiler: 1441204094_N
            Repo schema: fc81fe0432fed7f67d296c6fa62a5f2c6217c83d

OSX 10.11

            Process:               hhvm [38391]
            Path:                  /usr/local/Cellar/hhvm/3.9.1_1/bin/hhvm
            Identifier:

[2015-09-02 18:49] uweoswald opened #6187 "Yosemite 10.10.5, Build of HHVM failed to link in SSL"
I did exactly what was listed. Step by Step. But after almost everything is done I got this error(s)

[100%] Linking CXX executable hhvm
Undefined symbols for architecture x86_64:
  "_SSLv2_client_method", referenced from:
      HPHP::SSLSocket::setupCrypto(HPHP::SSLSocket*) in libhphp_runtime.a(ssl-socket.cpp.o)
  "_SSLv2_server_method", referenced from:
      HPHP::SSLSocket::setupCrypto(HPHP::S

[2015-09-02 21:13] jwatzman commented on #5523
Some diffs for this are starting to land. The one that adds new static member access forms doesn't support `var_dump(['array', 'literal'][0]::$x)` -- PHP7 has an inconsistency in that it doesn't support `new ['array', 'literal'][0]::$x` either, but in HHVM that actually ended up causing parser conflicts to support the former. (Since our two forms there are somewhat more related.)

[2015-09-02 21:28] jwatzman commented on #6186
Fixed in master, cf. https://github.com/hhvm/homebrew-hhvm/issues/8#issuecomment-137182692 -- try `brew install hhvm --HEAD`. I may pull in this patch in to a revision of the brew formula, since it also makes it easier to do bottles.

[2015-09-02 21:28] #6186 closed

[2015-09-02 21:29] jwatzman commented on #6186
(Also, thank you for reporting against the right github project, despite the solution being in an issue reported against the wrong one :))

[2015-09-02 21:31] jwatzman commented on #6187
Interesting. I'll probably need to ask you more info about the configuration of your system, but I'm not sure right now what the right questions are, and I need to run :) In the mean time, the results of `brew gist-log hhvm` are generally useful; if that command fails (it should work but does fail for some people) the *full* output of `brew install --verbose hhvm` is useful. (Please pastebin that

[2015-09-02 22:51] roman-shuhov opened #6188 "Unable to compile hhvm on linux alpine"
I'm trying to compile hhvm on linux alpine and the first part goes smooth:

cmake output - https://gist.github.com/roman-shuhov/a6c69fab292c2e82a727

but next "make" command fails to compile folly library:

https://gist.github.com/roman-shuhov/032d5fea6e5b17b5cd65

Do you know how can i fix this issue?

[2015-09-02 22:58] RedPh0enix commented on #6184
That worked beautifully Fred - thank you for the fast feedback.
I'll close this, since the workaround is perfect for me; feel free to reopen if you wish to track/fix.

[Note for future searchers: Confirmed that the following code alteration to TestClient.php, works around the issue]
[code]

[2015-09-02 23:30] fredemmott commented on #6184
thanks - reopening as we should still fix this :)

[2015-09-02 23:59] paulbiss commented on #6188
The warnings in the cmake output all look rather serious. I don't know anything about alpine linux, we don't officially support it. You may have better luck asking in our irc channel on Freenode (#hhvm). A number of the regulars in there have managed to get hhvm building on non-officially-supported distros.

[2015-09-03 00:51] jerson opened #6189 "curl_exec Error OSX 10.11"
Im using latest facebook sdk and when curl_exec() is called, shows me an error

Facebook Version
[code]

HHVM Stacktrace
[code]

OSX error
[code]

[2015-09-03 01:07] fredemmott commented on #6189
Your 'HHVM Error' section includes the stack trace for the error, but not the actual error.

[2015-09-03 01:08] fredemmott commented on #6189
Ah sorry, didn't realize that HHVM crashed. Not used to OSX crash logs yet :p

[2015-09-03 04:15] #5671 closed

[2015-09-03 04:42] #5537 closed

[2015-09-03 04:42] #6046 closed

[2015-09-03 04:42] #6069 closed

[2015-09-03 04:42] #6084 closed

[2015-09-03 06:21] uweoswald commented on #6187
Mmmm, I only have a free account (now) which doesn't allow me to use a direct fileupload. I have created a --verbose file since the other command haven't worked for me. The output is 500k. Any other idea how I can get it to you?
Thank you very much for your help.

[2015-09-03 07:00] tengyifei opened #6190 "`curl.cainfo` has no effect in php.ini"
HHVM does not seem to respect the `curl.cainfo` setting in `php.ini`. Running
[code]
yields `false` even when that item is set in `php.ini`.

Moreover, it looks like arbitrary configuration entries are simply ignored by HHVM. Custom extensions such as `openssl.cafile` are not usable either.

When I try to set it via the `--config-value` switch, it says:
[code]

[2015-09-03 07:23] uweoswald commented on #6187
OK, the --verbose log I have put into gist ( I hope so :-) )

https://gist.github.com/76a9d9f0b7b32292439b.git

But I have build a tar file of all logs which were mentioned at the bottom in the log. This does not work to paste into the Gist rep.

??!!

[2015-09-03 07:48] uweoswald commented on #6187
I have added the output from my first try to build hhvm. At the end you can see the errors I have in my first post. Hope it helps. If you need something else than do just ask :-)
Thank you.

[2015-09-03 09:25] SiebelsTim commented on #6058
Closed in #6129

[2015-09-03 13:45] nikic commented on #6058
If this gets closed, there should be another issue that tracks the incorrect failure conditions.

[2015-09-03 14:06] nikic commented on #5523
Nice work!

[2015-09-03 15:18] JoelMarcey commented on #6190
@tengyifei We haven't implemented `curl.cainfo` as an ini setting yet. That's why you are getting false.

[2015-09-03 15:37] roman-shuhov commented on #6188
Do you have any thoughts how can i fix these warnings?

[2015-09-03 17:12] #6014 closed

[2015-09-03 17:32] r3wt commented on #6155
bump

[2015-09-03 20:53] paulbiss commented on #6188
Looks like it's failing to find some of the targets it needs to link against, or it's an incompatibility with the way that the linker is taking arguments. Not really sure :/ You're probably going to have better luck asking on IRC, there's not much we can do to help with an unsupported platform, particularly with so little idea what's going on.

[2015-09-03 21:12] #6120 closed

[2015-09-04 00:03] fadimko commented on #3165
up

[2015-09-04 02:17] ProdigyView opened #6195 "Data URI Post in HHVM Creates Weird Array"
The problem is explained thoroughly here: http://stackoverflow.com/questions/32166689/passing-image-in-post-creates-weird-data-uri

Basically the image is passed as a data uri to the server and saved. It works fine on the javascript side as shown but own the hhvm side a weird array is created. This DOES work on php-fpm.

[2015-09-04 02:27] ProdigyView opened #6196 "HHVM Creates Weird Array #2"
This might be related to my previous issue here: https://github.com/facebook/hhvm/issues/6195 . I am passing in the following request payload via post in javascript:

[code]

Now in the backend it gets turned into:

print_r

[code]

var_dump

[code]

}

There is a character in their that is making the array weird. Work in PHP-FPM.

[2015-09-04 15:31] nazar-pc commented on #4899
Any chance to get this feature in near future?
Can't test my system of HHVM without Phar write support.

[2015-09-04 16:22] #6188 closed

[2015-09-04 17:34] AdeFlit opened #6197 "HHVM performance on Linode KVM"
We've been happily using HHVM to host our app on Linode (Xen) for the past year. Recently, they've started a switch to KVM. Unfortunately we've witnessed absolutely terrible HHVM performance on Linode's KVM hosts, achieving just 5-10% of the expected throughput.

I originally detailed the problem here, along with some perf top output: https://forum.linode.com/viewtopic.php?p=67850#p67850

The prob

[2015-09-04 19:19] jwatzman commented on #6187
Thanks for the info! I'm traveling and won't be able to get to this until Tuesday or Wednesday next week, sorry, but I will get back to you!

[2015-09-04 20:07] aewing opened #6198 "AsyncMysqlClient::adoptConnection & extended PDO class"
What are the intended argument options for AsyncMysqlClient::adoptConnection?

I am trying to instantiate a new AsyncMysqlClient based off of a class in hack that extends
PDO, but hhvm throws a fatal error: "Unexpected object type [my\classname]"

[2015-09-04 20:10] JoelMarcey commented on #6198
@aewing Funny you should ask that. I am documenting this currently as part of our documentation revamp, and I am running into the same problem. I think it doesn't support PDO or `mysqli` connections; just `mysql` maybe? And even that, I am not sure it is working correctly yet.

That said, I think the recommended way to instead use an `AsyncMysqlConnectionPool`. I believe we are trying to steer eve

[2015-09-04 20:13] aewing commented on #6198
If it could support existing PDO objects that would be incredibly beneficial to my use case, I'm hoping to allow the end user to to "swap" into an awaitable interface at will. If not I suppose I'll go back to the drawing board.

[2015-09-04 20:15] #5409 closed

[2015-09-04 20:16] aewing commented on #6198
I suppose it would make more sense in my situation for the AsyncMysqlConnectionPool to have some way to extract the connection parameters or duplicate my PDO instance. Is this something I shouldn't hold my breath for?

[2015-09-04 20:51] fredemmott commented on #6198
- this function requires a (deprecated) mysql resource

TL;DR for the rest: the best solution is to modify whatever gives you PDO objects to also have a pool, and to be able to give you async mysql clients

- after adopting the resource, it is no longer valid for use in any other context; so, really whatever kind of connection you already have, you want to get a new instance to pass to this functi

[2015-09-04 21:19] hafi4u commented on #5551
Me too having same issues.

[2015-09-04 21:41] hafi4u commented on #5551
Just commented

[code]

in file magmi/inc/magmi_mixin.php

and it worked.

Thanks to everyone in here and to R1CHY_RICH from ..
http://stackoverflow.com/a/31079404/1814446

[2015-09-04 23:35] sandeepone commented on #6197
We're running couple of Linodes. Recently we upgraded one Linode from XEN to KVM, Seems stable so far from couple of days. For us performance seems improved, will be testing more time.

We're running
Centos 7.1  x64
HHVM 3.9.1
Webscalesql 5.6.24

[2015-09-05 01:32] simonwelsh opened #6199 "Cannot have trailing commas in tuples in generic parameters"
[code]

gives `Fatal error: syntax error, unexpected '<', expecting ';' or '{' in /in/UvWrJ on line 3`

However, both:

[code]

(just a tuple, with trailing comma) and

[code]

(tuple inside generics, without a trailing comma) are valid.

[2015-09-05 01:40] simonwelsh commented on #6199
(I feel like this is a bug with HHVM, rather than `hh_format`)

[2015-09-05 02:01] fredemmott commented on #6199
Yep, but given we've just shipped 3.9, should probably change hh_format too (temporarily). Don't want to say libraries can't use hh_format if they care about LTS releases

--
Typed with my thumbs

On Sep 4, 2015, at 18:41, Simon Welsh <notifications@github.com<mailto:notifications@github.com>> wrote:

(I feel like this is a bug with HHVM, rather than hh_format)

—
Reply to this email directly or v

[2015-09-05 07:04] karpa13a opened #6201 "wrong permission on external extension file"
Hello
if hhvm(in daemon mode) unable to load external extension on startup due permission problems it does not fails to start or write any error in any log:
in my case (ubuntu 14.04, today nightly) with mongo.so:
adding to php.ini:
[code]

placing mongo.so in that dir, chown root /var/tmp/1; chmod 700 /var/tmp/1
service hhvm start do not produces error. it works, but extension do not load.

[2015-09-05 07:14] uweoswald commented on #6187
No hurry. I appreciate your help.
Cheers,
Uwe

[2015-09-05 08:07] AdeFlit commented on #6197
I've reproduced the issue with WordPress (although without such a radical performance hit), so it doesn't seem specific to our codebase. We're running Ubuntu 14.04.

[2015-09-05 10:27] SiebelsTim opened #6202 "Test slow/ext_string/setlocale-fail.php is locale dependend"
This test initially sets the locale to empty string, which falls back to environment variables.
Every failing call does that too.

So in France, every failing call trying to set a french locale returns false, but sets the locale to french.

I tried setting the environment variables with `putenv` without success.

---

The test:
[code]

[2015-09-05 17:46] steelbrain opened #6203 "Type checker confused in while loop conditions"
[code]
Error received:
[code]
As you can see, the `$Message` clearly isn't null.

[2015-09-05 23:03] simonwelsh commented on #6203
This is probably the same problem as #6030.

[2015-09-06 02:05] steelbrain commented on #6203
@simonwelsh true!

[2015-09-06 02:05] #6203 closed

[2015-09-06 02:06] steelbrain commented on #6030
Bump

[2015-09-06 14:35] dshafik commented on #3826
This issue appears to be the same behavior I've logged in the PHP.net bug tracker [here](https://bugs.php.net/bug.php?id=70437).

Small reproducing script can be found [here](https://3v4l.org/UZ6gq)

[2015-09-06 17:17] filbertkm opened #6206 "Trying to serialize a closure causes a warning (vs. Exception in zend php)"
on php 5.3:

(still need to check php 5.6, but think it's the same there)

on hhvm:

$x = function() { echo "hi"; };

[2015-09-06 17:20] filbertkm commented on #6206
MediaWiki depends on this behavior in some of the phpunit tests:

https://github.com/wikimedia/mediawiki/blob/master/tests/phpunit/MediaWikiTestCase.php#L341-L351

When running tests with verbose error reporting, then I run into this issue.

https://phabricator.wikimedia.org/T111641

[2015-09-06 17:50] karpa13a commented on #6206
@filbertkm https://3v4l.org/1f86o

[2015-09-06 18:56] filbertkm commented on #6206
@karpa13a thanks for checking other versions

[2015-09-06 21:07] spxrogers commented on #3637
Any update on this issue?

I'm currently experiencing the same reproducible issue as @rdbayer while using Parse's php sdk.

[2015-09-07 11:03] wickedsheep opened #6207 "oci8 support"
At the moment, oci8 is not supported. Any news/plans on this?

[2015-09-07 13:10] Orvid commented on #6207
Originally reported as issue #213.

[2015-09-07 14:52] christopherowen commented on #4636
hhvm 3.9.1 compiled on 10.11 Beta using the recently released hhvm tap.

This ticket can be closed.

[2015-09-07 14:53] christopherowen commented on #4444
The recently released official homebrew tap is able to compile hhvm 3.9.1 at least on OSX 10.11 Beta (El Capitan).

I believe this issue can be marked resolved.

[2015-09-07 14:54] christopherowen commented on #3765
the recently release official homebrew tap is able to compile hhvm 3.9.1.

I believe this ticket can be marked resolved.

[2015-09-07 14:55] christopherowen commented on #3697
is it possible to retest this with the newly released official homebrew tap?

[2015-09-07 14:57] christopherowen commented on #4356
the newly released official homebrew tap is able to compile 3.9.1.

I believe this issue can be marked resolved?

[2015-09-07 14:58] Nyholm commented on #4444
I can verify that it works on El Capitan.

[2015-09-07 14:58] christopherowen commented on #3162
please retest using the newly released official homebrew tap.

[2015-09-07 15:56] Ocramius commented on #4444
Can anyone verify for the current stable branch (Yosemite)?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 7 September 2015 at 15:58, Tobias Nyholm <notifications@github.com>
wrote:

[2015-09-07 16:06] #4356 closed

[2015-09-07 16:06] danslo commented on #4444
3.9.1 recipe definitely works on Yosemite.

[2015-09-07 16:07] JoelMarcey commented on #3765
Thanks @christopherowen

[2015-09-07 16:07] #3765 closed

[2015-09-07 16:07] mnapoli commented on #4444
:+1: can confirm on Yosemite, you can close this everything is right with the world.

[2015-09-07 16:15] craigcarnell commented on #4444
Tried it just, compiled, will test functionality tomorrow :+1:

[2015-09-07 16:16] JoelMarcey commented on #4444
Thanks everyone!!

[2015-09-07 16:16] #4444 closed

[2015-09-07 16:17] JoelMarcey commented on #4636
Thanks @christopherowen

[2015-09-07 16:17] #4636 closed

[2015-09-07 19:16] plstand commented on #2670
This seems to have been fixed a while ago, probably in hhvm/hhvm-third-party@5f90e2d37532ee2b.

[2015-09-07 19:16] #2670 closed

[2015-09-07 19:49] r3wt opened #6208 "having problems pushing into array from for loop"
[code]
if i remove the if statement, it works and the url is populated

[2015-09-07 23:02] colinodell opened #6209 "Missing constant: IntlChar::NO_NUMERIC_VALUE"
According to the documentation for `IntlChar::getNumericValue()` ([see source](https://github.com/facebook/hhvm/blob/master/hphp/runtime/ext/icu/ext_icu_uchar.php#L67)), a value of `IntlChar::NO_NUMERIC_VALUE` may be returned if no numeric value exists for the given code point.  This behavior is consistent with [the underlying ICU library](https://ssl.icu-project.org/apiref/icu4c/uchar_8h.html#a36

[2015-09-08 02:04] no1youknowz commented on #4895
Closing.  Moved to postgres for my db and moved to using Golang for my backend tasks. :+1:

[2015-09-08 02:04] #4895 closed

[2015-09-08 03:29] Andargor commented on #3340
I have this issuse with HHVM 3.9.1 after running for about an hour under ubuntu 14.04. Restarting the service makes it work again for another hour.

Warning: Unable to execute /usr/lib/sendmail -t -i in (...).php on line X

[2015-09-08 04:49] JoelMarcey commented on #6209
I can possibly look at this during the week, or we can take a pull request too.

[2015-09-08 04:53] JoelMarcey commented on #6208
I am not sure I understand the problem. Are you saying you want to purposely truncate every 10000th URL and that is not working?

[2015-09-08 08:59] SiebelsTim commented on #6208
@JoelMarcey I **guess** he's saving the current array to some file after 10000 elements. To keep the array small or something.

---

Anyway, this is no isolated example. It would be best if you can come up with an isolated test case.

[2015-09-08 09:05] davidradunz commented on #6159
This also happens in Debian 7 (Wheezy). Using (what I presume is) the releases repo: deb "http://dl.hhvm.com/debian wheezy main".

Does anyone know of any work-arounds?

[2015-09-08 09:30] SiebelsTim commented on #6159
The code is copied from http://www.itp.uzh.ch/~dpotter/howto/daemonize.

The introduction says:

It gets set to zero so the daemon does not depend on the parent's umask. Why 0 however, no idea.

[2015-09-08 13:43] davidradunz commented on #6159
Presumably it could just be fixed by re-setting the umask to it's original value? I would say after the parent processes has exited (like the example). But the HHVM code appears to kill the parent before finishing the "unlock" sequence, which is quite confusing. Anyway, I am not a C++ guy (I dabble..). I'll leave it with you guys :) Love HHVM btw.

[2015-09-08 14:12] rubensayshi commented on #6065
Having same issue, missing `gmp_strval`, seems like something went wrong big time with this ...

@MaideCa I hope you don't mind me pinging you but I recalled you did some stuff for GMP issues before, maybe you can easily spot what went wrong because I can't seem to figure it out by digging through commit history

[2015-09-08 16:35] nevrending opened #6210 "SegmentationFault on Deployment (Laravel 5.1)"
Hello
Previously I had "asked" about this at SO
http://stackoverflow.com/questions/31958862/how-to-properly-configure-supervisord-for-hhvm

But at that time I'm unable to find out the real culprit.
After some time I was quite sure that the segfault occurred after almost every deployment.

I'm deploying using a simple `shell_exec('cd .. && php artisan down && git pull origin master && php artisan c

[2015-09-08 16:38] fredemmott commented on #6159
There's downsides to that. A direct fix for this is really papering over the problem, this should probably be addressed as part of https://github.com/facebook/hhvm/issues/6165

[2015-09-08 16:57] fredemmott commented on #6208
Sorry, we *need* a self-contained example for this. There is pretty much no chance that:
 - this will be investigated without one
 - any investigation would find the problem you have - we already have fairly imaginative tests for pushing into arrays from loops, and a lot of real code doing the same thing that works fine.

[2015-09-08 17:06] paulbiss commented on #6210
Can you extract backtraces from the core file (`thread apply all bt` in gdb)?

[2015-09-08 17:08] paulbiss commented on #6065
Hmm it doesn't look like either of these functions are conditionally defined. Maybe the extension failed to build entirely, are any of the gmp functions present?

[2015-09-08 17:13] paulbiss commented on #6207
I don't think anyone is currently working on this.

[2015-09-08 17:13] #6207 closed

[2015-09-08 17:15] fredemmott commented on #6065
[code]

[2015-09-08 17:18] fredemmott commented on #6065
Also no gmp functions at all in get_defined_functions()

[2015-09-08 17:19] fredemmott commented on #6065
Closing.

[2015-09-08 17:19] #6065 closed

[2015-09-08 17:39] jwatzman commented on #6187
Did you delete this? I *think* it was working last week but is a 404 now.

[2015-09-08 18:04] r3wt commented on #6208
@SiebelsTim every 10k entries it writes an xml file like `sitemap<num>.xml` i ended up just using array chunk and iterating over each chunk instead. don't have time to investigate it right now.

[2015-09-08 18:05] #6208 closed

[2015-09-08 18:35] wickedsheep commented on #213
Hi, are there any plans on supporting Oracle?

[2015-09-08 18:37] tengyifei commented on #5675
Problem still persists with boost 1.58.0

[2015-09-08 18:50] fredemmott commented on #6208
FYI, there is a bug in your example, which will result in no output if < 10,000 urls, and incomplete output if more:

[code]

[2015-09-08 18:54] uweoswald commented on #6187
no I did nothing. Will create a new git tomorrow. Sorry.

[2015-09-08 19:12] #5735 closed

[2015-09-08 19:23] Orvid commented on #5675
I link against 1.58.0 successfully under MSVC, which means it sounds like a compiler related issue. Which version of GCC are you using?

[2015-09-08 19:24] tengyifei commented on #5675
GCC 5.2.0

[2015-09-08 20:21] fredemmott commented on #213
We have an extension that historically we've not released as we did not support disabling extensions, it's a pain to build, and requires a proprietary .so. We will almost certainly not include this in our packages, but I'll see if we can at least start distributing source.

[2015-09-08 20:42] wickedsheep commented on #213
That would be much appreciated, thank you.

[2015-09-08 20:49] Orvid commented on #5675
I believe HHVM is only currently tested under 4.8 and 4.9, so I suspect the issue is probably because you're compiling with a newer version of GCC...

[2015-09-08 20:51] paulbiss commented on #5675
Yeah, we plan to support GCC 5.2 eventually but haven't gotten there yet

[2015-09-08 20:51] paulbiss commented on #5675
I'm going to close this for now

[2015-09-08 20:51] #5675 closed

[2015-09-08 20:57] akalend commented on #1912
I begining the port AMQP project https://github.com/akalend/hhvm-amqp

[2015-09-08 22:04] fadimko commented on #3692
Up. I run HHVM-3.9.1 as root. Setting `hhvm.server.user = nginx` in php.ini or adding `-vServer.User=nginx` to arguments don't changes user of hhvm process.

May be I misunderstood the meaning of this setting?
@JoelMarcey

[2015-09-08 22:10] fadimko commented on #3692
[code]

[2015-09-08 22:20] Orvid commented on #5675
Perhaps it's worth creating a tag for GCC 5+ issues?

[2015-09-08 22:40] r3wt commented on #3692
Just be wary that you need to chown all the files and edit init.d for hhvm to use a different user. everytime you upgrade hhvm, you will have to repeat process.

[2015-09-08 23:03] wjywbs commented on #6189
Is it due to firewall configuration? Does it still crash using root? php might also have this issue on Mac: https://github.com/aws/aws-sdk-php/issues/737

[2015-09-08 23:12] wjywbs commented on #6187
homebrew's openssl does not have SSLv2 support: https://github.com/Homebrew/homebrew-versions/issues/790#issuecomment-97863807, but somehow these methods are still used. I think it will link after commenting out the lines in https://github.com/facebook/hhvm/blob/baced5aa45d6abef04ff6595c761ab6f8cbc77e0/hphp/runtime/base/ssl-socket.cpp#L482-L490

For the gist link above, https://gist.github.com/76a

[2015-09-08 23:13] jwatzman commented on #5523
OK, there are still a bunch of diffs yet to land, but I think I've implemented everything that's worth implementing here. I'll post again when the diffs are all out so @nikic or anyone else can take a look :)

[2015-09-08 23:18] jwatzman commented on #6058
What do you mean "incorrect failure conditions"?

[2015-09-08 23:32] jwatzman commented on #5757
Going to start working on this. https://wiki.php.net/rfc/abstract_syntax_tree#changes_to_syntax_or_behavior is the relevant bits of the RFC.

[2015-09-09 01:01] nikic commented on #6058
@jwatzman Division by zero should throw DivisionByZeroError (instead of a warning) and division of -1 by PHP_INT_MIN should throw ArithmeticError instead of returning false. I assumed this wasn't done yet as it depends on the Exception/Error splitup, which probably requires some extra work.

[2015-09-09 02:49] Orvid opened #6211 "Eliminating HHI files"
Ideally both hh_client and HHVM can use the same set of declarations, however they currently use separate ones.

What issues currently prevent hh_client from being able to simply use the same declarations HHVM uses?

- [ ] Figure out how to handle the differences in typing between the Hack version of the PHP API, and the HHVM version. Perhaps a `coercedTo(int)` type hint, that's interpreted as `mi

[2015-09-09 02:51] Big-Shark commented on #4464
Works correctly 3.9

[2015-09-09 02:51] #4464 closed

[2015-09-09 04:11] JoelMarcey commented on #6211
@Orvid This is on our radar to do. We need to convert a few more things to HNI first, particularly collections.

[2015-09-09 08:10] Kozzi11 commented on #2854
This issue is back with 3.9 version, can someone reopen this issue?

[2015-09-09 08:17] gwenael opened #6212 ""require" function sees no changes in vfs php file"
Hi everybody,

while running typo3 PHPUnit with hhvm I encountered this issue (among a few others, mostly already documented)
The code below (that you'll have to adapt to set your own vfsStream includes) runs ok with zend.

<pre lang="php"><code>
<?php

function process_require_vfs_file($path,$content)
{
	file_put_contents($path, $content);
	echo "file was last modified: " . date ("F d Y H:i:s.",

[2015-09-09 08:22] simonwelsh commented on #6212
This is the same issue as in #4797

[2015-09-09 14:19] droid-Q opened #6214 "hhvm and apache"
this is my httpd-vhosts.conf:https://gist.github.com/droid-Q/35458fd74c7f695c46a6
my server.ini:https://gist.github.com/droid-Q/2e18dc7cafbe34b0ade0,
I want to apache listing the contents  that has no index.php in the http://localhost/,
Now in the http://locahost/phpMyAdmin/ the index.php is not loaded.
how can i fix it?

[2015-09-09 15:14] JoelMarcey commented on #3692
@fadimko

What happens if you just specify user directly at the command line?

[code]

[2015-09-09 15:30] fadimko commented on #3692
I created directory `/var/run/hhvm`, which is owned by user `nginx` and added `--no-config` to the command line.
[code]

[2015-09-09 15:37] fadimko commented on #3692
Can you reproduce this problem?

[2015-09-09 17:56] jwatzman commented on #5757
Hey @nikic I noticed a discrepancy between what PHP7 does and what the RFC says.

Quoting the RFC:

[code]

My test case:

[code]

Output:

[code]

Is this likely to be fixed in PHP7, or should I make HHVM match the behavior?

[2015-09-09 18:10] paulbiss commented on #6214
This looks like an apache configuration issue not an hhvm problem. I'd suggest asking in #hhvm on Freenode, someone there may be able to help you get your apache config setup.

[2015-09-09 18:10] #6214 closed

[2015-09-09 18:11] #6212 closed

[2015-09-09 18:12] paulbiss commented on #6211
Additionally the types we expose to hh_client and hhvm aren't necessarily the same. Often we intentionally omit return types or enforce particular patterns in Hack that are not required in PHP (e.g. needle/haystack order).

[2015-09-09 20:39] MarkGavalda commented on #6197
We run hundreds of high traffic (millions of hits daily) websites on HHVM and KVM based cloud providers, Linode included, and haven't noticed anything like what you're describing.

[2015-09-09 21:09] JoelMarcey commented on #2854
@Kozzi11 Can you provide a test case showing this?

[2015-09-09 21:12] Kozzi11 commented on #2854
@JoelMarcey you can use that one from OP

[2015-09-09 22:28] jwatzman commented on #6058
Ah yeah, ok. That doesn't look to be part of this RFC -- which RFC was that changed in?

[2015-09-10 01:05] Orvid commented on #6211
Towards this, it also needs to be possible to declare a constant as `<<__Native>>`, to allow it to not have a value. It's possible to declare a constant without a value with hh_client, but not with HHVM.

Currently with HHVM, it's possible to declare the constants in the systemlib, and the value you register them to be at runtime will be what is used.

An example that won't actually compile becaus

[2015-09-10 01:24] nikic commented on #5757
@jwatzman This behavior was adjusted after the RFC as it seemed somewhat unintuitive and people expected doing that to work. Now assignments of that form are special cased to evaluate the RHS first. See http://lxr.php.net/xref/PHP_TRUNK/Zend/zend_compile.c#2565. So yeah, HHVM should implement this as well.

[2015-09-10 01:31] nikic commented on #6058
@jwatzman This did not go through an RFC. A couple of other operator error conditions were also changed:

* Division by zero with `/` now results in Inf/-Inf/NaN (and still a warning). Previously it returned false.
* Modulo by zero with `%` now throws a `DivisionByZeroError`. Previously it threw a warning and returned false.
* Bitshifts by negative numbers now throw an `ArithmeticError`. This was

[2015-09-10 01:32] Orvid opened #6215 "Destroying uninitialized data with an HNI constructor for a NativeData"
Attempting to call an HNI constructor for a NativeData object, with invalid parameter types, results in attempting to destroy the NativeData object before it's been initialized.

If we take the following Native Data structure:
[code]
And we have its constructor defined an registered as:
[code]
And declared in the system library as:
[code]

Attempting to call it like this:
[code]

Results in a call

[2015-09-10 02:42] Orvid commented on #2854
This is actually a more general problem with NativeData as a whole. Currently, most NativeData calls `sweep` in it's destructor, however, when a NativeData value is freed, it only calls the sweep function, which ends up not destroying any of the references that the NativeData may have acquired.

[code]

Because of the way NativeData is freed, the reference contained by `obj` doesn't get released u

[2015-09-10 05:00] rusek2 commented on #3340
Hello,

I can confirm, after a while with HHVM 3.9.1 exex() is failing. Restarting HHVM is resolving this situation.

[2015-09-10 05:58] nevrending commented on #6210
@paulbiss Sorry I've never used gdb before. Can you please give some pointers as of how/where I can learn to do that?

[2015-09-10 07:21] nevrending commented on #6210
@paulbiss

    (gdb) thread apply all bt

    Thread 4 (Thread 0x7fc737fff700 (LWP 30417)):
    #0  0x00007fc748866b13 in epoll_wait () at ../sysdeps/unix/syscall-template.S:81
    #1  0x00007fc74af1c813 in ?? () from /usr/lib/x86_64-linux-gnu/libevent-2.0.so.5
    #2  0x00007fc74af08907 in event_base_loop () from /usr/lib/x86_64-linux-gnu/libevent-2.0.so.5
    #3  0x00000000025b5056 in folly::Eve

[2015-09-10 07:24] AdeFlit commented on #6197
So you've migrated your Linodes to KVM? The issue doesn't manifest on any other KVM provider. I can build an identical server image on two other hosts and not experience this problem.

[2015-09-10 07:47] MarkGavalda commented on #6197
Yes we migrated almost all of our VMs to KVM. Does the issue persist after starting HHVM? I mean if you keep it running for 15+ minutes so it has time to warm up?

[2015-09-10 08:17] SiebelsTim commented on #6058
Here is a not working start of Throwable implementation:
https://gist.github.com/SiebelsTim/71685ba69a452258d435

I tried to take the Exception implementation into a trait. However that results in errors, because the runtime expects `$previous` to be readable rather than calling `getPrevious()` (and probably more).

That approach might be completely unusable, but maybe it helps setting up class hi

[2015-09-10 11:24] nevrending commented on #6210
@paulbiss I've managed to extract the backtraces

    Program received signal SIGSEGV, Segmentation fault.
    [Switching to Thread 0x7fffd5fff700 (LWP 16113)]
    0x0000000001002764 in HPHP::InstanceBits::lookup(HPHP::StringData const*) ()
    (gdb) thread apply all bt

    Thread 6 (Thread 0x7fffd5fff700 (LWP 16113)):
    #0  0x0000000001002764 in HPHP::InstanceBits::lookup(HPHP::StringData cons

[2015-09-10 13:29] adams-david commented on #4975
If you follow the simple instructions at https://www.rosehosting.com/blog/how-to-install-phpmyadmin-with-hhvm-nginx-and-mariadb-on-an-ubuntu-14-04-vps/ , like I did, you should be able to install and use phpMyAdmin with HHVM, Nginx and MariaDB in no time.

[2015-09-10 14:09] afritsch commented on #4975
Sadly that guide is mostly useless since my server runs Arch Linux. Yet I compared it with my config files and I did not find anything out of order (only that my stack is interconnected via sockets, not tcp).
I am still getting a blank page after all this time with up to date components. Funnily, when viewing the page source of the blank page, there is a lot while being blank.
I've been using admi

[2015-09-10 14:12] bauerj commented on #4975
What is "a lot"? A lot of whitespaces? A lot of HTML? A lot of error messages? Can you post what you're seeing there?

[2015-09-10 14:18] afritsch commented on #4975
Sorry, that statement was unprecise. take a look, the source of the blank page: http://pastebin.com/yYvfyx4W
I have no idea why the result is blank.

[2015-09-10 14:32] adams-david commented on #4975
Edit your config.inc.php file and add the following line:

$cfg['Servers'][$i]['port'] = '3306';

[2015-09-10 14:59] bauerj commented on #4975
You can also try to run index.php from CLI:

    hhvm index.php

Maybe that will show an error.

[2015-09-10 15:18] afritsch commented on #4975
that file does not exist there (maybe ubuntu has an outdated phpmyadmin?) and I am not sure if I can add something in the file i found below. A future update would break it anyway again (overwrite).
[code]
Also, how should adding a port help for a socket connection?
I disabled tcp/ip in my.cnf ("skip-networking").
Also, my phpmyadmin config look like this:
/etc/webapps/phpmyadmin/config.inc.php:
[

[2015-09-10 15:21] bauerj commented on #4975
Oh - so the error occurs after you log in?

[2015-09-10 15:22] afritsch commented on #4975
Indeed, this is what the issue title says ;-)

[2015-09-10 15:37] bauerj commented on #4975
Okay, now I see it :smile:

I suspect the error has something to do with sockets.

When HHVM encounters an error, it doesn't show it to the browser but instead send a blank 500 response. I think that's what's hapenning here.

If phpmyadmin works with PHP5, it's clearly a bug in HHVM and should be solved. To debug this, more information is needed, like the original error message.

There are a few m

[2015-09-10 15:54] yan12125 opened #6218 "hhvm segmentation fault, possibly related to jemalloc"
I've compiled a debug build against commit ee805d9d90839a93f3ade17aabd56437b1994eed using the build script at http://aur.archlinux.org/packages/hhvm-git/. I get a segmentation fault for every run of ./hhvm:
[code]
With a brief debugging via gdb, I found the problem is here:
[code]
A few more steps lead me to here:
[code]
IP is suspicious here. Here's the dump of ```_dl_runtime_resolve```:
[code]
A

[2015-09-10 16:49] bratao commented on #6066
I reinstalled the server, but the error continues.

One more information, is this assertion before the crash:

Assertion failure: /tmp/tmp.ep7bRM4JTk/hphp/parser/scanner.cpp:141: void HPHP::Scanner::computeMd5(): assertion `length != -1 && length <= std::numeric_limits<int32_t>::max()' failed.

[2015-09-10 17:33] jwatzman commented on #5757
Cool, will do, thanks.

[2015-09-10 17:55] deeky666 commented on #4003
@JoelMarcey I created a simple test case repository here: https://github.com/deeky666/hhvm-pdo-mysql-errorinfo

Also you can see it failing on [Travis](https://travis-ci.org/deeky666/hhvm-pdo-mysql-errorinfo)

If you need further information, just poke me. Thanks!

[2015-09-10 20:25] etcinit commented on #4444
Awesome :+1:

[2015-09-10 21:30] sandeepone commented on #6197
We've moved all our Linodes to KVM and see performance improved. I think your issue might be with the WP script or plugin.

[2015-09-10 23:49] Orvid commented on #6209
I've opened #6221 to add this.

[2015-09-11 02:00] JesseXie opened #6225 "HH\Asio\curl_exec deadlock?"
hi There
  I just try to use async support in  hhvm 3.9.1. The code is straight forward. I create 30 curl request and let HH\Asio\curl_exec to handle the multi-curl for me.
  write a bash script to run this code 500 time, but normally it will hung in 10th time. Anything wrong with this code?
os version
[code]
<?hh
function main(){
        echo "Verification begins... \n";
        run_tests()->join

[2015-09-11 02:33] JoelMarcey commented on #2854
cc @edwinsmith

[2015-09-11 06:22] paulbiss commented on #6210
@nevrending interesting, thanks. I'll see if I can figure out what's going on here

[2015-09-11 06:29] paulbiss commented on #6215
You should be initializing zcert to nullptr in the constructor for the native-data (struct ZMQCert). The native-data C++ constructor is called unconditionally before the PHP __construct is called and should leave the native-data in a consistent state that's safe to destruct from.

[2015-09-11 06:35] paulbiss commented on #2854
@Orvid: SimpleXML isn't using native-data. It's built on the old IDL system and it exists as an ObjectData subclass.

Native data will call it's destructor when it's associated object is freed, if this isn't happening that's definitely a bug. That being said-- if the object is live at the end of the request then sweep() is called but not the destructor. This is very intentional as request-heap all

[2015-09-11 08:28] ThauEx opened #6227 "r dump"

[2015-09-11 08:28] #6227 closed

[2015-09-11 09:47] vikasbatra opened #6228 "hhvm make error on linuxmint-17.2-cinnamon-64bit"
../hhbbc/libhphp_hhbbc.a(type-system.cpp.o):type-system.cpp:function HPHP::HHBBC::make_repo_type(HPHP::ArrayTypeTable::Builder&, HPHP::HHBBC::Type const&): error: undefined reference to 'HPHP::ArrayTypeTable::Builder::packed(HPHP::RepoAuthType::Array::Empty, std::vector<HPHP::RepoAuthType, std::allocator<HPHP::RepoAuthType> > const&)'
../hhbbc/libhphp_hhbbc.a(type-system.cpp.o):type-system.cpp:fun

[2015-09-11 14:21] edwinsmith commented on #2854
See my final comment on https://reviews.facebook.net/D46479. pretty sure it's a stray sxe->incRefCount() causing the leak.

[2015-09-11 16:38] fredemmott commented on #6225
We expect anything depending on internet access to intermittently fail depending on your network and ISP, especially if hitting a site that tries to detect and deter automation.

Just to check: your verify_web() function is meant to be unused here?

As a side note, you should stop running with '-vHack.Lang.LookForTypechecker=0'. It is not the cause of this issue, but your code is not valid hack:

[2015-09-11 17:00] theodorejb opened #6229 "Argument unpacking fails to pass values by reference"
When I run the below code, I get the following warnings:

See https://3v4l.org/mZUPI. The code works perfectly in PHP 5.6 and PHP 7.

[code]

[2015-09-11 18:29] theodorejb commented on #3888
This still results in a fatal error:

See https://3v4l.org/1qOVG.

[2015-09-11 18:32] SKovbel opened #6230 "HHVM build failing on Fedora22"
[  1%] Built target timelib
[  1%] Built target double-conversion
[  7%] Built target folly
[  8%] Built target wangle
[ 13%] Built target hphp_proxygen
[ 16%] Built target hphp_thrift
[ 16%] Built target afdt
[ 16%] Built target eaw_table
[ 22%] Built target mbfl
[ 23%] Built target re2
[ 24%] Built target webscalesqlclient
[ 25%] Built target squangle
[ 33%] Built target mcrouter
[ 33%] Built ta

[2015-09-11 18:54] SKovbel commented on #6230
Fixed 3 similar errors as making symlink for 3 files

ln -s third-party/webscalesqlclient/webscalesql-5.6/libmysql/libwebscalesqlclient_r.a third-party/webscalesqlclient/src/libmysql/libwebscalesqlclient_r.a
ln -s third-party/webscalesqlclient/webscalesql-5.6/extra/yassl/libyassl.a third-party/webscalesqlclient/src/extra/yassl/libyassl.a
ln -s third-party/webscalesqlclient/webscalesql-5.6/extra/ya

[2015-09-11 19:26] shadowhand opened #6231 "Calling mysqli_get_charset results in error"
Which makes it impossible to determine what the current character set in use by MySQL is.

cc @dolfelt

[2015-09-11 19:38] shadowhand opened #6232 "Calling mysqli_set_charset appears to do nothing"
Calling `mysqli_set_charset` appears to have no effect on the connection. A complete test script and results can be found below.

[code]

Refs #6231

cc @dolfelt

[2015-09-11 19:41] JesseXie commented on #6225
I used my localhost, the same result come out. But no matter what www.google.com or my isp does. It should be hung in there forever.
let me modify the code to pass the hh_client. Can you give more inside to help us understand what need to be changed to fix?
Also I found if I run it in 14.04 TLS, it will pass. Does hhvm depend on some version of pthread?

[code]

[2015-09-11 19:46] fredemmott commented on #6225
Can you get a backtrace from when it's hanging? from gdb: 'thread apply all bt'.

[2015-09-11 20:01] shadowhand commented on #6232
Here's a complete test script:

[code]

When I execute this with `hhvm test.php` I get:

[code]

I expect to get the same value that I used for `mysqli_set_charset` but did not.

[2015-09-11 20:04] JesseXie commented on #6225
here is what I got. Thanks!
[code]

[2015-09-11 20:05] fredemmott commented on #6225
Just a single thread?

[2015-09-11 20:06] JesseXie commented on #6225
yes. just a single thread

[2015-09-11 20:19] #6230 closed

[2015-09-11 20:19] fredemmott commented on #6225
Do you still have this situation if you pass a handle to HH\Asio\curl_exec() instead, and set CURLOPT_TIMEOUT on that handle first?

[2015-09-11 20:20] paulbiss commented on #6229
No one has had a chance to work on variadic support for references (c.f. https://github.com/facebook/hhvm/issues/3888)

[2015-09-11 21:10] rowillia opened #6233 "Passing an array to a function resets the current pointer in Zend, not in HHVM"
[code]

This test passes on Zend but fails on HHVM.

PHP 5.6.13-1+deb.sury.org~trusty+3 (cli)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies
    with Xdebug v2.3.2, Copyright (c) 2002-2015, by Derick Rethans

[2015-09-11 21:11] jwatzman commented on #6233
Pretty sure this is a known inconsistency with array pointers we aren't going to fix? https://github.com/facebook/hhvm/blob/master/hphp/doc/inconsistencies

[2015-09-11 21:24] paulbiss commented on #6233
Yeah, that's basically what the inconsistency is about. The array is passed by value so it's technically a copy even though we use COW. I don't think we're going to fix this one unless there's a pretty compelling reason to.

[2015-09-11 22:48] JesseXie commented on #6225
yes, My original code is set the timeout in this way
[code]

[2015-09-12 00:12] #6209 closed

[2015-09-12 08:42] SiebelsTim commented on #6232
You use `mysql_set_charset(connection, charset)`, however it is supposed to be `mysql_set_charset(charset, connection)`

[2015-09-12 08:48] SiebelsTim commented on #6231
https://github.com/facebook/hhvm/blob/4498e2b25bc17ace502b4c86c551dbab25f284bf/hphp/runtime/ext/mysql/ext_mysqli.php#L1724

The return type is supposed to be `mixed`, as `mysqli::get_charset()` is mixed as well.

[2015-09-12 12:29] RNELord opened #6235 "Raw sockets using AF_INET/6 don't allow lack of port for ICMP protocol"
This is a PHP5 incompatibility.

When using raw sockets with ICMP, HHVM requires a port which results in a write failure, whereas PHP5 accepts a null value.

Example code:
[code]

Example run in Zend engine:
[code]

Example run in HHVM:
[code]

[2015-09-12 17:56] AdeFlit commented on #6197
Mark: Yes, it persists.

Sandeep: there is no problem on a Linode Xen or DigitalOcean KVM. There is no problem with PHP5 on any platform. The issue isn't with our code per se. But something unique to HHVM (and our code) is triggering what looks like kernel scheduling issues on Linode's KVM environment.

I'd really appreciate it if one of the team could look at the perf reports.

[2015-09-12 18:45] steelbrain commented on #5827
Bump. I really dislike doing `MongoId::equal($a, $b)`. I often write `$a === $b` and then spend hours debugging it.

[2015-09-12 18:50] steelbrain commented on #5827
@nikic one benefit of using static is that you can choose either way. This is Hack not PHP so you can enforce types or you can ignore them. The choice is yours, per class.

[2015-09-13 06:35] lstrojny commented on #5549
@Orvid no good real world usecase I would know about but I use it as a hack to express a special purpose argument here: https://github.com/lstrojny/functional-php/blob/master/src/Functional/PartialAny.php#L53

[2015-09-13 09:41] uweoswald commented on #6187
Does not seem to work. Test 1 with brew commands

 🍺  mbuweoswald(~/Downloads/hhvm) $ brew remove openssl
Uninstalling /usr/local/Cellar/openssl/1.0.2d_1... (464 files, 23M)
openssl 1.0.1i, 1.0.1j, 1.0.2a-1 are still installed.
Remove them all with `brew uninstall --force openssl`.
 🍺  mbuweoswald(~/Downloads/hhvm) $ brew remove openssl
Error: openssl has multiple installed versions
Use `brew unin

[2015-09-13 11:17] uweoswald commented on #6187
If I try to install by hand I receive a new error. I have commented out the lines you have mentioned in your post

[ 75%] Linking CXX static library libhphp_runtime_ext.a
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ranlib: file: libhphp_runtime_ext.a(gd_arc_f_buggy.cpp.o) has no symbols
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xc

[2015-09-13 11:26] SiebelsTim commented on #6232
I can't reproduce this. I have the same hhvm version.

[code]

Can you give more information on your operating system and mysql version?
[code]
On Ubuntu 14.04

[2015-09-13 20:26] awuersch commented on #2990
no, I don't think there is anymore.

[2015-09-13 20:57] ebernhardson opened #6236 "curl_errno() always returns 0 with HH\Asio\curl_exec"
When switching from curl_exec to HH\Asio\curl_exec the error handling properties change.  curl_exec return false on failure and reports errors through curl_errno(). HH\Asio\curl_exec returns the empty string on failure and does not appear to offer up error codes in any way.  The codes are available within HH\Asio\curl_exec while it has access to the multi handle, through curl_multi_info_read, but

[2015-09-13 21:37] #2990 closed

[2015-09-14 01:39] netroby opened #6244 "Build hhvm failed on fedora 22 as your guide told me"
Linking CXX static library libhphp_runtime.a
[ 99%] Built target hphp_runtime_static
Scanning dependencies of target hhvm
[ 99%] [ 99%] [100%] Building CXX object hphp/hhvm/CMakeFiles/hhvm.dir/main.cpp.o
Building CXX object hphp/hhvm/CMakeFiles/hhvm.dir/global-variables.cpp.o
Building CXX object hphp/hhvm/CMakeFiles/hhvm.dir/process-init.cpp.o
Linking CXX executable hhvm
/usr/bin/ld.gold: error: c

[2015-09-14 01:41] netroby commented on #6244
libatomic must be installed
[code]

[2015-09-14 01:42] netroby commented on #6244
At last , i success build hhvm

[code]

[2015-09-14 04:05] shadowhand commented on #6232
@swettk can you provide some additional details about the MySQL server and HHVM package?

[2015-09-14 05:32] paulbiss commented on #6244
The guide may be out of date, building on fedora isn't officially supported. If you've found a fix please update the wiki. Should we close this or are you still having issues?

[2015-09-14 08:28] SiebelsTim commented on #6232
[code]
[code]

[2015-09-14 09:43] alex-mashin commented on #5153
It looks like this is nginx's problem not HHVM's. The same happens when apache works behind nginx and serves compressed pages. See http://habrahabr.ru/post/180019/, first part, for details.

[2015-09-14 11:32] #6244 closed

[2015-09-14 14:18] bratao commented on #6210
Just to confirm that I also have this problem. hhvm crash every time I deploy Laravel 5.1. My system is a standard Debian 8 with nginx + hhvm.

[2015-09-14 14:52] shadowhand commented on #6232
For what it is worth, I cannot reproduce this when connecting to a single-node server either locally or over TCP. The is a working mysql:

[code]

This is the mysql that is not working:

[code]

[2015-09-14 14:52] shadowhand commented on #6232
We're updating the non-working box to see if mysql upgrade fixes it.

[2015-09-14 16:15] JusticeRage opened #6245 "Compatibility issue with phpBB3.1"
Hello,

While preparing a migration to HHVM, I have noticed a problem where some template variables were not correctly expanded.

[Here](https://test.kwiatkowski.fr/phpBB3/viewtopic.php?f=2&p=1#p1) is a stock installation of the latest release of phpBB 3.1 I created to reproduce this bug. I'm running [HHVM 3.9.1](https://test.kwiatkowski.fr/test.php) on Debian 7.

As you can see, the quote box and

[2015-09-14 16:16] klaussilveira opened #6246 "Inspecting generics and type-casting to T"
Coming from the C# world, it's hard to understand some differences in the behavior of generics in Hack. Consider the following C# snippet:
[code]

A similar implementation in Hack would be:
[code]

However, Hack does not support any kind of inspection on `T`. Functions like `gettype` and `get_class` assume `T` is a constant and `T::class` doesn't work because "Generics can only be used in type hin

[2015-09-14 16:29] fredemmott commented on #6246
`classname<T>` is what you need  - the type information needs to be passed as an actual argument, rather than generics.

eg

[code]

Call like:

[code]

As a side note, `this` is probably not the right type to use for a parameter - it's equivalent to 'self', and does not guarantee that the parameter actually is '$this', just that it's of the same type. Using 'this' as a parametter typehint gives a

[2015-09-14 16:36] #6233 closed

[2015-09-14 16:42] fredemmott commented on #6246
Complete example instead of just addressing the questions:

[code]

Also, `Container` is a reserved classname in Hack, as hh_client mentions

[2015-09-14 16:56] #6246 closed

[2015-09-14 16:57] fredemmott commented on #6245
Given how many issues there are that don't require installing an application and isolating a failure, it's unlikely that we'll look at this. If you could reduce the problem to a small PHP file with no dependencies, it's much more likely that this will be fixed soon.

[2015-09-14 17:50] jwatzman commented on #6036
https://github.com/facebook/hhvm/commit/322dd29f8cdbc443459791d8dd2ef9c772c96376 (forgot to mark that commit as closing this)

[2015-09-14 17:53] alexchow commented on #6036
There's still `die` that we don't deal well with. Should we reopen this? Or a new issue?

[2015-09-14 17:58] jwatzman commented on #6058
@nikic thanks for the info, going to file a separate issue for that.
@SiebelsTim did you mean to post that on https://github.com/facebook/hhvm/issues/6037?

[2015-09-14 17:58] #6058 closed

[2015-09-14 18:03] jwatzman opened #6248 "PHP7 integer division/mod changes"
No RFC for this one, but per @nikic:

- Division of -1 by PHP_INT_MIN should throw ArithmeticError instead of returning false.
- Division by zero with / now results in Inf/-Inf/NaN (and still a warning). Previously it returned false.
- Modulo by zero with % now throws a DivisionByZeroError. Previously it threw a warning and returned false.
- Bitshifts by negative numbers now throw an ArithmeticErr

[2015-09-14 18:23] jwatzman commented on #6036
Oops, yeah let's reopen this

[2015-09-14 18:24] jwatzman commented on #6036
@alexchow were you planning on coming back to `die`?

[2015-09-14 18:37] alexchow commented on #6036
Yup! hopefully later this week.

[2015-09-14 18:52] SiebelsTim commented on #6058
@jwatzman It would've fit there as well. But I posted it here, because nikic mentioned the error cases which need the Throwable rework.

[2015-09-14 19:13] mibintc opened #6249 "hhvm won't link with Intel compiler because difference with gcc/icc inlining"
In compiling hhvm with the Intel compiler, we find that due to a difference in inlining strategy, there's an undefined symbol with the Intel compilation which doesn't occur with gcc compilation.

A small difference in the function declaration will work around the problem.

Suggested modification to file native.h:
Current:
template<bool usesDoubles, bool variadic>
void callFunc(const Func* func, vo

[2015-09-14 19:35] JoelMarcey commented on #6249
@mibintc Is this something you could submit a pull request for? Thanks.

[2015-09-14 19:37] fredemmott commented on #3637
As Parse doesn't use DateTimeZone directly, here's another repro that mathces what parse does:

[code]

[2015-09-14 19:42] fredemmott commented on #3637
Filed against Parse as well as there's an easy workaround, and they don't have a multi-month release cycle.

[2015-09-14 19:43] landaire opened #6251 "HHVM does not copy a trait's static state to using class"
Pardon the poor title but this is kind of difficult to explain in a quick one-liner. In the process of abusing traits I discovered that in all versions of PHP 5.4.0+ classes will have the static state of a trait copied to them (whatever the state may be when the class is loaded), but will not in HHVM.

For example: in your code if you first define a trait `Foo` which contains a static method to se

[2015-09-14 20:38] kaustavha opened #6252 "CLI doesnt work on Debian jessie 8.1"
The command line option -v works, others dont.
<img width="511" alt="screen shot 2015-09-14 at 1 35 48 pm" src="https://cloud.githubusercontent.com/assets/3248143/9861210/c77d459e-5ae5-11e5-95ce-49b2e66d94f1.png">

[2015-09-14 20:40] paulbiss commented on #6252
I'm fairly certain there are a bunch of PHP-CLI options that were never implemented. You can see the ones we support here: https://github.com/facebook/hhvm/blob/master/hphp/runtime/base/emulate-zend.cpp#L64

[2015-09-14 20:42] paulbiss commented on #6251
https://github.com/facebook/hhvm/issues/3826

[2015-09-14 20:42] #6251 closed

[2015-09-14 20:45] integrii commented on #2154
I am still getting this error with HHVM 3.8.  Issue #1647 says this was fixed.  I am simply trying to send apple push notifications with hhvm.
[code]

[2015-09-14 20:45] paulbiss commented on #6249
Explicitly instantiating the template is probably a better solution than declaring it noinline. We don't officially support icc but since this is really a correctness issue we'd definitely take a PR if it doesn't make too much of a mess.

[2015-09-14 20:47] paulbiss commented on #2154
@integrii you mentioned HHVM 3.8 but the paste shows 3.9 (also note that the most current release is 3.9.1). This issue is about a missing feature which has since been implemented. Please open a new issue with more detail about the error you're seeing.

[2015-09-14 21:06] Orvid commented on #5499
What's the current progress of this?

[2015-09-14 21:08] Orvid commented on #6215
So, the answer is that I am simply too used to default-initialized languages -_-... Huzzah?

[2015-09-14 21:08] #6215 closed

[2015-09-14 21:09] JoelMarcey commented on #5499
We have internal diff for this:  D2438952. It is in review.

cc: @ricklavoie

[2015-09-14 21:44] Orvid opened #6253 "HPHP::scan recursive on all control paths"
Since these were introduced, MSVC has been complaining about:
[code]
And, after checking the binary it generates, it really is recursive on all control paths. The question is, is this just MSVC failing to resolve an overload somewhere, or is this an actual issue? GCC/Clang don't have a similar warning to even check for this.

[2015-09-14 21:49] integrii commented on #2154
Thanks @paulbiss. I actually just got this working.  My startup script was starting an old HHVM binary even though I had deployed the new patched one.

[2015-09-14 22:01] paulbiss commented on #6253
cc @edwinsmith

[2015-09-14 22:11] fredemmott commented on #1627
Amazon's S3 PHP SDK depends on yield behavior that HHVM does not support.

[2015-09-14 22:15] Orvid commented on #1627
As a note, PHP7 does bring support for the non-parenthesized version, https://3v4l.org/pRDr9

[2015-09-14 22:46] jwatzman commented on #6187
Can you please include the *full* output from `brew install --verbose hhvm` and/or `brew gist-log hhvm`, with an *unedited* source tree and brew formula? I still don't have a full log of what's going on -- everything you've posted so far is missing key pieces :(

[2015-09-14 22:57] jwatzman commented on #6189
Agree with @wjywbs that this does look to be an Apple bug to me.

[2015-09-15 00:10] JoelMarcey commented on #4003
I am looking at this right now and will see if I can come up with a diff tonight or tomorrow.

[2015-09-15 12:21] fhntv24 opened #6255 "htmlspecialchars doesn't support windows 1251"
When using htmlspecialchars with windows-1251 encoding i'm getting "Fatal error: windows-1251 is not implemented yet." error.

Win1251 used by default ( for some reason in my DLE configs ... ) in DLE. Also PHP doesn't give this error.

Using latest stable HHVM for Ubuntu 14.04 LTS

[2015-09-15 14:04] mibintc commented on #6249
At Intel I'm not currently enabled to 'submit a pull request' and it would involve jumping through some hoops. Would you be able to make the update?

[2015-09-15 15:25] jpruiz114 commented on #5460
Are we gonna have this option any soon?

[2015-09-15 15:53] karpa13a commented on #6255
htmlentities affect this error too(
#943

[2015-09-15 16:39] JoelMarcey commented on #4003
Internal diff D2443664

[2015-09-15 17:04] shadowhand commented on #6232
A followup on this... before attempting to upgrade, we decided to try running PDO instead of MySQLi, but the exact same symptoms appear: selecting any data with ASCII extended characters ends up coming back as ISO-8859-1 instead of UTF-8. This happens despite the fact that we worked around setting the character set and have confirmed that the entire connection is using `utf8`:

[code]

[2015-09-15 19:55] paulbiss commented on #5460
You can check with @Orvid on how the port is going. I'd stress that it's not officially supported, but we are hoping to have some CI testing for it once it's ready.

[2015-09-15 19:56] paulbiss commented on #6249
I can see about fixing it, but I have no way to test it. In the long term if you want to get us building with icc you're probably best off jumping through those hoops since you'll likely need to make more changes and we won't be able to do all of them.

[2015-09-15 20:57] Orvid commented on #6255
I'll look into this later today.

[2015-09-15 22:55] MartinAmps commented on #6145
We're hitting this issue too,

# hhvm --version
HipHop VM 3.8.0-dev (rel)
Compiler: heads/master-0-g2463825071ec41d91400238244b5ed82a30f02b4
Repo schema: 7f6a154592bc9f65a969e7c2ecf8f8cc10961924

HHVM invoked by:
 hhvm --config /etc/hhvm/php.ini --config /etc/hhvm/server.ini --user www-data --mode server -vPidFile=/var/run/hhvm/pid_9010 -p 9010 -d hhvm.admin_server.port=9011

# cat /etc/hhvm/php.i

[2015-09-15 23:08] ck-on commented on #6145
@MartinAmps interesting you are seeing it back with 3.8 too

So apparently they broke something with that ini setting at some point this year and very few people have even noticed.

[2015-09-15 23:16] Orvid commented on #5460
I'm working on getting the rest of the dependencies setup for GD, mcrypt, and memcached, but I do have a build of HHVM compiling under MSVC with most of the extensions enabled, working in interpreter mode for the most part. `stream_socket_select` is known to be non-functional for file descriptors, but I don't (at the moment) know of any other PHP functions that are currently broken.

The single bi

[2015-09-15 23:25] Orvid commented on #6249
As long as I don't need to recompile the external dependencies, I can test from windows (via a student license), assuming the ICC installer doesn't get too grumpy about the current state of my system.

[2015-09-16 00:10] MartinAmps commented on #6145
@ck-on indeed. Have you managed to create a repro? I'm going to have a shot at that tonight, I fear maybe it happens when using a certain \DateTime function which may make it hard to track down.

[2015-09-16 04:18] tomzx opened #6259 "Enabling xdebug + remote_enable disables the aggro type checks"
I have two machines using the exact same build (3.9.1), one that would give me

[code]

while the other would work just fine.

After debugging for a while, I figured out that having the following in my `/etc/hhvm/php.ini` was causing the difference in behavior.

[code]

Is this expected behavior? Should there not be some sort of warning/notice to inform the develop that type checking is disabled?

[2015-09-16 04:28] Eagle-X commented on #5399
Mark

[2015-09-16 05:12] #4003 closed

[2015-09-16 06:31] deeky666 commented on #4003
@JoelMarcey awesome, thx.

[2015-09-16 06:34] jbruni commented on #4003
:+1:

[2015-09-16 09:44] tslettebo opened #6260 "How to handle per-file constants?"
In our systems, we have various configuration settings per file, using constants, like this:
[code]

This used not to be a problem, as the typechecker only seemed to check for duplicate definitions when using "const" or single quotes for define() constants.

However, in the latest nightly build of HHVM, it appears that now it also complains about duplicate definition of "USE_CACHE", if the above c

[2015-09-16 14:01] shadowhand commented on #6232
Okay, we upgraded our database servers to latest version but are still experiencing the same bug. The new mysql version is:

[code]

It seems quite possible that the issue is because our production machines are percona cluster, not a single MySQL server. This issue does not appear when connecting to a single DB server, only when using the cluster.

[2015-09-16 14:15] shadowhand commented on #6232
Actually it appears the issue is not percona cluster itself, but using clustering with [maxscale](https://mariadb.com/products/mariadb-maxscale) that causes the issue. When we disable maxscale and connect directly to the cluster, everything works normally.

[2015-09-16 14:15] edelsohn opened #6262 "Port HHVM to Linux on s390x (IBM z Systems)"
HHVM currently does not support IBM z Systems (64 bit "s390x" architecture).  This is a meta issue for s390x support.  Sponsorship and access to community development systems are available.

[2015-09-16 14:28] zeroedin-bill commented on #4003
:clap:

[2015-09-16 14:42] #5499 closed

[2015-09-16 14:48] steelbrain commented on #5499
:tada:

[2015-09-16 16:32] tudor2004 opened #6263 "Http Headers set within SoapClient are not interpreted"
It seems that http headers set into the stream_context value of the SoapClient $options are not interpreted and send to the remote server. Below are two examples that can be used as test:
[code]

[code]

Using `sudo tcpdump -A -n -s 2024  dst port 80` listen to all outgoing requests. Under PHP the headers all visible and sent, under hhvm the headers are not sent. Currently testing under HHVM 3.9.1

[2015-09-16 17:49] JoelMarcey commented on #6260
cc @int3 @dlreeves

Assuming I understand you correctly, can you put all of your possibly duplicate `define`s in their own file and then `require` that file in your code?

[2015-09-16 17:54] JoelMarcey commented on #6259
I wouldn't expect xdebug to force that fatal? So in a simple code snippet like:

[code]

you are getting an **HHVM** error when you have those ini settings enabled?

Can you post the code causing the problem and the ini settings on both machines you are using?

cc: @jwatzman

[2015-09-16 18:04] JoelMarcey commented on #6145
Hmmm... @MartinAmps @ck-on Are you finding this happening on simple code snippets at all? Were you successful in coming up with a repro of this.

Our client unit tests that use the `date.timezone` ini setting are passing. So I am wondering if this is a server side problem.

[2015-09-16 18:12] ck-on commented on #6145
@JoelMarcey it's happening on a live "production" server right now, unfortunately whatever code is triggering the change/leak/break is happening so fast I cannot hunt it down.

But here's the thing, absolutely nothing should be able to change the master value for `date.timezone` (ie. via `ini_set`) for all of hhvm, only the local value for that currently running php code, no?

So, something is def

[2015-09-16 18:13] MartinAmps commented on #6145
I'm not surprised the tests pass, my CLI works fine too and the fcgi server does most of the time.. I just set `hhvm.log.header = true` hopefully I can correlate the warnings to the access logs and find the  endpoint to narrow down my search.

[2015-09-16 18:19] ck-on commented on #6145
Right now on the server

hhvm
[code]

php
[code]

(and they both have `date.timezone` set to America/New_York in .ini)

Something, somehow, is resetting the value in HHVM, because for a few moments after startup I can see it does set to `America/New_York`

[2015-09-16 18:29] ck-on commented on #6145
For what it is worth, this is on a fully updated CentOS 7.1 server, not sure if any part of hhvm relies on the OS timezone data, I doubt it does.

(and we set TZ just in case but that doesn't change anything)

Maybe hhvm suddenly cannot find/access the timezone data for some reason and decides all declared timezones are invalid and defaults back to UTC

[2015-09-16 18:39] MartinAmps commented on #6145
I'm on a fully updated Debian Jessie server. I found some endpoints by correlating access logs / error logs and unfortunately the error is not reproducible by just hitting them again. So, I suspect it isn't code related.

[2015-09-16 18:44] shadowhand commented on #6232
We can reliably reproduce the issue when using maxscale with both php-fpm and hhvm, so this does not appear to be specific to HHVM. However, we are unable to produce it with Ruby connecting to maxscale, so it seems to be something specific to PHP.

[2015-09-16 19:13] tomzx commented on #6259
As the title says, when xdebug is enabled I do not get type checking errors since it appears to be disabled. However, if I remove xdebug, then I get a fatal due to type checking.

[2015-09-16 19:46] blueprintmrk commented on #5258
I hope this is helpful
https://wordpress.org/support/topic/hhvm-compatibilty?replies=12#post-7435396
Anyway, here is the workaround: in file
wp-all-import-pro/classes/chunk.php
in 2 places, make changes like this:

$path = $this->file;
// $path = 'php://filter/read=preprocessxml/resource=' . $this->file;
and in essence, completely avoid PHP Filter that is not compatible with HHVM. So far, I have n

[2015-09-16 20:05] wjywbs opened #6264 "Region-level guard relaxation causes crash in RegionDesc::sortBlocks()"
On Mac, the following 13 tests fail with 1e43a54ebaa8f966c6ee9e1d918e6d052673f911 that removes unreachable blocks from m_data in `RegionDesc::sortBlocks()`. These tests pass with `-vEval.RegionRelaxGuards=false`.

[code]

[code]
cc @jwatzman

[2015-09-16 20:20] jwatzman commented on #6264
Interestingly, I'm unable to repro this on my own Mac Pro.

@wjywbs if you could do a debug build and get line numbers, that would be awesome.
@ottoni @swtaarrs (author/reviewer of blamerev), anything jump out at you here, what debug info would be useful?

[2015-09-16 20:48] jwatzman commented on #6259
This is pretty weird, I'll take a look when I get a chance. However, you really should be invoking `hh_client` yourself to get better and faster type errors.

[2015-09-16 21:20] rowillia commented on #1627
@fredemmott Which parts of yield behavior does HHVM not support?  Once https://github.com/facebook/hhvm/commit/48f0982c35a4ff7ef29088ae62edb62a9974e9d7 and https://github.com/facebook/hhvm/pull/4915 hit we should have all of the behavior we need.  If parsing works then HHVM should work out of the box, right?

[2015-09-16 21:32] fredemmott commented on #1627
No idea, was just adding more information re @r3wt 's comment.

[2015-09-16 21:34] mibintc commented on #6249
Got that, thank you.

[2015-09-16 21:34] rowillia commented on #1627
@fredemmott Ah OK.  We're close though!  I think it'd be pretty amazing for HHVM to support the aws-sdk, it would really help a bunch of startups that want to adopt HHVM :).

[2015-09-16 21:38] shadowhand commented on #6232
We've narrowed the cause down to Maxscale, which [copies the client settings on connection][1] and never updates them after the fact. This is not a HHVM bug or a PHP bug, it is a bug in Maxscale.

Thanks for the patience, everyone!

[1]: https://github.com/mariadb-corporation/MaxScale/blob/590f66a8e899ea6ffec9906bea1c2a014ab128b5/server/modules/protocol/mysql_backend.c#L951-L964

[2015-09-16 21:38] #6232 closed

[2015-09-16 22:25] tslettebo commented on #6260
Hi @JoelMarcey.

Yeah, I could do that, but as these are configuration directives, that would mean a separate file for each one, and the I/O overhead of an include just to define a constant, but it would work that way.

[2015-09-17 01:52] aewing opened #6265 "Assigning large number of unique variables slow on CLI with Jit.Eval=true"
Assigning a large number of variables in a Hack script executed with HHVM on CLI without Eval.Jit=false is rather slow.

The following snippet runs nigh-instantly via web or with -v Eval.Jit=false, but via CLI without any extra arguments it clocks between 1.9 and 2.15 seconds for me.

https://gist.github.com/aewing/62b6f56ab7ddff68f086

[2015-09-17 02:06] BobertForever opened #6266 "Using superglobals in strict mode should have better error message"
The following code:
[code]
Produces this error by the typechecker:
[code]
For all three occurrences of `$_FILES`. I couldn't find anywhere in the documentation about an alternative to `$_FILES` or that it was not allowed in strict mode.

[2015-09-17 02:08] aetherson commented on #6266
:cool:

[2015-09-17 02:10] simonwelsh commented on #6266
Hack does not allow any of the superglobals in strict mode. The [cookbook](http://cookbook.hacklang.org/recipes/get-and-post/) has a simple way of accessing these values in strict mode.

[2015-09-17 02:14] BobertForever commented on #6266
Ah, makes sense. I guess then my issue should be something more along the lines of "superglobals not being available in strict mode is not documented on strict documentation page (here: http://docs.hhvm.com/manual/en/hack.modes.strict.php)"

Or maybe the typechecker could say something like "superglobals are not allowed in strict mode" to reduce confusion.

[2015-09-17 02:20] JoelMarcey commented on #6266
@BobertForever we are rewriting the docs to be hopefully vastly improved. You can see a current preview of what we have written about superglobals here...

https://github.com/hhvm/user-documentation/blob/master/guides/hack/01-types/08-advanced-rules.md

[2015-09-17 02:22] aetherson commented on #6266
Any particular reason the error strings couldn't reflect this behavior?

[2015-09-17 02:47] JoelMarcey commented on #6266
@aetherson I think the way it is implemented is that in strict mode they are treated just as any other undefined variable might be treated. e.g.,

[code]

They just didn't special case the superglobals to provide a specific message.

I don't think there is any technical reason that can't be done; but I will cc a couple of folks who might be able to tell you better..

cc: @jwatzman @int3

[2015-09-17 03:05] JoelMarcey commented on #6265
TL;DR: Thanks. Known issue with certain code fragments.

@aewing Yeah, there has been some issues with certain code segments and fragments with the JIT lately. This looks to be one of them. I have added this example to an already created internal task about this. Thanks!

[2015-09-17 05:54] trivedipankaj opened #6267 "Hack with PHP"
Hi,

We are running our php code on HHVM (3.9) now and we are pretty happy with the performance boost it has brought in with it. We are now trying to migrate some of our code base to Hack, specially to take the advantage of async feature. I just wanted to know a way to run both PHP and Hack together in a single code base, for example: How can I call a hack function in PHP code or vice versa?

[2015-09-17 06:03] simonwelsh commented on #6267
So long as your Hack code isn't in a strict file, it can call into PHP code just fine. Calling from PHP into Hack always works, though you do need to make sure the types of the values you're passing in are correct.

Nothing special has to be done to be able to use both.

[2015-09-17 06:08] trivedipankaj commented on #6267
Thanks Simon, I must be doing something really silly before, it is working now!

[2015-09-17 06:08] #6267 closed

[2015-09-17 10:07] #5551 closed

[2015-09-17 10:08] rossmc commented on #5551
@hafi4u thanks for sharing :+1:

[2015-09-17 14:17] plentytp commented on #6263
I have the same issue, any solutions ?

Best Regards

[2015-09-17 14:28] JoelMarcey commented on #6265
@aewing Can you try wrapping your code in a function to see if that changes the performance for the better?

[2015-09-17 17:59] fredemmott commented on #6225
There's a chance this is fixed by https://github.com/facebook/hhvm/commit/e03f6979122318c63378ad7162aa83569539abc0 - can you try reproducing with master or tomorrow's nightly package?

[2015-09-17 19:02] JesseXie commented on #6225
sure thing! thank you!

On Thu, Sep 17, 2015 at 11:00 AM, Fred Emmott <notifications@github.com>
wrote:

--
*Jesse Xie* | Engineering Team | M: 206.659.6068 | jesse@houzz.com

<http://www.houzz.com/>

[2015-09-17 22:46] fredemmott opened #6268 "hash_equals missing from HHI"
[code]

[2015-09-18 00:42] MartinAmps commented on #6145
FWIW I tried adding:

    date_default_timezone_set('America/Los_Angeles');

In the code too, as a workaround, and the warning still happens. Still trying to make a repro

[2015-09-18 18:11] th3fallen commented on #4351
Not sure if related but my xdebug will not stop at a breakpoint it always stops at first line of first file. also results in random segfaults in HHVM 3.9.1

[2015-09-18 21:10] TheKoon commented on #5893
Same error :/ Any news ?

[code]

[2015-09-18 21:13] wanchopeblanco commented on #5893
In my case it was caused only when caching the Carbon object, so when i need the object to be cached i dont use Carbon.

Its not a the way it must be, but it works.

[2015-09-18 23:10] ShengZhan commented on #6056
claimed by sheng zhan

[2015-09-18 23:41] kaustavha commented on #6252
Hey @paulbiss  Can you help me get #6270 reviewed/merged and fix this [issue](https://github.com/virgo-agent-toolkit/rackspace-monitoring-agent/issues/873)? The newest commit should be good to go. I rebased, unsure how to make phabricator restart a build.
First time writing cpp and I'm unfamiliar with facebooks vcs/dev practices so let me know if there's any changes you need.

[2015-09-19 01:57] r3wt opened #6271 "intermittent failure to retrieve sessions from Redis"
Every so many requests HHVM fails to connect to redis OR prematurely dropping sessions. cant tell, but there are no error logs available, so its impossible to get to the root of the issue

[2015-09-19 04:43] trivedipankaj opened #6276 "Writing files asynchronously"
Hi,

We have been using HHVM on our platform and we are pretty happy with the performance boost. We are now introducing Mysql, Curl async features in hack. I was just wondering if it was possible to write files asynchronously, I have come across stream_await async function but it is async only till the stream becomes available and writing files will still be synchronous. Is it possible to write fi

[2015-09-19 04:48] uweoswald commented on #6187
Hi Josh,
sorry for the delay had now time left to take care about. Here is the --verbose log you've requested. I'm not quite sure what you mean with "brew formula". I'm not experienced with brew and all that stuff. One source I have edited as "wjywbs" suggested. However, hope this bring you further and helps us...

https://gist.github.com/uweoswald/d76fd90b8ae057c4ab20

[2015-09-19 13:25] steelbrain commented on #6276
Here's what I am using to write and read from async unix and tcp sockets. I believe LibUV has some fs functions as well. https://github.com/RickySu/hhvm-ext-uv

[2015-09-19 19:19] paska27 opened #6277 "install_fastcgi.sh reset my apache config"
Hey,

Getting started guide says "Our included script sudo /usr/share/hhvm/install_fastcgi.sh will configure nginx correctly for stock installs". But doesn't mention it will also (re)configure apache !
It overwrote my config and now i have to restore the stuff ... :(

[2015-09-20 09:07] llimos commented on #2878
This is still a problem with 3.9.0. The dummy `xmlns:ns1=""` is causing .NET clients to reject the response with the message **The empty namespace requires a null or empty prefix.**. It works fine on all versions of PHP.

The `xmlns:ns2` attribute is used correctly - only the ns1 is a problem (on PHP since it doesn't have the bogus ns1 it uses ns1 as the main one - but the ns2 isn't the problem)

[2015-09-20 15:04] dipenpatel235 opened #6278 "Centos6 64 bit hhvm compile error"
i clone repos from  git clone https://github.com/facebook/hhvm -b master  hhvm  --recursive
then configure successfully
then below error in make command

[ 36%] Building CXX object hphp/util/CMakeFiles/hphp_util.dir/embedded-vfs.cpp.o
/tmp/hhvm/hphp/util/embedded-vfs.cpp: In function ‘int HPHP::embeddedCurrentTimeInt64(sqlite3_vfs*, sqlite3_int64*)’:
/tmp/hhvm/hphp/util/embedded-vfs.cpp:145:30: er

[2015-09-20 20:45] enjikaka commented on #2248
Any updates on this?

I think HHVM is the problem for me with EWWW Image Optimizer in WordPress. EWWW is complaining about permissions. However, the www-data group which HHVM runs on has permissions to that directory.

[2015-09-20 20:51] daviddoran commented on #6187
FWIW I'm getting the exact same error:

	[100%] Linking CXX executable hhvm
	Undefined symbols for architecture x86_64:
	  "_SSLv2_client_method", referenced from:
		  HPHP::SSLSocket::setupCrypto(HPHP::SSLSocket*) in libhphp_runtime.a(ssl-socket.cpp.o)
	  "_SSLv2_server_method", referenced from:
		  HPHP::SSLSocket::setupCrypto(HPHP::SSLSocket*) in libhphp_runtime.a(ssl-socket.cpp.o)
	ld: symbol(

[2015-09-21 04:15] girvo opened #6280 "Hack: Attributes on class properties?"
Hey all,

Attributes are an amazing feature of Hack, but one of the things I can't work out for the life of me is how to apply them to class properties. Class methods and the class itself work wonderfully, but I'd love to be able to use attributes to define metaprogramming data for a particular class; effectively, replacing the comment based annotations that we rely on in PHP with real annotations

[2015-09-21 05:48] trivedipankaj commented on #6276
I believe we can't actually write files asynchronously, as hhvm is still single threaded and we can only utilize blocking IO to do things in parallel.

[2015-09-21 07:26] tudor2004 opened #6281 "SoapServer handle() method doesn't work without the $soap_request argument"
The docs for  `public function handle ([ string $soap_request ] ): void` say that *"If this argument is omitted, the request is assumed to be in the raw POST data of the HTTP request"*. This doesn't seem to work like this under HHVM. If you omit giving the $soap_request parameter you'll get a "Bad request" response.

[code]

See also [this Stackoverflow entry](http://stackoverflow.com/questions/28

[2015-09-21 09:26] aewing opened #6282 "AsyncMysqlConnection::queryf and array/vector/Map"
Per discussion with @Orvid I'm making a feature request to have AsyncMysqlConnection::queryf support an array or vector of parameters as a second argument. Currently with the variable argument support you must pass each parameter separately, which is inconvenient in situations where the data resides and has been prepared in a traversable.

[2015-09-21 09:32] aewing commented on #6265
@JoelMarcey I apologize for the delay. Wrapping the code in a function does cut the execution time nearly in half on nightlies.

[2015-09-21 09:34] aewing commented on #6265
That being said, the execution time has increased from 1.9-2.15 seconds to 3.3-3.5 seconds on nightlies. The execution time when wrapped in a function is between 1.75 and 1.8 seconds.

[2015-09-21 10:10] Orvid commented on #6282
And, as pointed out by @simonwelsh a bit later, a [splat](http://php.net/manual/en/migration56.new-features.php#migration56.new-features.splat) (I didn't know that's what it was called either) can be used to achieve this same effect if `$args` is an array:
[code]

[2015-09-21 10:55] #6282 closed

[2015-09-21 12:17] steelbrain commented on #6276
@trivedipankaj Yep! You got it right!

[2015-09-21 14:49] jazzdan commented on #6278
I think you need to upgrade your version of SQLite. Take a look at [these instructions on the wiki](https://github.com/facebook/hhvm/wiki/Building-and-installing-HHVM-on-CentOS-6.6#9-install-sqlite).

Compiling HHVM on Cent 6 is tough, but doable. If at all possible, I would recommend upgrading to Cent 7.

[2015-09-21 16:09] fredemmott commented on #6276
We could implement async file writes (eg async curl is a blocking API that we transparently run in another thread), but it doesn't seem worthwhile: async does have overhead, and for local file writes, it is likely that for most usage, the blocking write would actually be faster than engaging async.

[2015-09-21 16:09] #6276 closed

[2015-09-21 16:14] trivedipankaj commented on #6276
makes sense! thanks

[2015-09-21 17:07] paulbiss commented on #6278
Since CentOS 6 (and 7) aren't officially supported your best bet is probably to ask around in #hhvm on Freenode as most of us don't have experience building on either of those systems.

[2015-09-21 17:57] jwatzman commented on #5523
I think this is done.

[2015-09-21 18:09] jwatzman commented on #6187
@uweoswald the issue in the gist you just linked is unrelated to the original issue. It looks like you have a partial install of HHVM in `/opt/local` which is confusing things -- can you figure out where that came from, and/or just remove MacPorts, since as brew says, the two don't always play nice together. I suspect your SSL issue is due to the same reason -- some stuff from MacPorts is getting

[2015-09-21 19:03] lbianc opened #6284 "Bug - Hash tiger is based on x64 undefined behavior"
In the file ```hhvm/hphp/runtime/ext/hash/hash_tiger.cpp``` there is the method ```hash_final```, as shown below:

[code]

When shifting the number by ```((m_invert ? (7 - i) : i) << 3))```, which can be 64 or greater depending of ```m_digest```, the behavior is undefined, as described in [1]. Based on that, I would propose `mod` this value by 64, which is the current behavior for ```x64``` and wi

[2015-09-21 20:10] wjywbs commented on #6264
The code in `sortBlocks()` doesn't seem correct because it shouldn't erase the iterator in the foreach loop.

http://stackoverflow.com/questions/10360461/removing-item-from-vector-while-in-c11-range-for-loop

[code]

Another issue I'm checking is that sortBlockData could infinite loop. Maybe some of the items in blockData are deallocated before this function.

[2015-09-21 20:24] Orvid commented on #6264
There are multiple places in HHVM where vectors are modified (elements are added/removed) while iterating over them, and MSVC doesn't like this, it actually has a check in debug mode that triggers an error if you try to do this.

[2015-09-21 22:13] jwatzman commented on #5757
Almost done, except this part:

[code]

This is going to be a PITA/impossible to match with the way HHVM currently compiles this code. There's an ongoing project to split up some of the member instructions, which might help here, so putting on hold until that is ready. Otherwise will just stick this one in inconsistencies and be done with it.

[2015-09-21 22:18] paulbiss commented on #6252
Hi @kaustavha the PR looks good to me. I was having some issues with our CI infra, I'll kick a new test run.

[2015-09-22 08:40] 0x64616E69656C commented on #5528
I've switched back to hhvm (3.9.1) on sunday, since then I had no furher crashes of this kind. Therefore I'll close this for now.

[2015-09-22 11:49] AlexTodessa opened #6286 "Redis BLPOP ignores timeout"
Hello.
Using hhvm to speed up some processes, which use redis and blpop to get new tasks. The problem is, that if queue is ended (list gets deleted, or no records in it), with php (5.5.9) scripts just end their work, which is normal.
With hhvm they wait to get something from redis, and execution is actually blocked.

Steps to reproduce are simple:

$redis->blPop('anykey', 1);

if there is nothing

[2015-09-22 15:25] tslettebo opened #6287 "Typechecker not supporting object iteration"
PHP supports object iteration (http://docs.hhvm.com/manual/en/language.oop5.iterations.php).

However, when using the same kind of code in Hack, the code runs, but the typechecker complains:
[code]
test.php:14:11,15: Invalid foreach (Typing[4110])
test.php:14:11,15: This is an object of type KeyedTraversable because this is used in a foreach statement
test.php:12:9,23: It is incompatible with an o

[2015-09-22 15:46] SiebelsTim commented on #6287
You can implement `Iterator` or `IteratorAggregate` to make an object iterable.
However, that probably doesn't do what you would like to achieve, as HHVM has no internal pointers to current elements (that's why `current(object)` doesn't work).

That being said, foreaching an object works in the runtime even though it can't be typechecked. So you could put an `// UNSAFE` above your foreach.  (http:

[2015-09-22 16:29] fredemmott commented on #6287
yeah, you want to implemented KeyedIterator. The PHP interfaces aren't enough to know:
 - the types of keys/values
 - if keys actually make sense.

You want KeyedIterator instead of Iterator because you care about keys.

[2015-09-22 16:29] fredemmott commented on #6287
Closing as this is documented on the KeyedTraversable page.

[2015-09-22 16:29] #6287 closed

[2015-09-22 17:00] jwatzman commented on #5523
Internal user discovered this case doesn't work:

[code]

[2015-09-22 17:13] Majkl578 opened #6288 "Build failure: SSLv3_client_method not declared"
Recent version of OpenSSL in Debian does not ship SSLv3 support anymore. It has been dropped as of version 1.0.2d-2 [1].
This version will soon enter Debian Stretch, the transition has already been scheduled [2] [3].

[1] https://tracker.debian.org/news/711709
[2] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797926
[3] https://release.debian.org/transitions/html/auto-openssl.html

---

[code]

[2015-09-22 17:34] sergejM commented on #6263
have the same problem, is this a bug oder setting issue?

HipHop VM 3.9.1 (rel)

Best Regards

[2015-09-22 17:41] fredemmott commented on #6152
Another incompatibility is the position of 'use()' relative to the return type.

[2015-09-22 17:56] fredemmott opened #6289 "Audit Asio extensions for usage of runInEventBaseThread()"
Some of these may be correct, but they may also be race conditions that cause crashes. Example crash fixes:

https://github.com/facebook/hhvm/commit/e03f6979122318c63378ad7162aa83569539abc0
https://github.com/facebook/hhvm/commit/484154f619666abf92b609b7ece16157cee65eae

[2015-09-22 20:55] playmlf commented on #3730
One more vote for this :-) I'm still seeing PHP_VALUE directives have no effect on HHVM 3.9.1

[2015-09-22 21:24] tslettebo commented on #6287
Thanks for your replies. @SiebelsTim and @fredemmott.

Yes, it makes sense to me that this either needs ```// UNSAFE ``` or implementing the KeyedIterator interface to pass the typechecker.

I'm a little confused about KeyedIterator vs KeyedIterable, as they both seem to applicable to this, how to choose between them?

[2015-09-22 22:13] ssteinerx opened #6290 "Website/Testing Fail: "we can run the top 20 Github PHP frameworks out of the box.""
Just from: http://hhvm.com/frameworks/

Open Source Tests: 0.00%

These tests are run with HHVM from GitHub master. The last run was at 1970-01-01 00:00 UTC.

0 Frameworks at 100%

https://www.dropbox.com/s/s95y145eqtwm80j/Screenshot%202015-09-22%2018.09.44.png?dl=0

[2015-09-22 22:13] ssteinerx commented on #6290
I was just looking to see whether WordPress was there...

[2015-09-22 22:37] fredemmott commented on #6290
The machine got decomissioned, and new machines were IPv6 only + some other changes. I've been working on bringing this back up, and hopefully it'll be back by the end of the week.

[2015-09-22 23:17] ssteinerx commented on #6290
Understood; just wanted to make sure someone noticed as this is not "optimal" when promoting a project.

S

On Sep 22, 2015, at 6:38 PM, Fred Emmott wrote:

[2015-09-23 12:47] #5711 closed

[2015-09-23 18:08] josephscott opened #6296 "Segmentation fault building for RepoAuthoritative"
I started a build for RepoAuthoritative mode, hoping to squeeze a bit more on the performance front.  Unfortunately HHVM died with a segmentation fault before completing the hhvm.hhbc.

Version details:

- HHVM 3.9.1
- Debian 7.8

Ran the following to reproduce:

- find '/full-path/to/prod' -type f > /tmp/hhvm-files.txt
- hhvm --hphp --target hhbc -l 4 --output-dir hhvm/ --input-list /tmp/hhvm-fil

[2015-09-23 20:47] elazar opened #6297 "Fatal error: Stack overflow caused by ArrayObject::serialize()"
[code]

The trace is the same for the second error as for the first.

Subsequent runs produce the second error until the hhvm daemon is restarted.

The above is probably why the PHP implementation of `ArrayObject->serialize()` [excludes `ArrayObject` properties](https://github.com/facebook/hhvm/blob/HHVM-3.9.1/hphp/system/php/spl/miscellaneous/ArrayObject.php#L317-L330).

[2015-09-23 21:08] kaustavha commented on #6252
Hey @paulbiss  fixed the lint issue that popped up in phabricator, let me know if i need to do anything else.

[2015-09-24 00:49] ottoni commented on #6264
I couldn't repro this in my environment, but hopefully https://github.com/facebook/hhvm/commit/441217b0caf6bf7d4c15e14bb98e746dc274cda0 fixes this issue. @wjywbs , please retest with that diff and let us know.

[2015-09-24 03:28] bratao commented on #6210
@paulbiss , Sorry for pinging you, but do you have any update on this issue ? This have severely messed our environment, as on almost every deployment, hhvm crashes =(

[2015-09-24 13:21] derickr opened #6299 "Compiling HHVM results in a compile error"
Hi,

for some reason, my HHVM (3.9.1) compile started throwing:

[code]

I've made sure glog is installed:

[code]

cheers,
Derick

[2015-09-25 02:14] jelqui opened #6302 "Message: ps_files_cleanup_dir: opendir(/var/lib/hhvm/sessions) failed: Permission denied (13)"
HHVM  on GNU/LINUX Debían 8
Version: HipHop VM 3.9.1 (rel)
Compiler: tags/HHVM-3.9.1-0-g0f72cfc2f0a01fdfeb72fbcfeb247b72998a66db
Repo schema: 6416960c150a4a4726fda74b659105ded8819d9ccc

I have Codeigniter 2 running with hhvm and I got this issue
Hope this report help others.

[2015-09-25 08:47] Orvid commented on #1480
Just a poke to point out this hasn't been updated in almost a year. Also, I just noticed that this has a $1000 bounty on it on [bountysource](https://www.bountysource.com/issues/1370963-switch-extensions-from-idl-to-hni).

[2015-09-25 13:26] 0x64616E69656C commented on #4767
Is there any status update on this issue? I just ran into the exact same problem with hhvm 3.9.1 and dokuwiki 2015-08-10.

[2015-09-25 13:59] JoelMarcey commented on #1480
@sgolemon's got this! She has asio and simplexml in the pipeline; next up is collections.

[2015-09-25 18:12] Profforgr commented on #3558
Can someone look at that?

This commit seems to still not fix the issues https://github.com/facebook/hhvm/commit/27da833fb848c94df30447b39edb4b430128d40f
Still ini_set('error_log','...'); redirect full server log to selected file. Not only current request, but of all websites or scripts running at the server.

That's very bad from different points:
1. Security. Any script on the server can have er

[2015-09-25 23:32] smalyshev commented on #5562
Looks like the problem is this part: https://github.com/php/php-src/blob/master/ext/standard/string.c#L40 namely, libicu redefines setlocale and looks like that is exactly what hhvm is using - ICU's setlocale instead of system's setlocale.

[2015-09-26 06:09] multiwebinc opened #6303 "Difference in html_entity_decode"
When executing `html_entity_decode()` HHVM seems to enable `ENT_QUOTES` by default, unlike PHP:

See: https://3v4l.org/B0lup

[2015-09-26 06:17] RenaudParis opened #6304 "Execute scripts in subdirectories"
Hi,

HHVM seems to generate weird errors along with Composer when executing a script in a subdirectory.

**This works**

```hhvm test.php```

**This fails**

```hhvm ./bin/script.php```

It gives the error:

```Catchable fatal error: Fatal error: exception Sys_error("./bin: No such file or directory") in /home/renaud/dev/wamp/skol/lib/vendor/composer/ClassLoader.php on line 412```

The line in que

[2015-09-26 06:44] jwatzman commented on #6284
The issue you're pointing out, as well as the gist of the solution, makes sense to me. I'm not sure I follow exactly what you're proposing (also it's late and I'm tired so might just be me) but the solution is probably best discussed in a PR, if you wouldn't mind to send one with your proposed fix, which is pretty simple right?

[2015-09-26 06:45] jwatzman commented on #6277
Sorry about that... none of us here are really apache users. If you want to submit a PR against the [packaging repo](https://github.com/hhvm/packaging) (the script in question [lives here](https://github.com/hhvm/packaging/tree/master/hhvm/deb/skeleton/usr/share/hhvm)) to fix the problem, that would be awesome.

[2015-09-26 14:18] liquidia commented on #5001
is there any permanent solution? or we have to keep modifying default php.ini

[2015-09-26 15:39] SiebelsTim commented on #5001
That is the permanent solution :P

The root of that bug is that Magento depends on undefined sorting behaviour. Using the algorithm php uses by default would result in a performance penalty.

Anyway, the php.ini is there to configure your runtime. I think most of the time you would want to adjust some setting, resulting in a modified php.ini. Modifying configuration files shouldn't hinder you in a

[2015-09-27 04:52] kryogenic opened #6306 "GMP not included in ubuntu build"
The package at http://dl.hhvm.com/ubuntu does not include GMP. Would be nice to have it.

[2015-09-27 11:05] SiebelsTim commented on #6306
@jwatzman Looks like this is intentional? https://github.com/hhvm/packaging/commit/d86d8036abac71997789d0a0d8753513826a3086

[2015-09-27 13:15] kryogenic commented on #6306
That is rather unfortunate

[2015-09-27 13:52] SiebelsTim commented on #6306
@kryogenic I'm curious about the reason though, maybe enabling this revealed some problems.

Usually the hhvm team is happy to enable any extension needed.

[2015-09-27 20:05] tslettebo opened #6308 "Unexpected typedef error message"
[code]

The above code gives the error message:

test.php:7:13,21: Unexpected typedef (Naming[2052])
test.php:3:6,14: Definition is here

If `TestAlias` is changed to `Test` in the `new` expression, it passes the typechecker.

Why is the typechecker complaining about this?

[2015-09-27 22:44] Orvid commented on #6308
My guess is that there's a difference of when the names are bound. Does it work if you move the typedef after the declaration of `Test`?

[2015-09-27 22:44] simonwelsh commented on #6306
Duplicate of hhvm/packaging#133

[2015-09-28 09:47] tslettebo commented on #6308
Hi @Orvid. I tested it, and it makes no difference.

[2015-09-28 10:01] tslettebo opened #6313 "How to type-check partial objects loaded from the database"
Hi.

This isn't an issue with HHVM/Hack, but I'd like to ask if anyone has any suggestions about how to handle the following:

I guess like many, we have an OO-relational mapping layer in our system that loads a record from the database and uses it to populate an object.

Conceptually, it works like this:
[code]

Many tables have a large number of fields, and in many cases, you only need a few of

[2015-09-28 11:19] apergos opened #6314 "compress.bzip2 not implemented in bz2 extension"
joe@gizmo:~$ hhvm --version
HipHop VM 3.9.1 (rel)
Compiler: tags/HHVM-3.9.1-0-g0f72cfc2f0a01fdfeb72fbcfeb247b72998a66db
Repo schema: 6416960c150a4a4726fda74b659105ded8819d9c
joe@gizmo:~$ hhvm test.php
Array
(
    [0] => compress.zlib
    [1] => data
    [2] => file
    [3] => glob
    [4] => http
    [5] => https
    [6] => phar
    [7] => php
    [8] => zip
)

I'd expect to see compress.bzip2 in

[2015-09-28 16:40] fredemmott commented on #6313
We usually use something similar to not_null - https://github.com/facebook/hhvm/blob/3451e7d079c2f90e5c566fddb2f3257ac788cb4b/hphp/test/slow/inlining/nullthrows1.php#L3-L13 is pretty much it.

I disagree on having to dynamically check for non-null defeating the purpose; saying that a maybe-initialized value is non-nullable is not correct and unsafe, and the same applies to treating nullable fields

[2015-09-28 16:40] #6313 closed

[2015-09-28 18:51] sgolemon commented on #6314
bz2 actually *is* built and included with the prebuilt package:

`var_dump(extension_loaded("bz2"));` => `bool(true)`

The trouble is, our version of bz2 doesn't implement the `compress.bzip2` stream wrapper.  Which makes this a parity issue more than a feature request.

[2015-09-28 19:59] jwatzman commented on #6306
Closing in favor of hhvm/packaging#133

[2015-09-28 19:59] #6306 closed

[2015-09-28 20:35] sgolemon commented on #6314
Diff up for review internally: D2486378

[2015-09-28 20:39] fredemmott commented on #6225
ping - is this still an issue with master/nightlies?

[2015-09-28 20:51] sgolemon commented on #6308
The rundown I just got from @jwatzman is that types (including TypeAliases) can't actually be new'd up.  The underlying technical reason is that there are a large class of typedefs for which trying to use `new` would never make sense.  In this specific case it would, but the typechecker isn't currently smart enough to distinguish the two.  So for now `new SomeAlias` is invalid hack.

[2015-09-28 20:51] #6308 closed

[2015-09-28 21:03] sgolemon commented on #6288
Does wrapping those cases in `#ifndef OPENSSL_NO_SSL3` work?

[2015-09-28 21:05] SiebelsTim commented on #6308
I just want to point out that you can "create" a type of `SomeAlias` when you wrap it in a function

[code]

[2015-09-28 21:21] tslettebo commented on #6308
@sgolemon and @SiebelsTim: Thanks for your replies and suggestions.

[2015-09-28 21:34] sgolemon commented on #6288
D2486752 will add the ifndef, hopefully that'll cover it

[2015-09-28 21:50] tslettebo commented on #6313
Hi @fredemmott.

You're right, "defeats the purpose" wasn't the right expression.

What I meant to say is that we try to get as much leverage as we can out of the typechecker, which means trying to detect any issues as early as possible (i.e. statically).

You're right that detecting any issues at run-time is equally "safe", in that the issues are still detected, but much of the advantage of Hack

[2015-09-28 22:30] fredemmott commented on #6313
shapes could work for you:

[code]

At runtime, they're just arrays giving you the compatibility you need, but the typechecker

[2015-09-28 22:47] fredemmott commented on #6313
This also works for nullability changes:

[code]

[2015-09-28 22:52] sgolemon commented on #6280
Because they're not supported at this time.  Not because we wouldn't like 'em, but just because nobody's done the work to pipe them all the way through the runtime.  PRs welcome, otherwise I'm sure someone will get to it eventually.

[2015-09-28 23:00] sgolemon commented on #6268
Fix up for review internally: D2487395

[2015-09-28 23:02] sgolemon commented on #6268
Ooops, just noticed someone put up a PR.  It'll let @paulbiss land that one (it's also better).

[2015-09-28 23:09] fredemmott commented on #6262
We're not planning on supporting this. If someone is planning on working on this, talk to the HHVM developers in #hhvm-dev on freenode - we're usually around during working hours (US Pacific Time). FB/HHVM would not be providing any sponsorship or development systems for this - given @edelsohn's profile, I guess that would involve talking to IBM. Definitely do not do start working on this without

[2015-09-29 04:51] marcokh opened #6315 "sources still checked in repo.authoritative mode"
Hello,

I'm using the provided script from the package to enable repo authoritative as mentioned here (easy way) https://github.com/facebook/hhvm/wiki/Performance-Tuning#use-repoauthoritative---20

This appears to be working fine, I can edit source files and my changes to the php have absolutely no effect on the code execution, which seem to indicate that hhvm is loading things from the cache as e

[2015-09-29 11:59] tslettebo commented on #6313
Thanks @fredemmott for the information on shapes, in particular the subtype relationships, I'll check it out.

[2015-09-29 17:46] fredemmott commented on #6262
Re-opening. FB will not support this, but that's not a blocker for accepting ports any more. It does mean that the burden of maintaining any port will be entirely on the s390x community.

[2015-09-29 18:06] fredemmott commented on #6315
You need to reconfigure Apache - instead of telling it to use HHVM to render PHP files, you need to tell it to either:

 - Use HHVM to render an entire subtree - eg /mysite, not just PHP files
 - Proxy any URL ending with '.php' to HHVM

ProxyPass and ProxyPassMatch + mod_proxy_fcgi could be workable approach - eg the PHP-FPM example at http://httpd.apache.org/docs/trunk/mod/mod_proxy_fcgi.html sh

[2015-09-29 18:06] #6315 closed

[2015-09-29 18:09] fredemmott commented on #6315
The size difference is because we include non-PHP files - this makes things like `file_get_contents(__DIR__.'/foo.txt');` work

[2015-09-29 18:20] JohanTan opened #6316 "HHVM 3.9.1 Core dumped"
A little bit of background: we are running hhvm on production web servers, and we have around 600 MB local php files filled with static array, stored locally to each web server to serve as cache. And once in every 2-3 days we get a core dumped message in the hhvm error log. One of the most recent messages look like this:
[code]

More detailed stacktrace is posted here: https://gist.github.com/Joha

[2015-09-29 18:25] karpa13a commented on #6316
seems OOM happen

[2015-09-29 18:28] JohanTan commented on #6316
Yes but we could not increase any of the jit cache size further. Anything else I can try?

[2015-09-29 19:22] fredemmott commented on #6316
Can you get a C++ stack trace?

[2015-09-29 20:31] JohanTan commented on #6316
@fredemmott
Do I just set `hhvm.log.native_stack_trace = true` and wait for the next crash happen? Or I need to have `hhvm-dbg` installed?

[2015-09-29 20:35] fredemmott commented on #6316
install hhvm-dbg, then if you can reproduce the problem, run hhvm in gdb - otherwise, enable core files and open it up in gdb once you have one. 'thread apply all bt' will give you the needed data.

[2015-09-29 21:08] JohanTan commented on #6316
@fredemmott Wouldn't hhvm-deg be significantly more slow and is not supposed to run on production system? I can have it on our staging server and see if I can duplicate the issue. Or if there is any alternatives I am happy to try them out as well.

[2015-09-29 21:11] fredemmott commented on #6316
Well, you can do it with the normal package, but it is much less likely that the data will be useful - you might be lucky though.

[2015-09-29 21:43] #6284 closed

[2015-09-29 21:59] Orvid commented on #6316
This might actually work better in repo-auth mode, so it can generate a global data piece, rather than generating code to initialize the array, as I would assume it's currently doing.

[2015-09-29 22:03] JohanTan commented on #6316
@Orvid unfortunately we are based on pressflow drupal with eval() calls everywhere. Repo-auth mode will not work properly without segfaults.

[2015-09-29 22:15] #6288 closed

[2015-09-29 22:15] #6314 closed

[2015-09-30 02:38] marcokh commented on #6315
Thank you for your answers Fred,

I think you are right, here is the relevant line in my apache conf

ProxyPassMatch ^(?!\/phpmyadmin\/)(.+\.(hh|php)(/.*)?)$ fcgi://127.0.0.1:9000/var/www/poscontrol/$1

I'm pretty bad at understanding regexp but I think the above is refering to all ".php or .hh files"

Following your advice, I have tried to change it to a more generic pattern :

 ProxyPassMatch ^(

[2015-09-30 07:16] jwatzman commented on #5523
OK, I think this is done, again :)

[2015-09-30 07:16] #5523 closed

[2015-09-30 07:17] jwatzman commented on #6187
Has anyone tried moving `/opt/local` out of the way? Does that fix the issue?

[2015-09-30 07:20] denji commented on #6187
@jwatzman This is due to MacPorts hacks when building HHVM?

[2015-09-30 09:19] marcokh commented on #6315
Fred, I gave it a second look and realized I had misread your message and didn't look precisely at the PHP-FPM example so I tried again, this time without the $1 at the end and with the additional parameter :

ProxyPassMatch "^/.*\.php(/.*)?$" "fcgi://localhost:9000/var/www/poscontrol/" enablereuse=on

This resulted in apache2 being unable to restart :
Sep 30 16:12:22 marco-newlap apache2[16864]:

[2015-09-30 10:05] marcokh commented on #6315
In case someone ever find this, I have now tried other matching options, as documented below but all of them share the same behavior and seem to request the php file to be present on the file system before forwarding the request to fastcgi

https://github.com/facebook/hhvm/wiki/FastCGI

[2015-09-30 11:30] euphio commented on #4351
The problem still exists for us when remote debugging to a Vagrant box:
 - Ubuntu 14.04
 - PhpStorm 9.0.2
 - HHVM 3.9.2

Resuming from a breakpoint intermittently causes a segfault.

[2015-10-01 00:06] jwatzman commented on #6187
@denji That code should probably not be there. However, this is a general problem. The brew folks themselves do not recommend that brew and MacPorts be installed together. It's too easy for brew programs to accidentally pick up MacPorts parts, and vice versa.

[2015-10-01 00:20] denji commented on #6187
We should first look for Homebrew (sandbox without-root environment) and only if it is not applicable to move to a more systematic Macports. This is my vidie solve.

[2015-10-01 16:06] SiebelsTim commented on #2260
This is inconsistent with the typechecker.

[code]

HHVM thinks it's `\Foo\Bar\Baz`, hh_client thinks it's `\Bar\Baz`.

[2015-10-01 16:10] daviddoran commented on #6187
Just to confirm, I removed MacPorts and HHVM built fine.

[2015-10-01 16:55] jwatzman commented on #6187
brew itself already issues this warning. It's not just an HHVM problem. That said, I'm going to try to be more explicit in our cmake library specifications when I get time, see https://github.com/hhvm/homebrew-hhvm/issues/16

Awesome, glad it worked out! I'm going to close out this issue since we have a working workaround. Feel free to track https://github.com/hhvm/homebrew-hhvm/issues/16 if you'r

[2015-10-01 16:55] #6187 closed

[2015-10-01 16:59] jwatzman opened #6318 "Reclassify E_STRICT warnings"
https://wiki.php.net/rfc/reclassify_e_strict

I don't think this is terribly hard, just a bunch of bookkeeping? Might be worth doing in tandem with [engine exceptions](https://github.com/facebook/hhvm/issues/6012), or at least covered by the same option?

[2015-10-01 17:04] jwatzman opened #6319 "Continue output buffering"
https://wiki.php.net/rfc/continue_ob

Unclear if this was implemented? Looks low-pri anyways.

[2015-10-01 17:34] jwatzman commented on #5500
This is claimed by @ricklavoie btw, sorry for not updating here sooner. It's waiting on some other refactoring to land.

[2015-10-01 17:40] jwatzman commented on #6040
This is tentatively claimed by our new hackamonther Scott.

[2015-10-01 17:40] jwatzman commented on #6057
This is tentatively claimed by our new hackamonther Scott.

[2015-10-01 17:45] jwatzman commented on #6152
@paulbiss says that his upcoming diff for [scalar types](https://github.com/facebook/hhvm/issues/5052) might enable this, but it probably doesn't do the `use` parser change (where return types and `use` clauses appear when defining an anonymous function differ between Hack and PHP7).

[2015-10-01 19:15] SiebelsTim commented on #5748
Resolved in 73dfc36

[2015-10-01 21:08] JoelMarcey commented on #6056
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

[2015-10-01 21:08] JoelMarcey commented on #6057
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

[2015-10-01 21:09] JoelMarcey commented on #6054
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

[2015-10-01 21:15] JoelMarcey commented on #6036
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

I assume @alexchow that you are still working on this?

[2015-10-01 21:18] JoelMarcey commented on #5498
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

[2015-10-01 21:18] JoelMarcey commented on #5500
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user, this case @ricklavoie

[2015-10-01 21:27] jwatzman commented on #6248
I'm doing this one in https://github.com/facebook/hhvm/issues/6047 since it's new to this behavior anyways.

[2015-10-01 21:28] JoelMarcey commented on #6248
The other two are still needed, right?

[2015-10-01 21:30] jwatzman commented on #6248
Yep!

Keep in mind that `DivisionByZeroError` doesn't exist until https://github.com/facebook/hhvm/issues/6012 is done; for integer semantics (which has a similar issue), I think I'm going to use `InvalidOperationException` until then. You also probably want to gate these changes on the option I'm adding in D2482656.

If you get stuck with this, LMK. I'm currently digging into exactly this code as

[2015-10-01 21:32] JoelMarcey commented on #6042
Assigning `facebook-github-bot` for those that are claimed, but cannot be directly assigned to the user.

[2015-10-01 21:39] jwatzman commented on #6050
Can we just close this one? To stay PHP5 and PHP7 compatible, we should just support both, and since there's no conflict of features/behavior here, we don't need an option, we can just have both, right?

[2015-10-01 21:47] JoelMarcey commented on #6248
Yep. You seem to be handling all things `integer` now -- I am good assigning to you.

[2015-10-01 22:04] jwatzman commented on #6248
Sounds good. I also re-read the original thread and see I think I missed a couple of points @nikic mentioned, I just edited the original post at top and added them.

[2015-10-01 22:06] JoelMarcey commented on #6050
I am also ok with closing this. We just decide to be more "backwards compatible" here :)

I do recommend NOT using these tags though :)

[2015-10-01 22:25] JoelMarcey commented on #5890
A big crux of this looks to be implementing `ReflectionType` and `ReflectionGenerator` if I understand what was added to PHP 7. And a couple of new methods to existing types...

https://github.com/tpunt/PHP7-Reference#reflection-additions

[2015-10-01 22:41] #6050 closed

[2015-10-01 23:13] #4960 closed

[2015-10-02 06:06] askonomm commented on #6290
Bump. The error still remains.

[2015-10-02 06:38] JesseXie commented on #6225
Sorry for the delay. Yes, it is fixed! Thank you for taking care of it.

[2015-10-02 08:59] jprlauzier commented on #3493
It seems that it is still not updated with 3.9.1 - I agree with @maurocolella, it is an important feature. I unfortunately have to uninstall HHVM because I need to use certificates with my databases. Any ETA? Thanks.

[2015-10-02 14:13] paulocoghi opened #6323 "Frameworks page is empty"
The current HHVM page about frameworks compatibility is empty, although the [JSON file](http://graph.facebook.com/hhvm_oss_tests) is available and not empty.

![hhvm-empty-frameworks](https://cloud.githubusercontent.com/assets/378397/10248490/33678a44-68f6-11e5-8a24-306686a6dba8.png)

[2015-10-02 15:14] SiebelsTim commented on #6323
duplicate #6290

bump @fredemmott

[2015-10-02 16:21] #6323 closed

[2015-10-02 16:32] #6225 closed

[2015-10-02 16:43] fredemmott commented on #6290
Yep, sorry, this takes time and I've had to fix things that are blocking other people :(

The delay is basically that we do not have internet access from our internal systems, and with the switch to IPv6, our way of making exceptions to that has changed - which gets a little complicated as the systems have a mix of internet network ops (eg 'fetch HHVM from github') and internal ones (eg talk to th

[2015-10-02 16:46] josephscott commented on #4992
The lack of persistent connections has come up in my test systems as well.

In our case this represents a significant increase in network traffic and is a blocker to being able to use HHVM beyond a few test systems.

[2015-10-02 18:13] fredemmott commented on #6290
Data's now on https://graph.facebook.com/hhvm_oss_tests again, website should be fixed in a few hours.

[2015-10-02 18:28] fredemmott commented on #6290
'fixed' now, will leave open until there's a few more data points.

[2015-10-02 18:45] ssteinerx commented on #6290
Uh, that looks like a configuration file...

On Oct 2, 2015, at 2:14 PM, Fred Emmott wrote:

[2015-10-02 18:49] fredemmott commented on #6290
It's the API that http://hhvm.com/frameworks/ reads to get the data.

[2015-10-02 18:52] fredemmott commented on #6290
search for `"runs":` to see the interesting stuff

[2015-10-02 21:27] baozigit opened #6324 "Mac OS X 10.11 build error"
[ 28%] Linking CXX static library libwangle.a
cd /usr/local/Cellar/hhvm/3.9.1/src/third-party/wangle && /usr/local/Cellar/cmake/3.3.2/bin/cmake -P CMakeFiles/wangle.dir/cmake_clean_target.cmake
cd /usr/local/Cellar/hhvm/3.9.1/src/third-party/wangle && /usr/local/Cellar/cmake/3.3.2/bin/cmake -E cmake_link_script CMakeFiles/wangle.dir/link.txt --verbose=1
/usr/bin/ar cq libwangle.a  CMakeFiles/wangl

[2015-10-02 22:02] fredemmott commented on #6290
Now got 3 data points, 2 of which were unattended, closing. If this re-occurs, please open another issue.

I've also added a monitoring check for 'Last run was at 1970' so this gets picked up sooner if it happens again.

[2015-10-02 22:17] ssteinerx commented on #6290
Not seeing WordPress which was the original motivation for going to the page in the first place...  I know we had an email exchange about WordPress working, but is there a test?

[2015-10-03 02:41] fredemmott commented on #6290
We do not support Wordpress because our framework only supports git, and Wordpress's tests are only in their subversion repository.

[2015-10-03 02:41] fredemmott commented on #6290
* the framework tests page does not support wordpress - HHVM itself does.

[2015-10-03 03:06] baozigit commented on #6324
OSX 10.11

[2015-10-03 08:41] czim commented on #1382
I'm having a very similar issue in version 3.6.1 (rel).

`new \finfo(FILEINFO_MIME_TYPE, null)`

Results in (different from the first post):

`finfo::finfo() expects parameter 2 to be a valid path, string given`

[2015-10-03 08:51] SiebelsTim commented on #1382
https://3v4l.org/51jLQ

Cannot reproduce.

[2015-10-03 13:20] ssteinerx commented on #6290
https://make.wordpress.org/core/2014/01/15/git-mirrors-for-wordpress/

and:

https://make.wordpress.org/core/handbook/testing/automated-testing/phpunit/

S

On Oct 2, 2015, at 10:41 PM, Fred Emmott wrote:

[2015-10-03 16:37] AnoopAlias commented on #6148
Hi,

Does using hhvm.log.use_syslog = true fix the error log issue?.

There is a message at startup when using syslog

Log file not specified under daemon mode.\n\n

when mode is set to daemon .

Does that mean in daemon mode we compulsorily need logfile rather than syslog?

[2015-10-03 17:24] SiebelsTim commented on #5007
I think this is resolved.

[2015-10-03 20:30] Orvid commented on #6290
The problem is those git mirrors don't include the tests.

[2015-10-03 21:11] SiebelsTim commented on #6290
They do include them. However they depend heavily on mysql, which is bad for hhvm.com/frameworks I believe.

[2015-10-04 01:17] ssteinerx commented on #6290
@SiebelsTim I was responding to "We do not support Wordpress because our framework only supports git, and Wordpress's tests are only in their subversion repository."  Ok, so that's not it.

Why would a MySQL dependency be bad?

[2015-10-04 02:39] ssteinerx commented on #6290
@Orvid https://make.wordpress.org/core/handbook/testing/automated-testing/phpunit/ specifically gives instructions for running the tests from a git checkout.

[2015-10-04 02:56] jwatzman commented on #6324
What you've provided doesn't actually include the relavent info. Could you provide the output of `brew gist-log hhvm`, or if you can't do that for some reason, the *full* output from `brew install --verbose hhvm`?

[2015-10-04 15:48] nazar-pc commented on #4314
Almost half a year later, can anyone take a look at this finally?

[2015-10-05 01:43] #5007 closed

[2015-10-05 02:11] fredemmott commented on #6290
Thanks; I wasn't aware of those repositories, only of the github tree. We'd be happy to take a pull request adding a realistic wordpress test.

Using MySQL is not a problem - most of the framework tests use it.

[2015-10-05 08:49] SiebelsTim commented on #6290
I can't find where I have to put the credentials (i.e. I don't know user/password etc. for your test server). Wordpress expects a file containing these.

[2015-10-05 08:49] hieppham opened #6330 "Fedora 22 - build successfully but can not run hhvm with fastcgi"
Hi,
I'm trying to install and run hhvm on Fedora 22. Follow this guide: https://github.com/facebook/hhvm/wiki/Building-and-installing-HHVM-on-Fedora-19-or-20,
which is quite outdated but still useful, I've built it successfully.
[code]
But while starting hhvm from terminal, I got following errors:
[code]
Any help would be appreciated.

[2015-10-05 08:59] steelbrain commented on #6302
Happens when I run hhvm as a non `www-data` user or when the `/var/lib/hhvm/sessions` isn't owned by `www-data`.

[2015-10-05 09:07] simonwelsh commented on #6290
From other tests, looks like it's root with no password connecting to localhost.

[2015-10-05 09:25] h-bragg opened #6331 "DateTime::createFromFormat not handling Timezone"
When creating a DateTime with createFromFormat it ignores the timezone specified within the format.

[code]

**PHP 5.5**
[code]

**HHVM**
[code]

[2015-10-05 12:08] ssteinerx commented on #6290
@SiebelsTim If you have a minute, could you outline your test setup?  I'd love to have this running locally !

[2015-10-05 12:39] AlteranAncient commented on #2570
I can +1 this issue. After some time of using a file socket, Nginx starts to report "Connection refused" and everyone just starts receiving blank pages until I restart the hhvm service. The service appears to be running still, but Nginx throws a wobbly and all my sites stop working until I manually restart it. No helpful errors on HHVM's part to indicate why this is happening, but if Nginx is the

[2015-10-05 13:21] SiebelsTim commented on #6290
#6332 then

`cd hphp/test/frameworks/ && hhvm ./run.php wordpress`

[2015-10-05 14:02] derickr commented on #6299
Is there anyway I can help to help investigate this? libglog does have the symbol:

[code]

which parses to:
[code]

Could it be because libglog is compiled with GCC 5.2 and I am using 4.9 to compile HHVM?

As I said, I'm happy to do a debugging-over-IRC session :-)

cheers,
Derick

[2015-10-05 16:32] fredemmott commented on #6290
sorry, my bad, got it confused with the performance tests. Yeah, we don't run tests that need MySQL.

[2015-10-05 17:35] fredemmott commented on #2570
@AlteranAncient : can you open a separate issue for HHVM stopping accepting connections for you? It would be useful if when this happens, you could attach gdb, and run 'thread apply all bt' and include the output of that in the issue.

[2015-10-05 17:37] fredemmott commented on #2570
Actually, the gdb output would be useful in this issue for people that are having HHVM stop accepting connections - it's the comments about needing to delete the socket file that should be separate.

[2015-10-05 17:38] fredemmott commented on #6260
This is not supported by Hack - Hack assumes globally unique identifiers, and I don't see us changing this.

One solution would be to refactor these to a configuration object which your scripts construct and pass in.

[2015-10-05 17:38] #6260 closed

[2015-10-05 17:41] fredemmott commented on #6198
I'm fairly likely to wontfix this and mark adoptConnection as deprecated. Going to think about it for a while more.

[2015-10-05 17:47] fredemmott commented on #6197
The first perf looks reasonable :/

The second one shows issues with the APIC timer in the kernel, which is causing IO issues. It also shows this being made worse by re-jitting a load of code (which won't be Linode-specific)

Linode would need to investigate the APIC timer/IO issue, though you might be able to lessen the effect by setting `hhvm.jit_pseudomain=0` in your INI setting - retranslation

[2015-10-05 17:50] tslettebo commented on #6260
Thanks for your reply.

[2015-10-05 17:51] fredemmott commented on #6078
Attach gdb and run 'thread apply all bt' to find out what's still running, and open a separate issue for that

As for slowness, your options are:
 - run a server and poll it like simonwelsh suggests (though you can use + firewall the builtin server to avoid setting up nginx)
 - turn off the JIT: `hhvm.jit=0` in your INI; the JIT has a high cost, which for short CLI scripts, often isn't a good choi

[2015-10-05 17:51] #6078 closed

[2015-10-05 18:03] fredemmott commented on #6290
The test page has stopped updating and will fail again in a few days because of what looks like a hardware failure; unfortunately these servers are 'special snowflakes' and we don't currently have any spares. Hopefully it can be repaired quickly, but I don't have an ETA.

[2015-10-05 18:12] jwatzman commented on #4314
I'm really sorry, but no one has still had a chance to look into this. There's only five of us working on our gigantic issue queue, and we're also responsible for things like supporting PHP7 features, etc. We'd love to be able to get to all the small issues like this, but tend to have higher priority issues come through. This is still in our queue, and is still something we'd like to get to, but w

[2015-10-05 18:15] ssteinerx commented on #6290
@fredemmott Is that "don't run tests that need MySQL" **yet**?

[2015-10-05 18:30] fredemmott commented on #6290
We have no plans to extend our framework testing functionality, as we no longer directly work on improving framework pass rates; this was very beneficial last year, but given our current pass rates, it's a much better use of time for us to work on reported issues with isolated test cases.

We also can't take a pull request for it, as the main problem is configuring FB infrastructure to create and

[2015-10-05 18:46] SiebelsTim commented on #6290
@ssteinerx Running these locally should work nevertheless. The rate of 85%+ I got locally seem to be real.

[2015-10-05 19:34] fredemmott commented on #6290
Machine's back and running tests again. Leaving issue open for a few days to remind me to check on it.

[2015-10-05 21:02] SiebelsTim commented on #5748
@fredemmott You're oncall, right? Close this :P

[2015-10-05 21:21] #5748 closed

[2015-10-06 00:27] JesseXie opened #6333 "how to use fsockopen from ext/sockets/ext_sockets.cpp instead the one from ext/std/ext_std_network.cpp"
Hi There
  We have a thrift service. We are using TSocket which uses fsockopen. And we found out fsockopen is very slow(around 35ms).
  We use python client to make sure there is nothing wrong on the server side, which is less then 1ms.

  I looked around and found several threads complained about it.
  In side the hhvm code base, we already have ext/sockets/ext_sockets.cpp which already implement

[2015-10-06 01:47] JoelMarcey commented on #6038
Internal D2511347

[2015-10-06 04:13] Orvid commented on #6333
They are the same.

[2015-10-06 06:13] JesseXie commented on #6333
I see, they ext_std_network just use the one from sockets. Why it has such slow behavior?

[2015-10-06 09:58] Blackglade opened #6336 "Socket Permission"
I'm trying to use HHVM as a fastcgi server to communicate with nginx over socket. I specified the socket to be created at /var/run/hhvm/sock and passed that url onto my fastcgi_pass option. Every time I try to execute a php file I get a permission denied error because nginx doesn't have permission to use the socket. The only two options I see is to either run a chmod/chown command at run time ever

[2015-10-06 10:04] iveoles opened #6337 "Cannot access protected property"
Hi

Since upgrading from 3.7.0 to 3.9.1 we're having issues on our sites.

    Fatal error: Cannot access protected property Illuminate\\Support\\Collection::$items in /home/*/public_html/vendor/laravel/framework/src/Illuminate/Support/Collection.php on line 411

    	/**
	 * Put an item in the collection by key.
	 *
	 * @param  mixed  $key
	 * @param  mixed  $value
	 * @return void
	 */
	public f

[2015-10-06 12:03] SiebelsTim commented on #6336
hhvm --help
    [...]
      -u [ --user ] arg                     run server under this user account
    [...]

[2015-10-06 13:27] fabioperez opened #6339 "Tests with undefined behavior will vary depending on the architecture"
The results for the following test files have undefined behaviour as stated by \[1\] (page 1185): "If the value of the right operand is negative or is greater than or equal to the width of the promoted left operand, the behavior is undefined".

    hphp/test/zend/good/tests/lang/operators/bitwiseShiftLeft_variationStr_64bit.php
    hphp/test/zend/good/tests/lang/operators/bitwiseShiftRight_basiclo

[2015-10-06 14:50] dopesong opened #6340 "mb_parse_str not parsing multidimensional array."
https://3v4l.org/64YiL

[code]

[code]

[2015-10-06 18:18] fredemmott commented on #6339
The zend tests are taken from PHP - we need to test compatibility, so will not remove these tests, especially as x64 is currently the only supported architecture.

If this is blocking porting work, the script to import the zend tests should be modified to add .skipif files for non-portable tests that check the architecture.

We'd also be happy to take a PR adding a skipif for the bitwise_shift.php

[2015-10-06 18:18] #6339 closed

[2015-10-06 18:20] fredemmott commented on #6330
How much memory does that system have?

[2015-10-06 18:46] Blackglade commented on #6336
I tried that. I also tried setting the value hhvm.server.user = nginx. It doesn't change the owner/group of the socket and hhvm is still run under root

[2015-10-06 20:43] #6231 closed

[2015-10-06 21:03] jwatzman commented on #6047
Diffs are all up internally to do this.

[2015-10-06 21:03] jwatzman commented on #6248
Diffs are all up internally to do this.

[2015-10-06 21:07] jwatzman commented on #6055
Someone else was talking to me about this, but I think it was just general discussion since no one has claimed this yet? I've claimed and will start working on it unless that person pings me :)

[2015-10-06 21:58] iamkingsleyf commented on #4975
I am having same problem

[2015-10-06 22:41] ramsey opened #6341 "Segmentation fault when /proc not mounted"
I installed HHVM 3.9.1 into a chroot jail running Debian Wheezy. The jail did not have `/proc` mounted, so running simple PHP scripts resulted in a segmentation fault:

    root@ip-172-30-0-181:/# php -r 'echo "hello";'
    Core dumped: Segmentation fault
    Stack trace in /tmp/stacktrace.122086.log
    Segmentation fault (core dumped)

Unfortunately, those stack trace logs were empty.

After ask

[2015-10-06 22:44] jwatzman commented on #6341
Looks like we're failing to check the return value of `pthread_getattr_np` / `pthread_attr_init` -- we should print an error and exit if they fail (or maybe try to hobble along? not sure how critical what that's doing is)

[2015-10-06 22:57] fredemmott commented on #6055
:/ I thought I self-assigned this on monday, but github says no... only done preliminary investigations anyway. Yay on-call.

[2015-10-06 23:14] jazzdan opened #6342 "hh_server --convert chokes on certain multiline strings"
While running hh_server --convert on 3.9.1 today I noticed that certain files would exhibit really weird failures on function signatures. I would get an error like this:

[code]

But $value isn't even on line 524, in many cases it's 1-5 lines above that. At first I thought the problem was certain default values, then multiline function signatures. I then noticed that all of these files, somewhere,

[2015-10-06 23:16] jwatzman commented on #6342
Heads-down on PHP7 right now, but will take a look in a week or two.

[2015-10-06 23:17] jazzdan commented on #6342
Also if I move function foo above bar it works fine.

[code]

Thanks @jwatzman!

[2015-10-07 00:57] JoelMarcey commented on #6041
Internal diff: D2515710

[2015-10-07 01:38] wjywbs commented on #6299
Can you try to build glog using gcc 4.9 or recompile it with the `-D_GLIBCXX_USE_CXX11_ABI=0` option with gcc 5.2?

[2015-10-07 04:49] furesoft opened #6346 "hacklang plugin for visual studio"
please add an visual studio plugin for hack

[2015-10-07 05:29] Orvid commented on #6346
That would be pointless without the hack typechecker fully functioning under Windows. Also, creating a Visual Studio plugin for a language is a significant undertaking, syntax highlighting is relatively easy, but the semantic help that you normally expect out of Visual Studio takes significantly more work.

[2015-10-07 06:39] AdeFlit commented on #6197
@fredemmott Thanks for taking the time to look at those reports. I'll pass that on.

[2015-10-07 06:39] #6197 closed

[2015-10-07 10:39] JesseXie commented on #6333
it turned out is our own issues.  sorry for the noise

[2015-10-07 10:39] #6333 closed

[2015-10-07 16:57] fredemmott commented on #6346
This would be best:
 - left until the typechecker runs on windows (in progress)
 - done as a separate project so that people responsible for maintaining it are people who actually use visual studio

[2015-10-07 16:57] #6346 closed

[2015-10-07 18:10] fabioperez commented on #6339
How about the tests that have deterministic behaviours included in these files? Should we also skip them? They are useful for the porting.

[2015-10-07 18:15] fredemmott commented on #6339
The zend/ tests must not be modified at all - they are periodically wiped and replaced with verbatim copies from upstream PHP. If you want part of their content, you need to add new tests outside of zend/ duplicating them.

For bitwise_shift.php, possibly split it up to bitwise_shift.php + bitwise_shift-x64.php, and add a skipif for the latter.

[2015-10-07 18:27] SiebelsTim commented on #6339
Last two times weren't wiped I believed. Periodically... Last time is about a year ago (16.10.2014)? :D

[2015-10-07 18:35] derickr commented on #6299
If I compile libglog myself with 4.9, and link with that (after removing the Debian package for it), this error goes away.

However, the final linking of "CXX executable hhvm" now fails, I suspect for similar reasons, because of boost:

[code]

[2015-10-07 18:44] fabioperez commented on #6339
@fredemmott Thanks.

`hphp/test/slow/ext_gmp/mostInOne.php` is also testing an undefined behaviour.

From https://secure.php.net/manual/en/function.gmp-divexact.php:

The following part of the test is trying to divide 10 by 3:

    $div2 = gmp_divexact("10", "3"); // bogus result
    echo gmp_strval($div2) . "\n";

What can be done about this one?

[2015-10-07 18:48] fredemmott commented on #6339
s/Periodically/Occasionally/ :p

This sounds like it should also have the arch-specific stuff split to separate files with .skipifs

[2015-10-08 02:22] hieppham commented on #6330
My PC has 4GB of RAM.

[2015-10-08 04:36] Norbyte commented on #5491
Yeah, seems to be fixed in 3.8+.

[2015-10-08 04:36] #5491 closed

[2015-10-08 08:44] craigcarnell opened #6347 "El Capitan - Library not loaded: /usr/local/lib/libzip.2.dylib"
[code]
I tried a brew uninstall libzip, brew install libzip

[2015-10-08 10:31] craigcarnell commented on #6347
Closing, re-compiled and it works fine

[2015-10-08 10:31] #6347 closed

[2015-10-08 20:45] #5348 closed

[2015-10-08 22:45] #5920 closed

[2015-10-08 23:16] greencopper opened #6349 "Apache performs worse using HHVM than with php5 module or php5 cgi"
I wanted to do some basic testing before choosing between Nginx with HHVM and Apache2 with HHVM.

I have run the test on Qemu, so it does not represent a real world scenario, and as such might be useless. However, I would like to understand why there is such a huge difference and what it might represent.

For the benchmark I have used http://www.php-benchmark-script.com/

[code]

As expected the r

[2015-10-08 23:40] fredemmott commented on #6349
- we do not optimize for such microbenchmarks. Optimizing for math, loops, if/else microbenchmarks etc often causes tradeoffs (eg code inlining) that actually harm real-world performance
 - comparing HHVM + Apache with Apache + PHP-FPM would be a more reasonable comparison than mod_php - FastCGI itself has overhead
 - it's unclear if HHVM's jit was warmed up properly

[2015-10-08 23:40] #6349 closed

[2015-10-08 23:43] greencopper commented on #6349
I did test Apache with FPM too, but gained similar results as with mod_php.

The HHVM jit ran many times as I tried to improve the results, but the results was almost identical.

[2015-10-08 23:45] greencopper commented on #6349
I would like to perform a test with a Magento installation to measure that, but thanks for your reply! :)

[2015-10-09 00:27] greencopper commented on #6349
Now I am actually getting around the same results for Nginx, so clearly something is wrong in this setup since the good results I got with Nginx was from yesterday.

[code]

[2015-10-09 01:13] wjywbs commented on #6330
Which compiler did you use? Note that hhvm doesn't support gcc 5 now. Can you upload a gdb backtrace or try to compile with gcc 4.9?

[2015-10-09 02:25] hieppham commented on #6330
Thank you @wjywbs, Fedora 22 comes with GCC 5.1 as primary compiler. I'll try my luck with gcc 4.9.

[2015-10-09 09:06] craigcarnell opened #6350 "infinite recursion detected - magento2"
hhvm error.log:

[code]

Magento 2: Adding a product to the backend throws this error on asort

[code]

https://github.com/magento/magento2/issues/2067

hhvm --version
[code]

[2015-10-09 10:50] RalphCorderoy commented on #2761
HHVM's php(1) creates zero-length /tmp/perf-*.map.
It doesn't seem to pay attention to any settings mentioned here.

    $ hhvm --version
    HipHop VM 3.9.1 (rel)
    Compiler: tags/HHVM-3.9.1-0-g0f72cfc2f0a01fdfeb72fbcfeb247b72998a66db
    Repo schema: 6416960c150a4a4726fda74b659105ded8819d9c
    $ ls -l /tmp/perf-*.map
    ls: cannot access /tmp/perf-*.map: No such file or directory
    $ php -

[2015-10-09 11:10] r3wt opened #6351 "problem with png manipulation's."
<img width="768" alt="1421708685flagofdominica" src="https://cloud.githubusercontent.com/assets/4483325/10392335/ae3b0cd2-6e4b-11e5-8136-6959e55fcde7.png">

When uploading the above file, the top left green area of the flag is removed by following code and replaced by transparent fill, due to generic attempt to preserve the alpha layer of png's.

[code]

It has happened on several images thus far,